{
  "openapi": "3.0.1",
  "info": {
    "title": "AccuCampus OpenAPI 3 Documentation",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://accucampus.net/api/v1"
    }
  ],
  "paths": {
    "/doc": {
      "get": {
        "summary": "Get the documentation",
        "description": "Retrieves the list of actions available in the system.",
        "operationId": "doc",
        "parameters": [
          {
            "name": "excludeanonymous",
            "in": "query",
            "description": "If true it excludes the anonymous actions from the returned list.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/featurelist": {
      "get": {
        "summary": "Lists the available features.",
        "operationId": "featurelist",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/login": {
      "get": {
        "summary": "Login",
        "operationId": "login",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "The account domain to login.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "query",
            "description": "The username (email) of the user to login as.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "password",
            "in": "query",
            "description": "The password of the user to login as.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "method",
            "in": "query",
            "description": "The authentication method. Valid values are 'token' and 'cookie'.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rememberme",
            "in": "query",
            "description": "If true then the session will not expire.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/logout": {
      "get": {
        "summary": "Logout",
        "operationId": "logout",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token used to login.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/search": {
      "get": {
        "summary": "Search",
        "operationId": "search",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "The query to search for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Current page to show, zero-based.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/searchgetentities": {
      "get": {
        "summary": "Get the information of the entities that can be searched",
        "operationId": "searchgetentities",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/listtimezones": {
      "get": {
        "summary": "Lists the available timezones",
        "operationId": "listtimezones",
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/myianatimezone": {
      "get": {
        "summary": "Gets the current time zone's iana name",
        "operationId": "myianatimezone",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/captchagetimage": {
      "get": {
        "summary": "Gets a captcha image that the user must complete to do certain requests.",
        "operationId": "captchagetimage",
        "parameters": [
          {
            "name": "captchatoken",
            "in": "query",
            "description": "The captcha token or ID returned by the captcha.getchallenge action",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/captchagetchallenge": {
      "get": {
        "summary": "Gets a captcha challenge that the user must complete to do certain requests.",
        "operationId": "captchagetchallenge",
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/menugetitems": {
      "get": {
        "summary": "Gets the items on the menu",
        "operationId": "menugetitems",
        "parameters": [
          {
            "name": "menuid",
            "in": "query",
            "description": "The Id of the menu to get.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/texttoimage": {
      "get": {
        "summary": "Generates a dynamic image from text",
        "operationId": "texttoimage",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "text",
            "in": "query",
            "description": "The text to convert to an image, use double pipes (||) as a new line.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fontcolor",
            "in": "query",
            "description": "The color of the text, in hex format, without the #.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fontsize",
            "in": "query",
            "description": "The size of the text, in points.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "direction",
            "in": "query",
            "description": "Either vertical or horizontal, default horizontal.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "width",
            "in": "query",
            "description": "The image width in pixels (or height if the direction is vertical).",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/qrloginget": {
      "get": {
        "summary": "Gets an image of a QR token",
        "operationId": "qrloginget",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/qrloginlogin": {
      "get": {
        "summary": "Login",
        "operationId": "qrloginlogin",
        "parameters": [
          {
            "name": "onetimetoken",
            "in": "query",
            "description": "The token read from the QR code.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/appsharegetphone": {
      "get": {
        "summary": "Gets the phone number of the current user",
        "operationId": "appsharegetphone",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/appsharesendtext": {
      "get": {
        "summary": "Sends an SMS with the link to the app",
        "operationId": "appsharesendtext",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phonenumber",
            "in": "query",
            "description": "Phone number to where to send the link. Leave empty to the number on file.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/ssogeneratekey": {
      "get": {
        "summary": "Generate/reset single sign on access key.",
        "description": "Allows the user to generate or reset the access key for single sign-on.",
        "operationId": "ssogeneratekey",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/ssosavesettings": {
      "post": {
        "summary": "Edit single sign-on settings.",
        "description": "Allows the user to edit settings for single sign-on.",
        "operationId": "ssosavesettings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "token",
                  "enabled",
                  "expireswheninactive"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "The authentication token."
                  },
                  "enabled": {
                    "type": "boolean",
                    "description": "Specifies whether the single sign on is enabled or not."
                  },
                  "expireswheninactive": {
                    "type": "boolean",
                    "description": "Specifies whether the sessions should expire when inactive."
                  },
                  "redirecturl": {
                    "type": "string",
                    "description": "The url the user gets redirected when the session is closed or expires."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/ssogetsettings": {
      "get": {
        "summary": "View single sign on settings.",
        "description": "Allows the user to view settings for single sign-on.",
        "operationId": "ssogetsettings",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/ssoissuetoken": {
      "get": {
        "summary": "Issue single sign-on token",
        "operationId": "ssoissuetoken",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "The single sign-on key of the account.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "query",
            "description": "The email of the user to sign-on.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expires",
            "in": "query",
            "description": "Specifies whether the session should expire when inactive.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/licensegetcurrent": {
      "get": {
        "summary": "Gets the current license information",
        "operationId": "licensegetcurrent",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/licenserenew": {
      "get": {
        "summary": "Contact Engineerica in order to renew the AccuCampus subscription",
        "description": "Allows the user to select the option to contact Engineerica when the AccuCampus account is nearing its renewal date.",
        "operationId": "licenserenew",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "The e-mail of the user sending the request.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phonenumber",
            "in": "query",
            "description": "The phone number of the user sending the request.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jobtitle",
            "in": "query",
            "description": "The job title of the user sending the request.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "institution",
            "in": "query",
            "description": "The institution of the user sending the request.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "comments",
            "in": "query",
            "description": "Comments entered by the user sending the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/licenseacceptagreement": {
      "get": {
        "summary": "Accept the license agreement",
        "operationId": "licenseacceptagreement",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/licensegetagreementstatus": {
      "get": {
        "summary": "Check if license agreement has been accepted",
        "operationId": "licensegetagreementstatus",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/myrights": {
      "get": {
        "summary": "Gets the list of actions the user can execute.",
        "operationId": "myrights",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/myprofile": {
      "get": {
        "summary": "Gets the logged in user information.",
        "operationId": "myprofile",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "photosize",
            "in": "query",
            "description": "The size in pixels of the photo URLs returned. Defaults to 40. If the size specified is not available, a similar one will be returned.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/mysaveprofile": {
      "post": {
        "summary": "Updates logged user's profile information",
        "operationId": "mysaveprofile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "token",
                  "firstname",
                  "lastname",
                  "email"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "The authentication token."
                  },
                  "firstname": {
                    "type": "string",
                    "description": "The first name of the user."
                  },
                  "middlename": {
                    "type": "string",
                    "description": "The middle name of the user."
                  },
                  "lastname": {
                    "type": "string",
                    "description": "The last name of the user."
                  },
                  "email": {
                    "type": "string",
                    "description": "The email of the user."
                  },
                  "mobilephonenumber": {
                    "type": "string",
                    "description": "The mobile phone number of the user."
                  },
                  "homephonenumber": {
                    "type": "string",
                    "description": "The home phone number of the user."
                  },
                  "workphonenumber": {
                    "type": "string",
                    "description": "The work phone number of the user."
                  },
                  "streetaddress": {
                    "type": "string",
                    "description": "The street address of the user."
                  },
                  "city": {
                    "type": "string",
                    "description": "The city of the user."
                  },
                  "state": {
                    "type": "string",
                    "description": "The state of the user."
                  },
                  "zipcode": {
                    "type": "string",
                    "description": "The zip code of the user."
                  },
                  "title": {
                    "type": "string",
                    "description": "The title of the user."
                  },
                  "company": {
                    "type": "string",
                    "description": "The company of the user."
                  },
                  "photoid": {
                    "type": "string",
                    "description": "The ID of a photo uploaded using user.loadphoto.",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/myaccount": {
      "get": {
        "summary": "Gets the logged in user account.",
        "operationId": "myaccount",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/userlist": {
      "get": {
        "summary": "View a list of users",
        "description": "Allows the user to view the full list of users and is based on role permissions.",
        "operationId": "userlist",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "The first record to return.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "The max number of records to return.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "roleid",
            "in": "query",
            "description": "The id of the role to filter users by, or empty to return all users.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "onlywithoutcard",
            "in": "query",
            "description": "If is 1 then only the users without a card are returned, otherwise all users are returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "photosize",
            "in": "query",
            "description": "The size in pixels of the photo URLs returned. Defaults to 40. If the size specified is not available, a similar one will be returned.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/userget": {
      "get": {
        "summary": "Search and view details of a user",
        "description": "Allows the user to search and view a user and their details.",
        "operationId": "userget",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "The id of the user to get.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "photosize",
            "in": "query",
            "description": "The size in pixels of the photo URLs returned. Defaults to 40. If the size specified is not available, a similar one will be returned.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/usergetbycard": {
      "get": {
        "summary": "Search user by card number",
        "description": "Allows the user to search for a user by their card number.",
        "operationId": "usergetbycard",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "card",
            "in": "query",
            "description": "The card number of the user to get.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "photosize",
            "in": "query",
            "description": "The size in pixels of the photo URLs returned. Defaults to 40. If the size specified is not available, a similar one will be returned.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/usersave": {
      "post": {
        "summary": "Create or edit a user",
        "description": "Allows the user to create or edit a user.",
        "operationId": "usersave",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "token",
                  "firstname",
                  "lastname",
                  "email"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "The authentication token."
                  },
                  "id": {
                    "type": "string",
                    "description": "The id of the user to save (leave empty to create a new one).",
                    "format": "uuid"
                  },
                  "firstname": {
                    "type": "string",
                    "description": "The first name of the user."
                  },
                  "middlename": {
                    "type": "string",
                    "description": "The middle name of the user."
                  },
                  "lastname": {
                    "type": "string",
                    "description": "The last name of the user."
                  },
                  "email": {
                    "type": "string",
                    "description": "The email of the user."
                  },
                  "mobilephonenumber": {
                    "type": "string",
                    "description": "The mobile phone number of the user."
                  },
                  "homephonenumber": {
                    "type": "string",
                    "description": "The home phone number of the user."
                  },
                  "workphonenumber": {
                    "type": "string",
                    "description": "The work phone number of the user."
                  },
                  "streetaddress": {
                    "type": "string",
                    "description": "The street address of the user."
                  },
                  "city": {
                    "type": "string",
                    "description": "The city of the user."
                  },
                  "state": {
                    "type": "string",
                    "description": "The state of the user."
                  },
                  "zipcode": {
                    "type": "string",
                    "description": "The zip code of the user."
                  },
                  "title": {
                    "type": "string",
                    "description": "The title of the user."
                  },
                  "company": {
                    "type": "string",
                    "description": "The company of the user."
                  },
                  "password": {
                    "type": "string",
                    "description": "The new password of the user."
                  },
                  "roles": {
                    "type": "string",
                    "description": "Comma separated list of roles of the user."
                  },
                  "assigncard": {
                    "type": "string",
                    "description": "True if a new card has to be assigned to the user, otherwise false."
                  },
                  "cardnumber": {
                    "type": "string",
                    "description": "The card number that has to be assigned to the user."
                  },
                  "more": {
                    "type": "string",
                    "description": "Custom data of the user"
                  },
                  "photoid": {
                    "type": "string",
                    "description": "The ID of a photo uploaded using user.loadphoto.",
                    "format": "uuid"
                  },
                  "active": {
                    "type": "boolean",
                    "description": "The status of the user."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/userdelete": {
      "get": {
        "summary": "Delete a user",
        "description": "Allows the user to delete a user.",
        "operationId": "userdelete",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "The id of the user to delete.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/userchangepwd": {
      "get": {
        "summary": "Change user's own password",
        "description": "Allows the user to change their own password.",
        "operationId": "userchangepwd",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "oldpass",
            "in": "query",
            "description": "The old password of the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "newpass",
            "in": "query",
            "description": "The new password of the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/userchangepwdbyreq": {
      "get": {
        "summary": "Changes the user password using a change password request id",
        "operationId": "userchangepwdbyreq",
        "parameters": [
          {
            "name": "changereq",
            "in": "query",
            "description": "The change password request ID sent by email to the user.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "newpass",
            "in": "query",
            "description": "The new password of the user.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/userrequestpwdchange": {
      "get": {
        "summary": "Requests a password change",
        "operationId": "userrequestpwdchange",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "The domain of the account where the user exists.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "The email of the user.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/usersavepwdchange": {
      "post": {
        "summary": "Send email to the specified user(s) to set/change their passwords",
        "description": "Allows the user to trigger an email to another user asking them to set or change their password.",
        "operationId": "usersavepwdchange",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "The authentication token."
                  },
                  "users": {
                    "type": "string",
                    "description": "A JSON array containing the ids of the users whose passwords have to be set."
                  },
                  "role": {
                    "type": "string",
                    "description": "A specific role whose users passwords have to be set.",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/userloadphoto": {
      "get": {
        "summary": "Upload a photo for a specific user",
        "description": "Allows the user to upload a photo for a user.",
        "operationId": "userloadphoto",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "upload",
            "in": "query",
            "description": "Set 'file' as value to indicate that a file is being submitted in the body (instead of a JSON object).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filename",
            "in": "query",
            "description": "The local name of the uploaded file. For later reference.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userid",
            "in": "query",
            "description": "The user ID to directly associate the upload photo. If not specified, a temp ID is returned that can be later specified in 'user.save'.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "automatch",
            "in": "query",
            "description": "Set this to true to find the specific user based on the file name. ",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/userfindsimilar": {
      "get": {
        "summary": "Finds similar users to prevent duplicates",
        "description": "Allows the user to be warned if a user they are creating has the same card number as another user.",
        "operationId": "userfindsimilar",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currentid",
            "in": "query",
            "description": "The id of the current user.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "phonenumber",
            "in": "query",
            "description": "A phone number to search for similar users.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cardnumber",
            "in": "query",
            "description": "A card number to search for similar users.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/usermovedata": {
      "get": {
        "summary": "Move data between users",
        "description": "Allows administrators to move data between users.",
        "operationId": "usermovedata",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "The id of the user that is the source of the data.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "destination",
            "in": "query",
            "description": "The id of the user that is the destination of the data.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/rolelist": {
      "get": {
        "summary": "Show a list of roles",
        "operationId": "rolelist",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter by name of the role.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/clientget": {
      "get": {
        "summary": "Get client",
        "operationId": "clientget",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "client",
            "in": "query",
            "description": "The unique id of the client.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientname",
            "in": "query",
            "description": "The custom name of the client.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/clientsave": {
      "post": {
        "summary": "Saves a client",
        "operationId": "clientsave",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "token",
                  "client",
                  "clientname"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "The authentication token."
                  },
                  "client": {
                    "type": "string",
                    "description": "The id of the client to save.",
                    "format": "uuid"
                  },
                  "clientname": {
                    "type": "string",
                    "description": "The name of the client."
                  },
                  "pushtoken": {
                    "type": "string",
                    "description": "The push token of the client."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/clientlist": {
      "get": {
        "summary": "Gets the clients of the specified conference",
        "operationId": "clientlist",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "The first record to return.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "The max number of records to return.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/clientsendmessage": {
      "get": {
        "summary": "Send a message to a client",
        "operationId": "clientsendmessage",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uniqueclientid",
            "in": "query",
            "description": "The unique id of the client.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "message",
            "in": "query",
            "description": "The body of the message to send.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/bgjobgetstatus": {
      "get": {
        "summary": "Get background job status",
        "operationId": "bgjobgetstatus",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jobid",
            "in": "query",
            "description": "The ID of the job to get the status. 10 most recent will be returned if not specified.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "jobtype",
            "in": "query",
            "description": "The job type to filter by.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/settingget": {
      "get": {
        "summary": "Get settings for the account or the specified scope",
        "operationId": "settingget",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "description": "The account domain, in case of reading settings annonymously.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keys",
            "in": "query",
            "description": "The option keys to get values for. Enter multiple separated by comma.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "description": "The scope of the settings to get.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/settingsave": {
      "post": {
        "summary": "Save settings for the account or the specified scope",
        "description": "Allows the user to affect settings that are not specified elsewhere in permissions. This includes Attendance, Appointments, Compass, Media, and Social Activity.",
        "operationId": "settingsave",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "token",
                  "optionsjson"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "The authentication token."
                  },
                  "optionsjson": {
                    "type": "string",
                    "description": "The options to save in the account, in JSON format."
                  },
                  "scope": {
                    "type": "string",
                    "description": "The scope of the settings to save."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/settingaddlogo": {
      "get": {
        "summary": "Add a logo to the account",
        "description": "Allows the user to add the logo for the account, which appears on all pages on the AccuCampus browser version.",
        "operationId": "settingaddlogo",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "upload",
            "in": "query",
            "description": "Set 'file' as value to indicate that a file is being submitted in the body (instead of a JSON object).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filename",
            "in": "query",
            "description": "The original filename, needed to process the file.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/settingviewgeneral": {
      "get": {
        "summary": "View general settings for the account",
        "description": "Allows the user to view the settings' general section.",
        "operationId": "settingviewgeneral",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/actionloglist": {
      "get": {
        "summary": "View a list of users action logs",
        "description": "Allows the user to view the audit logs for the account.",
        "operationId": "actionloglist",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user",
            "in": "query",
            "description": "The id of the user whose action logs have to be returned.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "startdate",
            "in": "query",
            "description": "The start date of the period to filter the logs.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "enddate",
            "in": "query",
            "description": "The end date of the period to filter the logs.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "resource",
            "in": "query",
            "description": "The resource to filter the action logs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "actionfilter",
            "in": "query",
            "description": "The action to filter the action logs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "argument",
            "in": "query",
            "description": "The id of the entity that was the argument of the executed action.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "The first record to return.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "The max number of records to return.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/version": {
      "get": {
        "summary": "Get current version information",
        "operationId": "version",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/changelog": {
      "get": {
        "summary": "Get the application change log",
        "operationId": "changelog",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/easyloginaddbgimage": {
      "get": {
        "summary": "Adds background image for the login",
        "description": "Allows the user to set the background image that all users will see when logging into an AccuCampus account not using SSO.",
        "operationId": "easyloginaddbgimage",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "upload",
            "in": "query",
            "description": "Set 'file' as value to indicate that a file is being submitted in the body (instead of a JSON object).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filename",
            "in": "query",
            "description": "The original filename, needed to process the file.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/export": {
      "get": {
        "summary": "Export AccuCampus data",
        "description": "Allows the user to export data from AccuCampus into a CSV, HTML, or Excel format.",
        "operationId": "export",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exporttype",
            "in": "query",
            "description": "What to export.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exportformat",
            "in": "query",
            "description": "The format of the resulting file. Valid types are CSV, HTML, XLS.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "Pipe separated filters for the export, eg: aaa=val|bbb=val|...",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/exportlisttypes": {
      "get": {
        "summary": "Lists available export types",
        "operationId": "exportlisttypes",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/locationget": {
      "get": {
        "summary": "Search and view details of a location",
        "description": "Allows the user to search and view an individual location and its details.",
        "operationId": "locationget",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "The id of the location to get.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/locationlist": {
      "get": {
        "summary": "View a list of locations",
        "description": "Allows the user to view the list of all locations to which they are scoped.",
        "operationId": "locationlist",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "The first record to return.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "The max number of records to return.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "locations",
            "in": "query",
            "description": "The comma-separated list containing the ids of the locations to list.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortbygroup",
            "in": "query",
            "description": "True to list locations sorted by the 'Located In' property. Defaults to false.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/locationdelete": {
      "get": {
        "summary": "Delete a location",
        "description": "Allows the user to delete an existing location.",
        "operationId": "locationdelete",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "The id of the location to delete.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/locationsave": {
      "post": {
        "summary": "Create or edit a location",
        "description": "Allows the user to create or edit a location.",
        "operationId": "locationsave",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "token",
                  "name"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "The authentication token."
                  },
                  "id": {
                    "type": "string",
                    "description": "The id of the location save (leave empty to create a new one).",
                    "format": "uuid"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the location."
                  },
                  "categoryid": {
                    "type": "string",
                    "description": "The id of location's LocationCategory.",
                    "format": "uuid"
                  },
                  "categoryname": {
                    "type": "string",
                    "description": "The name of the location's LocationCategory."
                  },
                  "streetaddress": {
                    "type": "string",
                    "description": "The street address of the location."
                  },
                  "latitude": {
                    "type": "number",
                    "description": "The latitude of the location.",
                    "format": "double"
                  },
                  "longitude": {
                    "type": "number",
                    "description": "The longitude of the location.",
                    "format": "double"
                  },
                  "websiteurl": {
                    "type": "string",
                    "description": "The web site url of the location."
                  },
                  "email": {
                    "type": "string",
                    "description": "The e-mail address of the location."
                  },
                  "moreinformation": {
                    "type": "string",
                    "description": "More information relevant to the location."
                  },
                  "isrestricted": {
                    "type": "boolean",
                    "description": "Whether this location has the access restricted."
                  },
                  "accessroles": {
                    "type": "string",
                    "description": "The roles that can view the info associated to this location, in JSON format."
                  },
                  "order": {
                    "type": "integer",
                    "description": "The order of the location.",
                    "format": "int32"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/templatelist": {
      "get": {
        "summary": "View a list of defined templates",
        "description": "Allows the user to view the full list of created templates.",
        "operationId": "templatelist",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "The first record to return.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "The max number of records to return.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "kind",
            "in": "query",
            "description": "The kind of the templates to return. It must be included in (badge, certificate).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "designedonly",
            "in": "query",
            "description": "If true then it only returns the templates that were designed. Otherwise, it returns all.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/templateget": {
      "get": {
        "summary": "View details of a template",
        "description": "Allows the user to view a template and its details.",
        "operationId": "templateget",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "The id of the template to get.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/templatesave": {
      "post": {
        "summary": "Create or edit a template",
        "description": "Allows the user to create or edit a template.",
        "operationId": "templatesave",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "token",
                  "kind",
                  "name"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "The authentication token."
                  },
                  "id": {
                    "type": "string",
                    "description": "The id of the template to save (leave empty to create a new one).",
                    "format": "uuid"
                  },
                  "kind": {
                    "type": "string",
                    "description": "The kind of the templates to return. It must be included in (badge, certificate)."
                  },
                  "name": {
                    "type": "string",
                    "description": "The template's name."
                  },
                  "description": {
                    "type": "string",
                    "description": "The template's description."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/templatesavelayout": {
      "post": {
        "summary": "Save the layout of a template",
        "description": "Allows the user to edit a template's layout.",
        "operationId": "templatesavelayout",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "token",
                  "id",
                  "layout"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "The authentication token."
                  },
                  "id": {
                    "type": "string",
                    "description": "The id of the template whose layout needs to be saved.",
                    "format": "uuid"
                  },
                  "layout": {
                    "type": "string",
                    "description": "The template's layout (in JSON)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/templateaddimage": {
      "get": {
        "summary": "Add an image to a template",
        "description": "Allows the user to add an image to a badge or certificate template.",
        "operationId": "templateaddimage",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "template",
            "in": "query",
            "description": "The id of the template where the image has to be added",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "upload",
            "in": "query",
            "description": "Set 'file' as value to indicate that a file is being submitted in the body (instead of a JSON object).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filename",
            "in": "query",
            "description": "The local name of the uploaded file. For later reference.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/templatedelete": {
      "get": {
        "summary": "Delete a template",
        "description": "Allows the user to delete an existing template.",
        "operationId": "templatedelete",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "The id of the template to delete.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/templategenerate": {
      "get": {
        "summary": "Generate specified templates",
        "description": "Allows the user to generate an existing template as badges or certificates.",
        "operationId": "templategenerate",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "template",
            "in": "query",
            "description": "The id of the template to generate.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "The source key of the selected template data source.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "singlefile",
            "in": "query",
            "description": "True if all the templates should be placed in the same file, false if each one shoud be in its own file.",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "userid",
            "in": "query",
            "description": "Only the template for these users is created (and emailed if 'email' is true), enter multiple separated by commas.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "forsending",
            "in": "query",
            "description": "It specifies the purpose of the creation of the templates. If true then is for sending via e-mail, otherwise is just for downloading",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "role",
            "in": "query",
            "description": "When printing all badges, filter by person type, can be either: attendee, presenter or exhibitor",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "Pipe separated filters for the generation, eg: aaa=val|bbb=val|...",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/templategetgenerated": {
      "get": {
        "summary": "View generated templates",
        "description": "Allows the user to view templates which have been generated as badges or certificates.",
        "operationId": "templategetgenerated",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jobid",
            "in": "query",
            "description": "The id of the job that is creating the templates.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/templateemail": {
      "get": {
        "summary": "Send generated templates by email",
        "description": "Allows the user to send generated templates via email through AccuCampus.",
        "operationId": "templateemail",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jobid",
            "in": "query",
            "description": "The id of the job that is creating the templates.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "templatekind",
            "in": "query",
            "description": "The kind of the template you're sending. It must be included in (badge, certificate).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "emailfrom",
            "in": "query",
            "description": "The name of the sender to be displayed in the receipients inbox",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "emailreplyto",
            "in": "query",
            "description": "The reply-to field for the emails.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "emailsubject",
            "in": "query",
            "description": "Args depending on the send-to flag.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "emailbody",
            "in": "query",
            "description": "Args depending on the send-to flag.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/templatelistsources": {
      "get": {
        "summary": "View a list of templates' data sources",
        "description": "Allows the user to see tokens to be used in the template",
        "operationId": "templatelistsources",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kind",
            "in": "query",
            "description": "The kind of the templates to return. It must be included in (badge, certificate).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/textcreditremaining": {
      "get": {
        "summary": "Gets the remaining text credits for the account",
        "operationId": "textcreditremaining",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/translationlist": {
      "get": {
        "summary": "Lists all the available translations in the system",
        "operationId": "translationlist",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Text to search/filter translations.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nondefaultonly",
            "in": "query",
            "description": "If true then it returns only the terms translated. Otherwise, it returns all.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "appdefaultasuniversal",
            "in": "query",
            "description": "If true then it uses the app default translation as the universal term.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/translationsave": {
      "post": {
        "summary": "Edit a translation",
        "description": "Allows the user to edit a translation for the entire account.",
        "operationId": "translationsave",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "token",
                  "id",
                  "translation"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "The authentication token."
                  },
                  "id": {
                    "type": "string",
                    "description": "The id of the translation as returned by translation.list."
                  },
                  "translation": {
                    "type": "string",
                    "description": "The translated text."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/translationget": {
      "get": {
        "summary": "Gets the translations of the specified values",
        "operationId": "translationget",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "universal",
            "in": "query",
            "description": "Pipe separated list of universal text to be translated.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/translationgetcachefile": {
      "get": {
        "summary": "Get the file containing the translations",
        "operationId": "translationgetcachefile",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "account",
            "in": "query",
            "description": "The id of the account whose translations file has to be retrieved.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/usersettingssave": {
      "post": {
        "summary": "Saves a user setting",
        "operationId": "usersettingssave",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "token",
                  "key",
                  "value"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "The authentication token."
                  },
                  "key": {
                    "type": "string",
                    "description": "Setting key to save."
                  },
                  "value": {
                    "type": "string",
                    "description": "Setting value to save."
                  },
                  "user": {
                    "type": "string",
                    "description": "The user id whose settings have to be saved.",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/usersettingssavemultiple": {
      "post": {
        "summary": "Save multiple user settings at once",
        "operationId": "usersettingssavemultiple",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "token",
                  "optionsjson"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "The authentication token."
                  },
                  "optionsjson": {
                    "type": "string",
                    "description": "The options to save in the account, in JSON format."
                  },
                  "user": {
                    "type": "string",
                    "description": "The user id whose settings have to be saved.",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/usersettingsget": {
      "get": {
        "summary": "Lists available user settings",
        "operationId": "usersettingsget",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keys",
            "in": "query",
            "description": "Setting key to get. Can be multiple separated by commas.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user",
            "in": "query",
            "description": "The user id whose settings have to be returned.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/usersettingsgetmultiple": {
      "get": {
        "summary": "Get multiple user settings",
        "operationId": "usersettingsgetmultiple",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keys",
            "in": "query",
            "description": "Setting key to get. Can be multiple separated by commas.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user",
            "in": "query",
            "description": "The user id whose settings have to be returned.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/quickpanelinit": {
      "get": {
        "summary": "Returns the initial information required to show the quick panels",
        "operationId": "quickpanelinit",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/quickpanelfetchwidget": {
      "get": {
        "summary": "Fetches the information for a specific widget.",
        "operationId": "quickpanelfetchwidget",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "widgetid",
            "in": "query",
            "description": "The ID of the data to fetch it's data.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/quickpanellistwidgettypes": {
      "get": {
        "summary": "Lists all the widget types available in the system",
        "operationId": "quickpanellistwidgettypes",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/quickpanelgetwidget": {
      "get": {
        "summary": "View details of a widget included in the Quick Panel",
        "description": "Allows the user to view a widget added in as Quick Panel.",
        "operationId": "quickpanelgetwidget",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "The id of the widget to get.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/quickpanellistwidgets": {
      "get": {
        "summary": "Lists all the widgets that are added in the Quick Panel",
        "description": "Allows the user to view the widgets that have been added to the Quick Panel.",
        "operationId": "quickpanellistwidgets",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/quickpanelsavewidget": {
      "post": {
        "summary": "Saves a widget for the Quick Panel",
        "description": "Allows the user to save a widget to the Quick Panel.",
        "operationId": "quickpanelsavewidget",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "token",
                  "sectionname",
                  "sortorder",
                  "title",
                  "type",
                  "data",
                  "roleids"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "The authentication token."
                  },
                  "id": {
                    "type": "string",
                    "description": "The id of the widget.",
                    "format": "uuid"
                  },
                  "sectionname": {
                    "type": "string",
                    "description": "The section name where to add the widget."
                  },
                  "sortorder": {
                    "type": "integer",
                    "description": "The sort order of the widget.",
                    "format": "int32"
                  },
                  "title": {
                    "type": "string",
                    "description": "Title of the widget."
                  },
                  "type": {
                    "type": "string",
                    "description": "Type of the widget."
                  },
                  "data": {
                    "type": "string",
                    "description": "Context data of the widget."
                  },
                  "roleids": {
                    "type": "string",
                    "description": "CSV list of roles that display this widget."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/quickpaneldeletewidget": {
      "get": {
        "summary": "Deletes a widget from the Quick Panel",
        "description": "Allows the user to delete a widget that has been added to the Quick Panel.",
        "operationId": "quickpaneldeletewidget",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "The id of the widget.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/quickpanelreorderwidgets": {
      "get": {
        "summary": "Reorders the widgets and moves them to a specific column",
        "operationId": "quickpanelreorderwidgets",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sectionname",
            "in": "query",
            "description": "The section name where to sort the widgets.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderids",
            "in": "query",
            "description": "CSV list of the widgets to reorder.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/termget": {
      "get": {
        "summary": "Search and view details of a term",
        "description": "Allows the user to view a term and its details.",
        "operationId": "termget",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "The id of the term to get.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/termlist": {
      "get": {
        "summary": "Search and view details of all terms",
        "description": "Allows the user to view the full list of existing term.",
        "operationId": "termlist",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "The first record to return.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "The max number of records to return.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "notpast",
            "in": "query",
            "description": "Specifies whether the terms in the past should be returned or not.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/termdelete": {
      "get": {
        "summary": "Delete a term",
        "description": "Allows the user to delete a term from the existing list.",
[...]
