openapi: 3.0.1
info:
  title: AccuCampus OpenAPI 3 Documentation
  version: 1.0.0
servers:
- url: https://accucampus.net/api/v1
paths:
  /doc:
    get:
      description: Retrieves the list of actions available in the system.
      operationId: doc
      parameters:
      - description: If true it excludes the anonymous actions from the returned list.
        explode: true
        in: query
        name: excludeanonymous
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Get the documentation
      x-accepts: application/json
  /featurelist:
    get:
      operationId: featurelist
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Lists the available features.
      x-accepts: application/json
  /login:
    get:
      operationId: login
      parameters:
      - description: The account domain to login.
        explode: true
        in: query
        name: domain
        required: true
        schema:
          type: string
        style: form
      - description: The username (email) of the user to login as.
        explode: true
        in: query
        name: username
        required: true
        schema:
          type: string
        style: form
      - description: The password of the user to login as.
        explode: true
        in: query
        name: password
        required: true
        schema:
          type: string
        style: form
      - description: The authentication method. Valid values are 'token' and 'cookie'.
        explode: true
        in: query
        name: method
        required: true
        schema:
          type: string
        style: form
      - description: If true then the session will not expire.
        explode: true
        in: query
        name: rememberme
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Login
      x-accepts: application/json
  /logout:
    get:
      operationId: logout
      parameters:
      - description: The authentication token used to login.
        explode: true
        in: query
        name: token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Logout
      x-accepts: application/json
  /search:
    get:
      operationId: search
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The query to search for.
        explode: true
        in: query
        name: query
        required: true
        schema:
          type: string
        style: form
      - description: Current page to show, zero-based.
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Search
      x-accepts: application/json
  /searchgetentities:
    get:
      operationId: searchgetentities
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Get the information of the entities that can be searched
      x-accepts: application/json
  /listtimezones:
    get:
      operationId: listtimezones
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Lists the available timezones
      x-accepts: application/json
  /myianatimezone:
    get:
      operationId: myianatimezone
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Gets the current time zone's iana name
      x-accepts: application/json
  /captchagetimage:
    get:
      operationId: captchagetimage
      parameters:
      - description: The captcha token or ID returned by the captcha.getchallenge
          action
        explode: true
        in: query
        name: captchatoken
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Gets a captcha image that the user must complete to do certain requests.
      x-accepts: application/json
  /captchagetchallenge:
    get:
      operationId: captchagetchallenge
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Gets a captcha challenge that the user must complete to do certain
        requests.
      x-accepts: application/json
  /menugetitems:
    get:
      operationId: menugetitems
      parameters:
      - description: The Id of the menu to get.
        explode: true
        in: query
        name: menuid
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Gets the items on the menu
      x-accepts: application/json
  /texttoimage:
    get:
      operationId: texttoimage
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The text to convert to an image, use double pipes (||) as a new
          line.
        explode: true
        in: query
        name: text
        required: true
        schema:
          type: string
        style: form
      - description: 'The color of the text, in hex format, without the #.'
        explode: true
        in: query
        name: fontcolor
        required: false
        schema:
          type: string
        style: form
      - description: The size of the text, in points.
        explode: true
        in: query
        name: fontsize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Either vertical or horizontal, default horizontal.
        explode: true
        in: query
        name: direction
        required: false
        schema:
          type: string
        style: form
      - description: The image width in pixels (or height if the direction is vertical).
        explode: true
        in: query
        name: width
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Generates a dynamic image from text
      x-accepts: application/json
  /qrloginget:
    get:
      operationId: qrloginget
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Gets an image of a QR token
      x-accepts: application/json
  /qrloginlogin:
    get:
      operationId: qrloginlogin
      parameters:
      - description: The token read from the QR code.
        explode: true
        in: query
        name: onetimetoken
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Login
      x-accepts: application/json
  /appsharegetphone:
    get:
      operationId: appsharegetphone
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Gets the phone number of the current user
      x-accepts: application/json
  /appsharesendtext:
    get:
      operationId: appsharesendtext
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: Phone number to where to send the link. Leave empty to the number
          on file.
        explode: true
        in: query
        name: phonenumber
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Sends an SMS with the link to the app
      x-accepts: application/json
  /ssogeneratekey:
    get:
      description: Allows the user to generate or reset the access key for single
        sign-on.
      operationId: ssogeneratekey
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Generate/reset single sign on access key.
      x-accepts: application/json
  /ssosavesettings:
    post:
      description: Allows the user to edit settings for single sign-on.
      operationId: ssosavesettings
      requestBody:
        content:
          application/json:
            schema:
              properties:
                token:
                  description: The authentication token.
                  type: string
                enabled:
                  description: Specifies whether the single sign on is enabled or
                    not.
                  type: boolean
                expireswheninactive:
                  description: Specifies whether the sessions should expire when inactive.
                  type: boolean
                redirecturl:
                  description: The url the user gets redirected when the session is
                    closed or expires.
                  type: string
              required:
              - enabled
              - expireswheninactive
              - token
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Edit single sign-on settings.
      x-contentType: application/json
      x-accepts: application/json
  /ssogetsettings:
    get:
      description: Allows the user to view settings for single sign-on.
      operationId: ssogetsettings
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: View single sign on settings.
      x-accepts: application/json
  /ssoissuetoken:
    get:
      operationId: ssoissuetoken
      parameters:
      - description: The single sign-on key of the account.
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - description: The email of the user to sign-on.
        explode: true
        in: query
        name: username
        required: true
        schema:
          type: string
        style: form
      - description: Specifies whether the session should expire when inactive.
        explode: true
        in: query
        name: expires
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Issue single sign-on token
      x-accepts: application/json
  /licensegetcurrent:
    get:
      operationId: licensegetcurrent
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Gets the current license information
      x-accepts: application/json
  /licenserenew:
    get:
      description: Allows the user to select the option to contact Engineerica when
        the AccuCampus account is nearing its renewal date.
      operationId: licenserenew
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The e-mail of the user sending the request.
        explode: true
        in: query
        name: email
        required: true
        schema:
          type: string
        style: form
      - description: The phone number of the user sending the request.
        explode: true
        in: query
        name: phonenumber
        required: true
        schema:
          type: string
        style: form
      - description: The job title of the user sending the request.
        explode: true
        in: query
        name: jobtitle
        required: false
        schema:
          type: string
        style: form
      - description: The institution of the user sending the request.
        explode: true
        in: query
        name: institution
        required: false
        schema:
          type: string
        style: form
      - description: Comments entered by the user sending the request.
        explode: true
        in: query
        name: comments
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Contact Engineerica in order to renew the AccuCampus subscription
      x-accepts: application/json
  /licenseacceptagreement:
    get:
      operationId: licenseacceptagreement
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Accept the license agreement
      x-accepts: application/json
  /licensegetagreementstatus:
    get:
      operationId: licensegetagreementstatus
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Check if license agreement has been accepted
      x-accepts: application/json
  /myrights:
    get:
      operationId: myrights
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Gets the list of actions the user can execute.
      x-accepts: application/json
  /myprofile:
    get:
      operationId: myprofile
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The size in pixels of the photo URLs returned. Defaults to 40.
          If the size specified is not available, a similar one will be returned.
        explode: true
        in: query
        name: photosize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Gets the logged in user information.
      x-accepts: application/json
  /mysaveprofile:
    post:
      operationId: mysaveprofile
      requestBody:
        content:
          application/json:
            schema:
              properties:
                token:
                  description: The authentication token.
                  type: string
                firstname:
                  description: The first name of the user.
                  type: string
                middlename:
                  description: The middle name of the user.
                  type: string
                lastname:
                  description: The last name of the user.
                  type: string
                email:
                  description: The email of the user.
                  type: string
                mobilephonenumber:
                  description: The mobile phone number of the user.
                  type: string
                homephonenumber:
                  description: The home phone number of the user.
                  type: string
                workphonenumber:
                  description: The work phone number of the user.
                  type: string
                streetaddress:
                  description: The street address of the user.
                  type: string
                city:
                  description: The city of the user.
                  type: string
                state:
                  description: The state of the user.
                  type: string
                zipcode:
                  description: The zip code of the user.
                  type: string
                title:
                  description: The title of the user.
                  type: string
                company:
                  description: The company of the user.
                  type: string
                photoid:
                  description: The ID of a photo uploaded using user.loadphoto.
                  format: uuid
                  type: string
              required:
              - email
              - firstname
              - lastname
              - token
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Updates logged user's profile information
      x-contentType: application/json
      x-accepts: application/json
  /myaccount:
    get:
      operationId: myaccount
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Gets the logged in user account.
      x-accepts: application/json
  /userlist:
    get:
      description: Allows the user to view the full list of users and is based on
        role permissions.
      operationId: userlist
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The first record to return.
        explode: true
        in: query
        name: from
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The max number of records to return.
        explode: true
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The id of the role to filter users by, or empty to return all
          users.
        explode: true
        in: query
        name: roleid
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: If is 1 then only the users without a card are returned, otherwise
          all users are returned.
        explode: true
        in: query
        name: onlywithoutcard
        required: false
        schema:
          type: string
        style: form
      - description: The size in pixels of the photo URLs returned. Defaults to 40.
          If the size specified is not available, a similar one will be returned.
        explode: true
        in: query
        name: photosize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: View a list of users
      x-accepts: application/json
  /userget:
    get:
      description: Allows the user to search and view a user and their details.
      operationId: userget
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The id of the user to get.
        explode: true
        in: query
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: form
      - description: The size in pixels of the photo URLs returned. Defaults to 40.
          If the size specified is not available, a similar one will be returned.
        explode: true
        in: query
        name: photosize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Search and view details of a user
      x-accepts: application/json
  /usergetbycard:
    get:
      description: Allows the user to search for a user by their card number.
      operationId: usergetbycard
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The card number of the user to get.
        explode: true
        in: query
        name: card
        required: true
        schema:
          type: string
        style: form
      - description: The size in pixels of the photo URLs returned. Defaults to 40.
          If the size specified is not available, a similar one will be returned.
        explode: true
        in: query
        name: photosize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Search user by card number
      x-accepts: application/json
  /usersave:
    post:
      description: Allows the user to create or edit a user.
      operationId: usersave
      requestBody:
        content:
          application/json:
            schema:
              properties:
                token:
                  description: The authentication token.
                  type: string
                id:
                  description: The id of the user to save (leave empty to create a
                    new one).
                  format: uuid
                  type: string
                firstname:
                  description: The first name of the user.
                  type: string
                middlename:
                  description: The middle name of the user.
                  type: string
                lastname:
                  description: The last name of the user.
                  type: string
                email:
                  description: The email of the user.
                  type: string
                mobilephonenumber:
                  description: The mobile phone number of the user.
                  type: string
                homephonenumber:
                  description: The home phone number of the user.
                  type: string
                workphonenumber:
                  description: The work phone number of the user.
                  type: string
                streetaddress:
                  description: The street address of the user.
                  type: string
                city:
                  description: The city of the user.
                  type: string
                state:
                  description: The state of the user.
                  type: string
                zipcode:
                  description: The zip code of the user.
                  type: string
                title:
                  description: The title of the user.
                  type: string
                company:
                  description: The company of the user.
                  type: string
                password:
                  description: The new password of the user.
                  type: string
                roles:
                  description: Comma separated list of roles of the user.
                  type: string
                assigncard:
                  description: True if a new card has to be assigned to the user,
                    otherwise false.
                  type: string
                cardnumber:
                  description: The card number that has to be assigned to the user.
                  type: string
                more:
                  description: Custom data of the user
                  type: string
                photoid:
                  description: The ID of a photo uploaded using user.loadphoto.
                  format: uuid
                  type: string
                active:
                  description: The status of the user.
                  type: boolean
              required:
              - email
              - firstname
              - lastname
              - token
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Create or edit a user
      x-contentType: application/json
      x-accepts: application/json
  /userdelete:
    get:
      description: Allows the user to delete a user.
      operationId: userdelete
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The id of the user to delete.
        explode: true
        in: query
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Delete a user
      x-accepts: application/json
  /userchangepwd:
    get:
      description: Allows the user to change their own password.
      operationId: userchangepwd
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The old password of the authenticated user.
        explode: true
        in: query
        name: oldpass
        required: true
        schema:
          format: uuid
          type: string
        style: form
      - description: The new password of the authenticated user.
        explode: true
        in: query
        name: newpass
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Change user's own password
      x-accepts: application/json
  /userchangepwdbyreq:
    get:
      operationId: userchangepwdbyreq
      parameters:
      - description: The change password request ID sent by email to the user.
        explode: true
        in: query
        name: changereq
        required: true
        schema:
          type: string
        style: form
      - description: The new password of the user.
        explode: true
        in: query
        name: newpass
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Changes the user password using a change password request id
      x-accepts: application/json
  /userrequestpwdchange:
    get:
      operationId: userrequestpwdchange
      parameters:
      - description: The domain of the account where the user exists.
        explode: true
        in: query
        name: domain
        required: true
        schema:
          type: string
        style: form
      - description: The email of the user.
        explode: true
        in: query
        name: email
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Requests a password change
      x-accepts: application/json
  /usersavepwdchange:
    post:
      description: Allows the user to trigger an email to another user asking them
        to set or change their password.
      operationId: usersavepwdchange
      requestBody:
        content:
          application/json:
            schema:
              properties:
                token:
                  description: The authentication token.
                  type: string
                users:
                  description: A JSON array containing the ids of the users whose
                    passwords have to be set.
                  type: string
                role:
                  description: A specific role whose users passwords have to be set.
                  format: uuid
                  type: string
              required:
              - token
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Send email to the specified user(s) to set/change their passwords
      x-contentType: application/json
      x-accepts: application/json
  /userloadphoto:
    get:
      description: Allows the user to upload a photo for a user.
      operationId: userloadphoto
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: Set 'file' as value to indicate that a file is being submitted
          in the body (instead of a JSON object).
        explode: true
        in: query
        name: upload
        required: true
        schema:
          type: string
        style: form
      - description: The local name of the uploaded file. For later reference.
        explode: true
        in: query
        name: filename
        required: false
        schema:
          type: string
        style: form
      - description: The user ID to directly associate the upload photo. If not specified,
          a temp ID is returned that can be later specified in 'user.save'.
        explode: true
        in: query
        name: userid
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: 'Set this to true to find the specific user based on the file
          name. '
        explode: true
        in: query
        name: automatch
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Upload a photo for a specific user
      x-accepts: application/json
  /userfindsimilar:
    get:
      description: Allows the user to be warned if a user they are creating has the
        same card number as another user.
      operationId: userfindsimilar
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The id of the current user.
        explode: true
        in: query
        name: currentid
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: A phone number to search for similar users.
        explode: true
        in: query
        name: phonenumber
        required: false
        schema:
          type: string
        style: form
      - description: A card number to search for similar users.
        explode: true
        in: query
        name: cardnumber
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Finds similar users to prevent duplicates
      x-accepts: application/json
  /usermovedata:
    get:
      description: Allows administrators to move data between users.
      operationId: usermovedata
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The id of the user that is the source of the data.
        explode: true
        in: query
        name: source
        required: true
        schema:
          format: uuid
          type: string
        style: form
      - description: The id of the user that is the destination of the data.
        explode: true
        in: query
        name: destination
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Move data between users
      x-accepts: application/json
  /rolelist:
    get:
      operationId: rolelist
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: Filter by name of the role.
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Show a list of roles
      x-accepts: application/json
  /clientget:
    get:
      operationId: clientget
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The unique id of the client.
        explode: true
        in: query
        name: client
        required: true
        schema:
          type: string
        style: form
      - description: The custom name of the client.
        explode: true
        in: query
        name: clientname
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Get client
      x-accepts: application/json
  /clientsave:
    post:
      operationId: clientsave
      requestBody:
        content:
          application/json:
            schema:
              properties:
                token:
                  description: The authentication token.
                  type: string
                client:
                  description: The id of the client to save.
                  format: uuid
                  type: string
                clientname:
                  description: The name of the client.
                  type: string
                pushtoken:
                  description: The push token of the client.
                  type: string
              required:
              - client
              - clientname
              - token
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Saves a client
      x-contentType: application/json
      x-accepts: application/json
  /clientlist:
    get:
      operationId: clientlist
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The first record to return.
        explode: true
        in: query
        name: from
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The max number of records to return.
        explode: true
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Gets the clients of the specified conference
      x-accepts: application/json
  /clientsendmessage:
    get:
      operationId: clientsendmessage
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The unique id of the client.
        explode: true
        in: query
        name: uniqueclientid
        required: true
        schema:
          format: uuid
          type: string
        style: form
      - description: The body of the message to send.
        explode: true
        in: query
        name: message
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Send a message to a client
      x-accepts: application/json
  /bgjobgetstatus:
    get:
      operationId: bgjobgetstatus
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The ID of the job to get the status. 10 most recent will be returned
          if not specified.
        explode: true
        in: query
        name: jobid
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: The job type to filter by.
        explode: true
        in: query
        name: jobtype
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Get background job status
      x-accepts: application/json
  /settingget:
    get:
      operationId: settingget
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: false
        schema:
          type: string
        style: form
      - description: The account domain, in case of reading settings annonymously.
        explode: true
        in: query
        name: domain
        required: false
        schema:
          type: string
        style: form
      - description: The option keys to get values for. Enter multiple separated by
          comma.
        explode: true
        in: query
        name: keys
        required: true
        schema:
          type: string
        style: form
      - description: The scope of the settings to get.
        explode: true
        in: query
        name: scope
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Get settings for the account or the specified scope
      x-accepts: application/json
  /settingsave:
    post:
      description: Allows the user to affect settings that are not specified elsewhere
        in permissions. This includes Attendance, Appointments, Compass, Media, and
        Social Activity.
      operationId: settingsave
      requestBody:
        content:
          application/json:
            schema:
              properties:
                token:
                  description: The authentication token.
                  type: string
                optionsjson:
                  description: The options to save in the account, in JSON format.
                  type: string
                scope:
                  description: The scope of the settings to save.
                  type: string
              required:
              - optionsjson
              - token
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Save settings for the account or the specified scope
      x-contentType: application/json
      x-accepts: application/json
  /settingaddlogo:
    get:
      description: Allows the user to add the logo for the account, which appears
        on all pages on the AccuCampus browser version.
      operationId: settingaddlogo
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: Set 'file' as value to indicate that a file is being submitted
          in the body (instead of a JSON object).
        explode: true
        in: query
        name: upload
        required: true
        schema:
          type: string
        style: form
      - description: The original filename, needed to process the file.
        explode: true
        in: query
        name: filename
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Add a logo to the account
      x-accepts: application/json
  /settingviewgeneral:
    get:
      description: Allows the user to view the settings' general section.
      operationId: settingviewgeneral
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: View general settings for the account
      x-accepts: application/json
  /actionloglist:
    get:
      description: Allows the user to view the audit logs for the account.
      operationId: actionloglist
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The id of the user whose action logs have to be returned.
        explode: true
        in: query
        name: user
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: The start date of the period to filter the logs.
        explode: true
        in: query
        name: startdate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date of the period to filter the logs.
        explode: true
        in: query
        name: enddate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The resource to filter the action logs.
        explode: true
        in: query
        name: resource
        required: false
        schema:
          type: string
        style: form
      - description: The action to filter the action logs.
        explode: true
        in: query
        name: actionfilter
        required: false
        schema:
          type: string
        style: form
      - description: The id of the entity that was the argument of the executed action.
        explode: true
        in: query
        name: argument
        required: false
        schema:
          type: string
        style: form
      - description: The first record to return.
        explode: true
        in: query
        name: from
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The max number of records to return.
        explode: true
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: View a list of users action logs
      x-accepts: application/json
  /version:
    get:
      operationId: version
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Get current version information
      x-accepts: application/json
  /changelog:
    get:
      operationId: changelog
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Get the application change log
      x-accepts: application/json
  /easyloginaddbgimage:
    get:
      description: Allows the user to set the background image that all users will
        see when logging into an AccuCampus account not using SSO.
      operationId: easyloginaddbgimage
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: Set 'file' as value to indicate that a file is being submitted
          in the body (instead of a JSON object).
        explode: true
        in: query
        name: upload
        required: true
        schema:
          type: string
        style: form
      - description: The original filename, needed to process the file.
        explode: true
        in: query
        name: filename
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Adds background image for the login
      x-accepts: application/json
  /export:
    get:
      description: Allows the user to export data from AccuCampus into a CSV, HTML,
        or Excel format.
      operationId: export
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: What to export.
        explode: true
        in: query
        name: exporttype
        required: true
        schema:
          type: string
        style: form
      - description: The format of the resulting file. Valid types are CSV, HTML,
          XLS.
        explode: true
        in: query
        name: exportformat
        required: true
        schema:
          type: string
        style: form
      - description: 'Pipe separated filters for the export, eg: aaa=val|bbb=val|...'
        explode: true
        in: query
        name: filters
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Export AccuCampus data
      x-accepts: application/json
  /exportlisttypes:
    get:
      operationId: exportlisttypes
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Lists available export types
      x-accepts: application/json
  /locationget:
    get:
      description: Allows the user to search and view an individual location and its
        details.
      operationId: locationget
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The id of the location to get.
        explode: true
        in: query
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Search and view details of a location
      x-accepts: application/json
  /locationlist:
    get:
      description: Allows the user to view the list of all locations to which they
        are scoped.
      operationId: locationlist
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The first record to return.
        explode: true
        in: query
        name: from
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The max number of records to return.
        explode: true
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The comma-separated list containing the ids of the locations
          to list.
        explode: true
        in: query
        name: locations
        required: false
        schema:
          type: string
        style: form
      - description: True to list locations sorted by the 'Located In' property. Defaults
          to false.
        explode: true
        in: query
        name: sortbygroup
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: View a list of locations
      x-accepts: application/json
  /locationdelete:
    get:
      description: Allows the user to delete an existing location.
      operationId: locationdelete
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The id of the location to delete.
        explode: true
        in: query
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Delete a location
      x-accepts: application/json
  /locationsave:
    post:
      description: Allows the user to create or edit a location.
      operationId: locationsave
      requestBody:
        content:
          application/json:
            schema:
              properties:
                token:
                  description: The authentication token.
                  type: string
                id:
                  description: The id of the location save (leave empty to create
                    a new one).
                  format: uuid
                  type: string
                name:
                  description: The name of the location.
                  type: string
                categoryid:
                  description: The id of location's LocationCategory.
                  format: uuid
                  type: string
                categoryname:
                  description: The name of the location's LocationCategory.
                  type: string
                streetaddress:
                  description: The street address of the location.
                  type: string
                latitude:
                  description: The latitude of the location.
                  format: double
                  type: number
                longitude:
                  description: The longitude of the location.
                  format: double
                  type: number
                websiteurl:
                  description: The web site url of the location.
                  type: string
                email:
                  description: The e-mail address of the location.
                  type: string
                moreinformation:
                  description: More information relevant to the location.
                  type: string
                isrestricted:
                  description: Whether this location has the access restricted.
                  type: boolean
                accessroles:
                  description: The roles that can view the info associated to this
                    location, in JSON format.
                  type: string
                order:
                  description: The order of the location.
                  format: int32
                  type: integer
              required:
              - name
              - token
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Create or edit a location
      x-contentType: application/json
      x-accepts: application/json
  /riskmodeldelete:
    get:
      description: Allows the user to delete a previously created risk assessment
        model.
      operationId: riskmodeldelete
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The id of the risk assessment model to delete.
        explode: true
        in: query
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Delete a risk assessment model
      x-accepts: application/json
  /riskmodelget:
    get:
      description: Allows the user to view an individual risk assessment model and
        its details.
      operationId: riskmodelget
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The id of the risk assessment model to get.
        explode: true
        in: query
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: View details of a risk assessment model
      x-accepts: application/json
  /riskmodelsave:
    post:
      description: Allows the user to create or edit a risk assessment model.
      operationId: riskmodelsave
      requestBody:
        content:
          application/json:
            schema:
              properties:
                token:
                  description: The authentication token.
                  type: string
                id:
                  description: The id of the department save (leave empty to create
                    a new one).
                  format: uuid
                  type: string
                name:
                  description: The name of the department.
                  type: string
                excludedfeatures:
                  description: The features to exclude from the model.
                  type: string
                excludedusers:
                  description: The criteria to exclude users from the model.
                  type: string
                newfeatures:
                  description: The new features for this model.
                  type: string
                termprecedences:
                  description: The terms precedences for this model.
                  type: string
              required:
              - name
              - termprecedences
              - token
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Create or edit a risk assessment model
      x-contentType: application/json
      x-accepts: application/json
  /riskmodellist:
    get:
      description: Allows the user to view the full list of risk assessment models.
      operationId: riskmodellist
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The first record to return.
        explode: true
        in: query
        name: from
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The max number of records to return.
        explode: true
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: View a list of risk assessment models
      x-accepts: application/json
  /riskmodelgetscore:
    get:
      description: Allows the user to view the risk score of another user.
      operationId: riskmodelgetscore
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The id of the user to get the risk score.
        explode: true
        in: query
        name: userid
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: View the risk score for a specific user
      x-accepts: application/json
  /riskmodelrefresh:
    get:
      description: Allows the user to refresh a risk assessment model.
      operationId: riskmodelrefresh
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The id of the risk assessment model whose information has to
          be refreshed.
        explode: true
        in: query
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Refresh the information used in a risk assessment model
      x-accepts: application/json
  /riskmodelprocess:
    get:
      description: Allows the user to process a risk assessment model once it has
        been created.
      operationId: riskmodelprocess
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The id of the risk assessment model to process.
        explode: true
        in: query
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Process a risk assessment model
      x-accepts: application/json
  /riskmodelpredict:
    get:
      description: Allows a user to process a risk prediction from a risk assessment
        model that has processed.
      operationId: riskmodelpredict
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The id of the assessment model to use in order to predict risk.
        explode: true
        in: query
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Predict risk based on an assessment model
      x-accepts: application/json
  /riskmodelcheckanalysis:
    get:
      description: Allows the user to check the status of a risk assessment model
        as it is being processed.
      operationId: riskmodelcheckanalysis
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The id of the risk assessment model whose analysis status has
          to be returned.
        explode: true
        in: query
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Check the status of the analysis of a specified risk assessment model
      x-accepts: application/json
  /riskmodeltermprecedences:
    get:
      description: Allows the user to view the default term precedences used in a
        model.
      operationId: riskmodeltermprecedences
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: View all default term precedences
      x-accepts: application/json
  /adhocquerydelete:
    get:
      description: Allows the user to delete a previously created ad hoc query.
      operationId: adhocquerydelete
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The id of the ad hoc query to delete.
        explode: true
        in: query
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Delete an ad hoc query
      x-accepts: application/json
  /adhocqueryget:
    get:
      description: Allows the user to view an individual ad hoc query with its settings.
      operationId: adhocqueryget
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The id of the query to get.
        explode: true
        in: query
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: View details of an ad hoc query
      x-accepts: application/json
  /adhocquerysave:
    post:
      description: Allows the user to edit an ad hoc query.
      operationId: adhocquerysave
      requestBody:
        content:
          application/json:
            schema:
              properties:
                token:
                  description: The authentication token.
                  type: string
                id:
                  description: The id of the query to save (leave empty to create
                    a new one).
                  format: uuid
                  type: string
                name:
                  description: The name of the query.
                  type: string
                text:
                  description: The text of the query (the query itself).
                  type: string
              required:
              - name
              - text
              - token
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Create or edit an ad hoc query
      x-contentType: application/json
      x-accepts: application/json
  /adhocquerylist:
    get:
      description: Allows the user to view the full list of saved queries.
      operationId: adhocquerylist
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The first record to return.
        explode: true
        in: query
        name: from
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The max number of records to return.
        explode: true
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: View a list of saved ad hoc queries
      x-accepts: application/json
  /adhocquerygetschema:
    get:
      description: Allows the user to view the list of schema for ad hoc queries.
      operationId: adhocquerygetschema
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: View the database schema for making ad hoc queries
      x-accepts: application/json
  /adhocqueryexecute:
    get:
      description: Allows the user to execute an ad hoc query.
      operationId: adhocqueryexecute
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The id of the query to execute.
        explode: true
        in: query
        name: id
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: The query to execute.
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Execute an ad hoc query
      x-accepts: application/json
  /adhocquerycheckexecution:
    get:
      description: Allows the user to check whether a query has executed, viewable
        on the query's execution page.
      operationId: adhocquerycheckexecution
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The id of the ad hoc query execution to be checked.
        explode: true
        in: query
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Check the status of an ad hoc query execution
      x-accepts: application/json
  /adhocquerystopexecution:
    get:
      description: Allows the user to halt the execution of a query that is currently
        being executed.
      operationId: adhocquerystopexecution
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The id of the ad hoc query execution to be stopped.
        explode: true
        in: query
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Stops the execution of an ad hoc query
      x-accepts: application/json
  /adhocquerylistexecutions:
    get:
      description: Allows the user to view the full list of past query executions.
      operationId: adhocquerylistexecutions
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The first record to return.
        explode: true
        in: query
        name: query
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: The first record to return.
        explode: true
        in: query
        name: from
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The max number of records to return.
        explode: true
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: View a list of ad hoc queries executions
      x-accepts: application/json
  /adhocreportsreqaccess:
    get:
      description: Allows the user to request access to the ad-hoc reports by clicking,
        'Request Access' under Institutional Research -> Ad-hoc Reports
      operationId: adhocreportsreqaccess
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Request access to the ad-hoc reports
      x-accepts: application/json
  /communityinvite:
    get:
      description: Allows the user to invite all other users to the AccuCampus Communities.
      operationId: communityinvite
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Sends an invitation to everyone to AccuCampus Communities
      x-accepts: application/json
  /communityjoin:
    get:
      description: Allows the user to access the AccuCampus Communities.
      operationId: communityjoin
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Sends an invitation for myself to AccuCampus Communities
      x-accepts: application/json
  /templatelist:
    get:
      description: Allows the user to view the full list of created templates.
      operationId: templatelist
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The first record to return.
        explode: true
        in: query
        name: from
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The max number of records to return.
        explode: true
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The kind of the templates to return. It must be included in (badge,
          certificate).
        explode: true
        in: query
        name: kind
        required: true
        schema:
          type: string
        style: form
      - description: If true then it only returns the templates that were designed.
          Otherwise, it returns all.
        explode: true
        in: query
        name: designedonly
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: View a list of defined templates
      x-accepts: application/json
  /templateget:
    get:
      description: Allows the user to view a template and its details.
      operationId: templateget
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The id of the template to get.
        explode: true
        in: query
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: View details of a template
      x-accepts: application/json
  /templatesave:
    post:
      description: Allows the user to create or edit a template.
      operationId: templatesave
      requestBody:
        content:
          application/json:
            schema:
              properties:
                token:
                  description: The authentication token.
                  type: string
                id:
                  description: The id of the template to save (leave empty to create
                    a new one).
                  format: uuid
                  type: string
                kind:
                  description: The kind of the templates to return. It must be included
                    in (badge, certificate).
                  type: string
                name:
                  description: The template's name.
                  type: string
                description:
                  description: The template's description.
                  type: string
              required:
              - kind
              - name
              - token
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Create or edit a template
      x-contentType: application/json
      x-accepts: application/json
  /templatesavelayout:
    post:
      description: Allows the user to edit a template's layout.
      operationId: templatesavelayout
      requestBody:
        content:
          application/json:
            schema:
              properties:
                token:
                  description: The authentication token.
                  type: string
                id:
                  description: The id of the template whose layout needs to be saved.
                  format: uuid
                  type: string
                layout:
                  description: The template's layout (in JSON).
                  type: string
              required:
              - id
              - layout
              - token
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Save the layout of a template
      x-contentType: application/json
      x-accepts: application/json
  /templateaddimage:
    get:
      description: Allows the user to add an image to a badge or certificate template.
      operationId: templateaddimage
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The id of the template where the image has to be added
        explode: true
        in: query
        name: template
        required: true
        schema:
          format: uuid
          type: string
        style: form
      - description: Set 'file' as value to indicate that a file is being submitted
          in the body (instead of a JSON object).
        explode: true
        in: query
        name: upload
        required: true
        schema:
          type: string
        style: form
      - description: The local name of the uploaded file. For later reference.
        explode: true
        in: query
        name: filename
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Add an image to a template
      x-accepts: application/json
  /templatedelete:
    get:
      description: Allows the user to delete an existing template.
      operationId: templatedelete
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The id of the template to delete.
        explode: true
        in: query
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Delete a template
      x-accepts: application/json
  /templategenerate:
    get:
      description: Allows the user to generate an existing template as badges or certificates.
      operationId: templategenerate
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The id of the template to generate.
        explode: true
        in: query
        name: template
        required: true
        schema:
          format: uuid
          type: string
        style: form
      - description: The source key of the selected template data source.
        explode: true
        in: query
        name: source
        required: true
        schema:
          format: uuid
          type: string
        style: form
      - description: True if all the templates should be placed in the same file,
          false if each one shoud be in its own file.
        explode: true
        in: query
        name: singlefile
        required: true
        schema:
          type: boolean
        style: form
      - description: Only the template for these users is created (and emailed if
          'email' is true), enter multiple separated by commas.
        explode: true
        in: query
        name: userid
        required: false
        schema:
          type: string
        style: form
      - description: It specifies the purpose of the creation of the templates. If
          true then is for sending via e-mail, otherwise is just for downloading
        explode: true
        in: query
        name: forsending
        required: false
        schema:
          type: boolean
        style: form
      - description: 'When printing all badges, filter by person type, can be either:
          attendee, presenter or exhibitor'
        explode: true
        in: query
        name: role
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: 'Pipe separated filters for the generation, eg: aaa=val|bbb=val|...'
        explode: true
        in: query
        name: filters
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Generate specified templates
      x-accepts: application/json
  /templategetgenerated:
    get:
      description: Allows the user to view templates which have been generated as
        badges or certificates.
      operationId: templategetgenerated
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The id of the job that is creating the templates.
        explode: true
        in: query
        name: jobid
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: View generated templates
      x-accepts: application/json
  /templateemail:
    get:
      description: Allows the user to send generated templates via email through AccuCampus.
      operationId: templateemail
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The id of the job that is creating the templates.
        explode: true
        in: query
        name: jobid
        required: true
        schema:
          type: string
        style: form
      - description: The kind of the template you're sending. It must be included
          in (badge, certificate).
        explode: true
        in: query
        name: templatekind
        required: false
        schema:
          type: string
        style: form
      - description: The name of the sender to be displayed in the receipients inbox
        explode: true
        in: query
        name: emailfrom
        required: false
        schema:
          type: string
        style: form
      - description: The reply-to field for the emails.
        explode: true
        in: query
        name: emailreplyto
        required: false
        schema:
          type: string
        style: form
      - description: Args depending on the send-to flag.
        explode: true
        in: query
        name: emailsubject
        required: true
        schema:
          type: string
        style: form
      - description: Args depending on the send-to flag.
        explode: true
        in: query
        name: emailbody
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Send generated templates by email
      x-accepts: application/json
  /templatelistsources:
    get:
      description: Allows the user to see tokens to be used in the template
      operationId: templatelistsources
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The kind of the templates to return. It must be included in (badge,
          certificate).
        explode: true
        in: query
        name: kind
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: View a list of templates' data sources
      x-accepts: application/json
  /textcreditremaining:
    get:
      operationId: textcreditremaining
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Gets the remaining text credits for the account
      x-accepts: application/json
  /translationlist:
    get:
      operationId: translationlist
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: Text to search/filter translations.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: If true then it returns only the terms translated. Otherwise,
          it returns all.
        explode: true
        in: query
        name: nondefaultonly
        required: false
        schema:
          type: boolean
        style: form
      - description: If true then it uses the app default translation as the universal
          term.
        explode: true
        in: query
        name: appdefaultasuniversal
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Lists all the available translations in the system
      x-accepts: application/json
  /translationsave:
    post:
      description: Allows the user to edit a translation for the entire account.
      operationId: translationsave
      requestBody:
        content:
          application/json:
            schema:
              properties:
                token:
                  description: The authentication token.
                  type: string
                id:
                  description: The id of the translation as returned by translation.list.
                  type: string
                translation:
                  description: The translated text.
                  type: string
              required:
              - id
              - token
              - translation
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Edit a translation
      x-contentType: application/json
      x-accepts: application/json
  /translationget:
    get:
      operationId: translationget
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: Pipe separated list of universal text to be translated.
        explode: true
        in: query
        name: universal
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Gets the translations of the specified values
      x-accepts: application/json
  /translationgetcachefile:
    get:
      operationId: translationgetcachefile
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: false
        schema:
          type: string
        style: form
      - description: The id of the account whose translations file has to be retrieved.
        explode: true
        in: query
        name: account
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Get the file containing the translations
      x-accepts: application/json
  /usersettingssave:
    post:
      operationId: usersettingssave
      requestBody:
        content:
          application/json:
            schema:
              properties:
                token:
                  description: The authentication token.
                  type: string
                key:
                  description: Setting key to save.
                  type: string
                value:
                  description: Setting value to save.
                  type: string
                user:
                  description: The user id whose settings have to be saved.
                  format: uuid
                  type: string
              required:
              - key
              - token
              - value
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Saves a user setting
      x-contentType: application/json
      x-accepts: application/json
  /usersettingssavemultiple:
    post:
      operationId: usersettingssavemultiple
      requestBody:
        content:
          application/json:
            schema:
              properties:
                token:
                  description: The authentication token.
                  type: string
                optionsjson:
                  description: The options to save in the account, in JSON format.
                  type: string
                user:
                  description: The user id whose settings have to be saved.
                  format: uuid
                  type: string
              required:
              - optionsjson
              - token
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Save multiple user settings at once
      x-contentType: application/json
      x-accepts: application/json
  /usersettingsget:
    get:
      operationId: usersettingsget
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: Setting key to get. Can be multiple separated by commas.
        explode: true
        in: query
        name: keys
        required: true
        schema:
          type: string
        style: form
      - description: The user id whose settings have to be returned.
        explode: true
        in: query
        name: user
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Lists available user settings
      x-accepts: application/json
  /usersettingsgetmultiple:
    get:
      operationId: usersettingsgetmultiple
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: Setting key to get. Can be multiple separated by commas.
        explode: true
        in: query
        name: keys
        required: true
        schema:
          type: string
        style: form
      - description: The user id whose settings have to be returned.
        explode: true
        in: query
        name: user
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Get multiple user settings
      x-accepts: application/json
  /departmentget:
    get:
      description: Allows the user to view an individual college department and its
        details.
      operationId: departmentget
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The id of the department to get.
        explode: true
        in: query
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Search and view details of a college department
      x-accepts: application/json
  /departmentlist:
    get:
      description: Allows the user to view the full list of college departments.
      operationId: departmentlist
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The first record to return.
        explode: true
        in: query
        name: from
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The max number of records to return.
        explode: true
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: View a list of college departments
      x-accepts: application/json
  /departmentdelete:
    get:
      description: Allows the user to delete an existing college department.
      operationId: departmentdelete
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The id of the department to delete.
        explode: true
        in: query
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Delete a college department
      x-accepts: application/json
  /departmentsave:
    post:
      description: Allows the user to create or edit a college department.
      operationId: departmentsave
      requestBody:
        content:
          application/json:
            schema:
              properties:
                token:
                  description: The authentication token.
                  type: string
                id:
                  description: The id of the department save (leave empty to create
                    a new one).
                  format: uuid
                  type: string
                name:
                  description: The name of the department.
                  type: string
                details:
                  description: The details of the department.
                  type: string
              required:
              - name
              - token
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Create or edit a college department
      x-contentType: application/json
      x-accepts: application/json
  /quickpanelinit:
    get:
      operationId: quickpanelinit
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Returns the initial information required to show the quick panels
      x-accepts: application/json
  /quickpanelfetchwidget:
    get:
      operationId: quickpanelfetchwidget
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The ID of the data to fetch it's data.
        explode: true
        in: query
        name: widgetid
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Fetches the information for a specific widget.
      x-accepts: application/json
  /quickpanellistwidgettypes:
    get:
      operationId: quickpanellistwidgettypes
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Lists all the widget types available in the system
      x-accepts: application/json
  /quickpanelgetwidget:
    get:
      description: Allows the user to view a widget added in as Quick Panel.
      operationId: quickpanelgetwidget
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: The id of the widget to get.
        explode: true
        in: query
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: View details of a widget included in the Quick Panel
      x-accepts: application/json
  /quickpanellistwidgets:
    get:
      description: Allows the user to view the widgets that have been added to the
        Quick Panel.
      operationId: quickpanellistwidgets
      parameters:
      - description: The authentication token.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Lists all the widgets that are added in the Quick Panel
      x-accepts: application/json
  /quickpanelsavewidget:
    post:
      description: Allows the user to save a widget to the Quick Panel.
      operationId: quickpanelsavewidget
      requestBody:
        content:
          application/json:
            schema:
              properties:
                token:
                  description: The authentication token.
                  type: string
                id:
                  description: The id of the widget.
                  format: uuid
                  type: string
                sectionname:
                  description: The section name where to add the widget.
                  type: string
                sortorder:
                  description: The sort order of the widget.
                  format: int32
                  type: integer
                title:
                  description: Title of the widget.
                  type: string
                type:
                  description: Type of the widget.
                  type: string
                data:
                  description: Context data of the widget.
                  type: string
                roleids:
[...]
