=begin
#AccuTraining OpenAPI 3

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 4.3.1

=end

require 'cgi'

module OpenapiClient
  class ActionpackApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Assign an action item pack to a user
    # Allows the user to assign an action pack to a user or group of users.
    # @param pack [String] The id of the action pack to assign.
    # @param itemsdata [Boolean] A JSON array containing the action items&#39; data needed to assign them to the assignee (Id, Event, DateDue, DateExpired, NotifyAssigne).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :assignee The assignee of the pack.
    # @option opts [String] :group The group to assign the pack.
    # @option opts [String] :notes The assignment&#39;s notes.
    # @return [nil]
    def actionpack_assign(pack, itemsdata, opts = {})
      actionpack_assign_with_http_info(pack, itemsdata, opts)
      nil
    end

    # Assign an action item pack to a user
    # Allows the user to assign an action pack to a user or group of users.
    # @param pack [String] The id of the action pack to assign.
    # @param itemsdata [Boolean] A JSON array containing the action items&#39; data needed to assign them to the assignee (Id, Event, DateDue, DateExpired, NotifyAssigne).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :assignee The assignee of the pack.
    # @option opts [String] :group The group to assign the pack.
    # @option opts [String] :notes The assignment&#39;s notes.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def actionpack_assign_with_http_info(pack, itemsdata, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActionpackApi.actionpack_assign ...'
      end
      # verify the required parameter 'pack' is set
      if @api_client.config.client_side_validation && pack.nil?
        fail ArgumentError, "Missing the required parameter 'pack' when calling ActionpackApi.actionpack_assign"
      end
      # verify the required parameter 'itemsdata' is set
      if @api_client.config.client_side_validation && itemsdata.nil?
        fail ArgumentError, "Missing the required parameter 'itemsdata' when calling ActionpackApi.actionpack_assign"
      end
      # resource path
      local_var_path = '/actionpack/assign'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'pack'] = pack
      query_params[:'itemsdata'] = itemsdata
      query_params[:'assignee'] = opts[:'assignee'] if !opts[:'assignee'].nil?
      query_params[:'group'] = opts[:'group'] if !opts[:'group'].nil?
      query_params[:'notes'] = opts[:'notes'] if !opts[:'notes'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActionpackApi#actionpack_assign\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an action item pack
    # Allows the user to delete an action item pack.
    # @param id [String] The id of the action pack to delete.
    # @param [Hash] opts the optional parameters
    # @option opts [AnyType] :body 
    # @return [nil]
    def actionpack_delete(id, opts = {})
      actionpack_delete_with_http_info(id, opts)
      nil
    end

    # Delete an action item pack
    # Allows the user to delete an action item pack.
    # @param id [String] The id of the action pack to delete.
    # @param [Hash] opts the optional parameters
    # @option opts [AnyType] :body 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def actionpack_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActionpackApi.actionpack_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ActionpackApi.actionpack_delete"
      end
      # resource path
      local_var_path = '/actionpack/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body']) 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActionpackApi#actionpack_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # View details of an action item pack
    # Allows the user to view an individual action pack and its details.
    # @param id [String] The id of the action pack to get.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def actionpack_get(id, opts = {})
      actionpack_get_with_http_info(id, opts)
      nil
    end

    # View details of an action item pack
    # Allows the user to view an individual action pack and its details.
    # @param id [String] The id of the action pack to get.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def actionpack_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActionpackApi.actionpack_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ActionpackApi.actionpack_get"
      end
      # resource path
      local_var_path = '/actionpack/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActionpackApi#actionpack_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # View a list of action item packs
    # Allows the user to view the full list of action item packs.
    # @param from [Integer] The first record to return.
    # @param count [Integer] The max number of records to return.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def actionpack_list(from, count, opts = {})
      actionpack_list_with_http_info(from, count, opts)
      nil
    end

    # View a list of action item packs
    # Allows the user to view the full list of action item packs.
    # @param from [Integer] The first record to return.
    # @param count [Integer] The max number of records to return.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def actionpack_list_with_http_info(from, count, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActionpackApi.actionpack_list ...'
      end
      # verify the required parameter 'from' is set
      if @api_client.config.client_side_validation && from.nil?
        fail ArgumentError, "Missing the required parameter 'from' when calling ActionpackApi.actionpack_list"
      end
      # verify the required parameter 'count' is set
      if @api_client.config.client_side_validation && count.nil?
        fail ArgumentError, "Missing the required parameter 'count' when calling ActionpackApi.actionpack_list"
      end
      # resource path
      local_var_path = '/actionpack/list'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'from'] = from
      query_params[:'count'] = count

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActionpackApi#actionpack_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or edit an action item pack
    # Allows the user to edit an action item pack.
    # @param id [String] The id of the action pack to save (leave empty to create a new one).
    # @param [Hash] opts the optional parameters
    # @option opts [UNKNOWN_BASE_TYPE] :unknown_base_type 
    # @return [nil]
    def actionpack_save(id, opts = {})
      actionpack_save_with_http_info(id, opts)
      nil
    end

    # Create or edit an action item pack
    # Allows the user to edit an action item pack.
    # @param id [String] The id of the action pack to save (leave empty to create a new one).
    # @param [Hash] opts the optional parameters
    # @option opts [UNKNOWN_BASE_TYPE] :unknown_base_type 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def actionpack_save_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActionpackApi.actionpack_save ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ActionpackApi.actionpack_save"
      end
      # resource path
      local_var_path = '/actionpack/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'unknown_base_type']) 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActionpackApi#actionpack_save\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
