=begin
#AccuTraining OpenAPI 3

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 4.3.1

=end

require 'cgi'

module OpenapiClient
  class BgjobApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get background job status
    # @param [Hash] opts the optional parameters
    # @option opts [String] :jobid The ID of the job to get the status. 10 most recent will be returned if not specified.
    # @option opts [String] :jobtype The job type to filter by.
    # @return [nil]
    def bgjob_getstatus(opts = {})
      bgjob_getstatus_with_http_info(opts)
      nil
    end

    # Get background job status
    # @param [Hash] opts the optional parameters
    # @option opts [String] :jobid The ID of the job to get the status. 10 most recent will be returned if not specified.
    # @option opts [String] :jobtype The job type to filter by.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def bgjob_getstatus_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BgjobApi.bgjob_getstatus ...'
      end
      # resource path
      local_var_path = '/bgjob/getstatus'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'jobid'] = opts[:'jobid'] if !opts[:'jobid'].nil?
      query_params[:'jobtype'] = opts[:'jobtype'] if !opts[:'jobtype'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BgjobApi#bgjob_getstatus\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
