=begin
#AccuTraining OpenAPI 3

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 4.3.1

=end

require 'cgi'

module OpenapiClient
  class EasyloginApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Adds background image for the login
    # Allows the user to set the background image that all users will see when logging into an AccuTraining account not using SSO.
    # @param upload [String] Set &#39;file&#39; as value to indicate that a file is being submitted in the body (instead of a JSON object).
    # @param filename [String] The original filename, needed to process the file.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def easylogin_addbgimage(upload, filename, opts = {})
      easylogin_addbgimage_with_http_info(upload, filename, opts)
      nil
    end

    # Adds background image for the login
    # Allows the user to set the background image that all users will see when logging into an AccuTraining account not using SSO.
    # @param upload [String] Set &#39;file&#39; as value to indicate that a file is being submitted in the body (instead of a JSON object).
    # @param filename [String] The original filename, needed to process the file.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def easylogin_addbgimage_with_http_info(upload, filename, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EasyloginApi.easylogin_addbgimage ...'
      end
      # verify the required parameter 'upload' is set
      if @api_client.config.client_side_validation && upload.nil?
        fail ArgumentError, "Missing the required parameter 'upload' when calling EasyloginApi.easylogin_addbgimage"
      end
      # verify the required parameter 'filename' is set
      if @api_client.config.client_side_validation && filename.nil?
        fail ArgumentError, "Missing the required parameter 'filename' when calling EasyloginApi.easylogin_addbgimage"
      end
      # resource path
      local_var_path = '/easylogin/addbgimage'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'upload'] = upload
      query_params[:'filename'] = filename

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EasyloginApi#easylogin_addbgimage\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
