=begin
#AccuTraining OpenAPI 3

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 4.3.1

=end

require 'cgi'

module OpenapiClient
  class QrlabelsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Print and email QR labels
    # Allows the user to generate a printable PDF of QR labels containing user Card Numbers to be emailed to users and used as attendance tracking for events.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :user The id of the user whose label needs to be printed.
    # @option opts [String] :group The id of the group whose members&#39; labels need to be printed.
    # @return [nil]
    def qrlabels_print(opts = {})
      qrlabels_print_with_http_info(opts)
      nil
    end

    # Print and email QR labels
    # Allows the user to generate a printable PDF of QR labels containing user Card Numbers to be emailed to users and used as attendance tracking for events.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :user The id of the user whose label needs to be printed.
    # @option opts [String] :group The id of the group whose members&#39; labels need to be printed.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def qrlabels_print_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QrlabelsApi.qrlabels_print ...'
      end
      # resource path
      local_var_path = '/qrlabels/print'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'user'] = opts[:'user'] if !opts[:'user'].nil?
      query_params[:'group'] = opts[:'group'] if !opts[:'group'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QrlabelsApi#qrlabels_print\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
