/*
 * AccuClub OpenAPI 3
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package org.openapitools.client.api;

import org.openapitools.client.ApiCallback;
import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.ApiResponse;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.ProgressRequestBody;
import org.openapitools.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import java.util.UUID;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class AdvrolesApi {
    private ApiClient localVarApiClient;

    public AdvrolesApi() {
        this(Configuration.getDefaultApiClient());
    }

    public AdvrolesApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for advrolesUserlist
     * @param from The first record to return. (required)
     * @param count The max number of records to return. (required)
     * @param roleid The id of the role to filter users by, or empty to return all users. (optional)
     * @param onlywithoutcard If is 1 then only the users without a card are returned, otherwise all users are returned. (optional)
     * @param photosize The size in pixels of the photo URLs returned. Defaults to 40. If the size specified is not available, a similar one will be returned. (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call advrolesUserlistCall(Integer from, Integer count, UUID roleid, String onlywithoutcard, Integer photosize, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/advroles/userlist";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (from != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("from", from));
        }

        if (count != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("count", count));
        }

        if (roleid != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("roleid", roleid));
        }

        if (onlywithoutcard != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("onlywithoutcard", onlywithoutcard));
        }

        if (photosize != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("photosize", photosize));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "bearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call advrolesUserlistValidateBeforeCall(Integer from, Integer count, UUID roleid, String onlywithoutcard, Integer photosize, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'from' is set
        if (from == null) {
            throw new ApiException("Missing the required parameter 'from' when calling advrolesUserlist(Async)");
        }
        
        // verify the required parameter 'count' is set
        if (count == null) {
            throw new ApiException("Missing the required parameter 'count' when calling advrolesUserlist(Async)");
        }
        

        okhttp3.Call localVarCall = advrolesUserlistCall(from, count, roleid, onlywithoutcard, photosize, _callback);
        return localVarCall;

    }

    /**
     * List users. Alias to user.list, use that one instead.
     * 
     * @param from The first record to return. (required)
     * @param count The max number of records to return. (required)
     * @param roleid The id of the role to filter users by, or empty to return all users. (optional)
     * @param onlywithoutcard If is 1 then only the users without a card are returned, otherwise all users are returned. (optional)
     * @param photosize The size in pixels of the photo URLs returned. Defaults to 40. If the size specified is not available, a similar one will be returned. (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public void advrolesUserlist(Integer from, Integer count, UUID roleid, String onlywithoutcard, Integer photosize) throws ApiException {
        advrolesUserlistWithHttpInfo(from, count, roleid, onlywithoutcard, photosize);
    }

    /**
     * List users. Alias to user.list, use that one instead.
     * 
     * @param from The first record to return. (required)
     * @param count The max number of records to return. (required)
     * @param roleid The id of the role to filter users by, or empty to return all users. (optional)
     * @param onlywithoutcard If is 1 then only the users without a card are returned, otherwise all users are returned. (optional)
     * @param photosize The size in pixels of the photo URLs returned. Defaults to 40. If the size specified is not available, a similar one will be returned. (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Void> advrolesUserlistWithHttpInfo(Integer from, Integer count, UUID roleid, String onlywithoutcard, Integer photosize) throws ApiException {
        okhttp3.Call localVarCall = advrolesUserlistValidateBeforeCall(from, count, roleid, onlywithoutcard, photosize, null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     * List users. Alias to user.list, use that one instead. (asynchronously)
     * 
     * @param from The first record to return. (required)
     * @param count The max number of records to return. (required)
     * @param roleid The id of the role to filter users by, or empty to return all users. (optional)
     * @param onlywithoutcard If is 1 then only the users without a card are returned, otherwise all users are returned. (optional)
     * @param photosize The size in pixels of the photo URLs returned. Defaults to 40. If the size specified is not available, a similar one will be returned. (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call advrolesUserlistAsync(Integer from, Integer count, UUID roleid, String onlywithoutcard, Integer photosize, final ApiCallback<Void> _callback) throws ApiException {

        okhttp3.Call localVarCall = advrolesUserlistValidateBeforeCall(from, count, roleid, onlywithoutcard, photosize, _callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }
}
