openapi: 3.0.1
info:
  title: AccuClub OpenAPI 3
  version: 1.0.0
  x-logo:
    url: https://c1.engineerica.com/images/logos-png/h59/accuclub.png
    altText: AccuClub
servers:
- url: https://accuclub.net:443/api/v1
tags:
- description: General application actions
  name: General
- description: Actions related to the feature module
  name: feature
- description: Actions related to the search module
  name: search
- description: Actions related to the my module
  name: my
- description: Actions related to the captcha module
  name: captcha
- description: Actions related to the menu module
  name: menu
- description: Actions related to the qrlogin module
  name: qrlogin
- description: Actions related to the appshare module
  name: appshare
- description: Actions related to the sso module
  name: sso
- description: Actions related to the license module
  name: license
- description: Actions related to the user module
  name: user
- description: Actions related to the role module
  name: role
- description: Actions related to the client module
  name: client
- description: Actions related to the bgjob module
  name: bgjob
- description: Actions related to the setting module
  name: setting
- description: Actions related to the actionlog module
  name: actionlog
- description: Actions related to the easylogin module
  name: easylogin
- description: Actions related to the export module
  name: export
- description: Actions related to the location module
  name: location
- description: Actions related to the template module
  name: template
- description: Actions related to the textcredit module
  name: textcredit
- description: Actions related to the translation module
  name: translation
- description: Actions related to the usersettings module
  name: usersettings
- description: Actions related to the quickpanel module
  name: quickpanel
- description: Actions related to the term module
  name: term
- description: Actions related to the holiday module
  name: holiday
- description: Actions related to the notificationtopic module
  name: notificationtopic
- description: Actions related to the notification module
  name: notification
- description: Actions related to the push module
  name: push
- description: Actions related to the rule module
  name: rule
- description: Actions related to the import module
  name: import
- description: Actions related to the event module
  name: event
- description: Actions related to the usergroup module
  name: usergroup
- description: Actions related to the qrlabels module
  name: qrlabels
- description: Actions related to the tag module
  name: tag
- description: Actions related to the attendancelog module
  name: attendancelog
- description: Actions related to the swipe module
  name: swipe
- description: Actions related to the attendancelogcomment module
  name: attendancelogcomment
- description: Actions related to the report module
  name: report
- description: Actions related to the memorizedreport module
  name: memorizedreport
- description: Actions related to the station module
  name: station
- description: Actions related to the advrole module
  name: advrole
- description: Actions related to the advroles module
  name: advroles
- description: Actions related to the security module
  name: security
- description: Actions related to the credit module
  name: credit
- description: Actions related to the creditplan module
  name: creditplan
- description: Actions related to the sessionreg module
  name: sessionreg
paths:
  /doc:
    get:
      description: Retrieves the list of actions available in the system.
      operationId: doc
      parameters:
      - description: If true it excludes the anonymous actions from the returned list.
        explode: true
        in: query
        name: excludeanonymous
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Get the documentation
      tags:
      - General
      x-accepts: application/json
  /feature/list:
    get:
      operationId: featureList
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Lists the available features.
      tags:
      - feature
      x-accepts: application/json
  /login:
    get:
      operationId: login
      parameters:
      - description: The account domain to login.
        explode: true
        in: query
        name: domain
        required: true
        schema:
          type: string
        style: form
      - description: The username (email) of the user to login as.
        explode: true
        in: query
        name: username
        required: true
        schema:
          type: string
        style: form
      - description: The password of the user to login as.
        explode: true
        in: query
        name: password
        required: true
        schema:
          type: string
        style: form
      - description: The authentication method. Valid values are 'token' and 'cookie'.
        explode: true
        in: query
        name: method
        required: true
        schema:
          type: string
        style: form
      - description: If true then the session will not expire.
        explode: true
        in: query
        name: rememberme
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Login
      tags:
      - General
      x-accepts: application/json
  /logout:
    get:
      operationId: logout
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Logout
      tags:
      - General
      x-accepts: application/json
  /search:
    get:
      operationId: search
      parameters:
      - description: The query to search for.
        explode: true
        in: query
        name: query
        required: true
        schema:
          type: string
        style: form
      - description: Current page to show, zero-based.
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Search
      tags:
      - General
      x-accepts: application/json
  /search/getentities:
    get:
      operationId: searchGetentities
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Get the information of the entities that can be searched
      tags:
      - search
      x-accepts: application/json
  /listtimezones:
    get:
      operationId: listtimezones
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Lists the available timezones
      tags:
      - General
      x-accepts: application/json
  /my/ianatimezone:
    get:
      operationId: myIanatimezone
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Gets the current time zone's iana name
      tags:
      - my
      x-accepts: application/json
  /captcha/getimage:
    get:
      operationId: captchaGetimage
      parameters:
      - description: The captcha token or ID returned by the captcha.getchallenge
          action
        explode: true
        in: query
        name: captchatoken
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Gets a captcha image that the user must complete to do certain requests.
      tags:
      - captcha
      x-accepts: application/json
  /captcha/getchallenge:
    get:
      operationId: captchaGetchallenge
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Gets a captcha challenge that the user must complete to do certain
        requests.
      tags:
      - captcha
      x-accepts: application/json
  /menu/getitems:
    get:
      operationId: menuGetitems
      parameters:
      - description: The Id of the menu to get.
        explode: true
        in: query
        name: menuid
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Gets the items on the menu
      tags:
      - menu
      x-accepts: application/json
  /texttoimage:
    get:
      operationId: texttoimage
      parameters:
      - description: The text to convert to an image, use double pipes (||) as a new
          line.
        explode: true
        in: query
        name: text
        required: true
        schema:
          type: string
        style: form
      - description: 'The color of the text, in hex format, without the #.'
        explode: true
        in: query
        name: fontcolor
        required: false
        schema:
          type: string
        style: form
      - description: The size of the text, in points.
        explode: true
        in: query
        name: fontsize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Either vertical or horizontal, default horizontal.
        explode: true
        in: query
        name: direction
        required: false
        schema:
          type: string
        style: form
      - description: The image width in pixels (or height if the direction is vertical).
        explode: true
        in: query
        name: width
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Generates a dynamic image from text
      tags:
      - General
      x-accepts: application/json
  /qrlogin/get:
    get:
      operationId: qrloginGet
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Gets an image of a QR token
      tags:
      - qrlogin
      x-accepts: application/json
  /qrlogin/login:
    get:
      operationId: qrloginLogin
      parameters:
      - description: The token read from the QR code.
        explode: true
        in: query
        name: onetimetoken
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Login
      tags:
      - qrlogin
      x-accepts: application/json
  /appshare/getphone:
    get:
      operationId: appshareGetphone
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Gets the phone number of the current user
      tags:
      - appshare
      x-accepts: application/json
  /appshare/sendtext:
    get:
      operationId: appshareSendtext
      parameters:
      - description: Phone number to where to send the link. Leave empty to the number
          on file.
        explode: true
        in: query
        name: phonenumber
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Sends an SMS with the link to the app
      tags:
      - appshare
      x-accepts: application/json
  /sso/generatekey:
    get:
      description: Allows the user to generate or reset the access key for single
        sign-on.
      operationId: ssoGeneratekey
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Generate/reset single sign on access key.
      tags:
      - sso
      x-accepts: application/json
  /sso/savesettings:
    post:
      description: Allows the user to edit settings for single sign-on.
      operationId: ssoSavesettings
      requestBody:
        content:
          application/json:
            schema:
              properties:
                enabled:
                  description: Specifies whether the single sign on is enabled or
                    not.
                  type: boolean
                expireswheninactive:
                  description: Specifies whether the sessions should expire when inactive.
                  type: boolean
                redirecturl:
                  description: The url the user gets redirected when the session is
                    closed or expires.
                  type: string
              required:
              - enabled
              - expireswheninactive
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Edit single sign-on settings.
      tags:
      - sso
      x-contentType: application/json
      x-accepts: application/json
  /sso/getsettings:
    get:
      description: Allows the user to view settings for single sign-on.
      operationId: ssoGetsettings
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: View single sign on settings.
      tags:
      - sso
      x-accepts: application/json
  /sso/issuetoken:
    get:
      operationId: ssoIssuetoken
      parameters:
      - description: The single sign-on key of the account.
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - description: The email of the user to sign-on.
        explode: true
        in: query
        name: username
        required: true
        schema:
          type: string
        style: form
      - description: Specifies whether the session should expire when inactive.
        explode: true
        in: query
        name: expires
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Issue single sign-on token
      tags:
      - sso
      x-accepts: application/json
  /license/getcurrent:
    get:
      operationId: licenseGetcurrent
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Gets the current license information
      tags:
      - license
      x-accepts: application/json
  /license/renew:
    get:
      description: Allows the user to select the option to contact Engineerica when
        the AccuClub account is nearing its renewal date.
      operationId: licenseRenew
      parameters:
      - description: The e-mail of the user sending the request.
        explode: true
        in: query
        name: email
        required: true
        schema:
          type: string
        style: form
      - description: The phone number of the user sending the request.
        explode: true
        in: query
        name: phonenumber
        required: true
        schema:
          type: string
        style: form
      - description: The job title of the user sending the request.
        explode: true
        in: query
        name: jobtitle
        required: false
        schema:
          type: string
        style: form
      - description: The institution of the user sending the request.
        explode: true
        in: query
        name: institution
        required: false
        schema:
          type: string
        style: form
      - description: Comments entered by the user sending the request.
        explode: true
        in: query
        name: comments
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Contact Engineerica in order to renew the AccuClub subscription
      tags:
      - license
      x-accepts: application/json
  /license/acceptagreement:
    get:
      operationId: licenseAcceptagreement
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Accept the license agreement
      tags:
      - license
      x-accepts: application/json
  /license/getagreementstatus:
    get:
      operationId: licenseGetagreementstatus
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Check if license agreement has been accepted
      tags:
      - license
      x-accepts: application/json
  /my/rights:
    get:
      operationId: myRights
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Gets the list of actions the user can execute.
      tags:
      - my
      x-accepts: application/json
  /my/profile:
    get:
      operationId: myProfile
      parameters:
      - description: The size in pixels of the photo URLs returned. Defaults to 40.
          If the size specified is not available, a similar one will be returned.
        explode: true
        in: query
        name: photosize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Gets the logged in user information.
      tags:
      - my
      x-accepts: application/json
  /my/saveprofile:
    post:
      operationId: mySaveprofile
      requestBody:
        content:
          application/json:
            schema:
              properties:
                firstname:
                  description: The first name of the user.
                  type: string
                middlename:
                  description: The middle name of the user.
                  type: string
                lastname:
                  description: The last name of the user.
                  type: string
                email:
                  description: The email of the user.
                  type: string
                mobilephonenumber:
                  description: The mobile phone number of the user.
                  type: string
                homephonenumber:
                  description: The home phone number of the user.
                  type: string
                workphonenumber:
                  description: The work phone number of the user.
                  type: string
                streetaddress:
                  description: The street address of the user.
                  type: string
                city:
                  description: The city of the user.
                  type: string
                state:
                  description: The state of the user.
                  type: string
                zipcode:
                  description: The zip code of the user.
                  type: string
                title:
                  description: The title of the user.
                  type: string
                company:
                  description: The company of the user.
                  type: string
                photoid:
                  description: The ID of a photo uploaded using user.loadphoto.
                  format: uuid
                  type: string
              required:
              - email
              - firstname
              - lastname
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Updates logged user's profile information
      tags:
      - my
      x-contentType: application/json
      x-accepts: application/json
  /my/account:
    get:
      operationId: myAccount
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Gets the logged in user account.
      tags:
      - my
      x-accepts: application/json
  /user/list:
    get:
      description: Allows the user to view the full list of users and is based on
        role permissions.
      operationId: userList
      parameters:
      - description: The first record to return.
        explode: true
        in: query
        name: from
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The max number of records to return.
        explode: true
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The id of the role to filter users by, or empty to return all
          users.
        explode: true
        in: query
        name: roleid
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: If is 1 then only the users without a card are returned, otherwise
          all users are returned.
        explode: true
        in: query
        name: onlywithoutcard
        required: false
        schema:
          type: string
        style: form
      - description: The size in pixels of the photo URLs returned. Defaults to 40.
          If the size specified is not available, a similar one will be returned.
        explode: true
        in: query
        name: photosize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: View a list of users
      tags:
      - user
      x-accepts: application/json
  /user/{id}:
    delete:
      description: Allows the user to delete a user.
      operationId: userDelete
      parameters:
      - description: The id of the user to delete.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema: {}
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Delete a user
      tags:
      - user
      x-contentType: application/json
      x-accepts: application/json
    get:
      description: Allows the user to search and view a user and their details.
      operationId: userGet
      parameters:
      - description: The id of the user to get.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The size in pixels of the photo URLs returned. Defaults to 40.
          If the size specified is not available, a similar one will be returned.
        explode: true
        in: query
        name: photosize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Search and view details of a user
      tags:
      - user
      x-accepts: application/json
    post:
      description: Allows the user to create or edit a user.
      operationId: userSave
      parameters:
      - description: The id of the user to save (leave empty to create a new one).
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              properties:
                firstname:
                  description: The first name of the user.
                  type: string
                middlename:
                  description: The middle name of the user.
                  type: string
                lastname:
                  description: The last name of the user.
                  type: string
                email:
                  description: The email of the user.
                  type: string
                mobilephonenumber:
                  description: The mobile phone number of the user.
                  type: string
                homephonenumber:
                  description: The home phone number of the user.
                  type: string
                workphonenumber:
                  description: The work phone number of the user.
                  type: string
                streetaddress:
                  description: The street address of the user.
                  type: string
                city:
                  description: The city of the user.
                  type: string
                state:
                  description: The state of the user.
                  type: string
                zipcode:
                  description: The zip code of the user.
                  type: string
                title:
                  description: The title of the user.
                  type: string
                company:
                  description: The company of the user.
                  type: string
                password:
                  description: The new password of the user.
                  type: string
                roles:
                  description: Comma separated list of roles of the user.
                  type: string
                assigncard:
                  description: True if a new card has to be assigned to the user,
                    otherwise false.
                  type: string
                cardnumber:
                  description: The card number that has to be assigned to the user.
                  type: string
                more:
                  description: Custom data of the user
                  type: string
                photoid:
                  description: The ID of a photo uploaded using user.loadphoto.
                  format: uuid
                  type: string
                active:
                  description: The status of the user.
                  type: boolean
              required:
              - email
              - firstname
              - lastname
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Create or edit a user
      tags:
      - user
      x-contentType: application/json
      x-accepts: application/json
  /user/getbycard:
    get:
      description: Allows the user to search for a user by their card number.
      operationId: userGetbycard
      parameters:
      - description: The card number of the user to get.
        explode: true
        in: query
        name: card
        required: true
        schema:
          type: string
        style: form
      - description: The size in pixels of the photo URLs returned. Defaults to 40.
          If the size specified is not available, a similar one will be returned.
        explode: true
        in: query
        name: photosize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Search user by card number
      tags:
      - user
      x-accepts: application/json
  /user/changepwd:
    get:
      description: Allows the user to change their own password.
      operationId: userChangepwd
      parameters:
      - description: The old password of the authenticated user.
        explode: true
        in: query
        name: oldpass
        required: true
        schema:
          format: uuid
          type: string
        style: form
      - description: The new password of the authenticated user.
        explode: true
        in: query
        name: newpass
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Change user's own password
      tags:
      - user
      x-accepts: application/json
  /user/changepwdbyreq:
    get:
      operationId: userChangepwdbyreq
      parameters:
      - description: The change password request ID sent by email to the user.
        explode: true
        in: query
        name: changereq
        required: true
        schema:
          type: string
        style: form
      - description: The new password of the user.
        explode: true
        in: query
        name: newpass
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Changes the user password using a change password request id
      tags:
      - user
      x-accepts: application/json
  /user/requestpwdchange:
    get:
      operationId: userRequestpwdchange
      parameters:
      - description: The domain of the account where the user exists.
        explode: true
        in: query
        name: domain
        required: true
        schema:
          type: string
        style: form
      - description: The email of the user.
        explode: true
        in: query
        name: email
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Requests a password change
      tags:
      - user
      x-accepts: application/json
  /user/savepwdchange:
    post:
      description: Allows the user to trigger an email to another user asking them
        to set or change their password.
      operationId: userSavepwdchange
      requestBody:
        content:
          application/json:
            schema:
              properties:
                users:
                  description: A JSON array containing the ids of the users whose
                    passwords have to be set.
                  type: string
                role:
                  description: A specific role whose users passwords have to be set.
                  format: uuid
                  type: string
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Send email to the specified user(s) to set/change their passwords
      tags:
      - user
      x-contentType: application/json
      x-accepts: application/json
  /user/loadphoto:
    get:
      description: Allows the user to upload a photo for a user.
      operationId: userLoadphoto
      parameters:
      - description: Set 'file' as value to indicate that a file is being submitted
          in the body (instead of a JSON object).
        explode: true
        in: query
        name: upload
        required: true
        schema:
          type: string
        style: form
      - description: The local name of the uploaded file. For later reference.
        explode: true
        in: query
        name: filename
        required: false
        schema:
          type: string
        style: form
      - description: The user ID to directly associate the upload photo. If not specified,
          a temp ID is returned that can be later specified in 'user.save'.
        explode: true
        in: query
        name: userid
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: 'Set this to true to find the specific user based on the file
          name. '
        explode: true
        in: query
        name: automatch
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Upload a photo for a specific user
      tags:
      - user
      x-accepts: application/json
  /user/findsimilar:
    get:
      description: Allows the user to be warned if a user they are creating has the
        same card number as another user.
      operationId: userFindsimilar
      parameters:
      - description: The id of the current user.
        explode: true
        in: query
        name: currentid
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: A phone number to search for similar users.
        explode: true
        in: query
        name: phonenumber
        required: false
        schema:
          type: string
        style: form
      - description: A card number to search for similar users.
        explode: true
        in: query
        name: cardnumber
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Finds similar users to prevent duplicates
      tags:
      - user
      x-accepts: application/json
  /user/movedata:
    get:
      description: Allows administrators to move data between users.
      operationId: userMovedata
      parameters:
      - description: The id of the user that is the source of the data.
        explode: true
        in: query
        name: source
        required: true
        schema:
          format: uuid
          type: string
        style: form
      - description: The id of the user that is the destination of the data.
        explode: true
        in: query
        name: destination
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Move data between users
      tags:
      - user
      x-accepts: application/json
  /role/list:
    get:
      operationId: roleList
      parameters:
      - description: Filter by name of the role.
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Show a list of roles
      tags:
      - role
      x-accepts: application/json
  /client/get:
    get:
      operationId: clientGet
      parameters:
      - description: The unique id of the client.
        explode: true
        in: query
        name: client
        required: true
        schema:
          type: string
        style: form
      - description: The custom name of the client.
        explode: true
        in: query
        name: clientname
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Get client
      tags:
      - client
      x-accepts: application/json
  /client/save:
    post:
      operationId: clientSave
      requestBody:
        content:
          application/json:
            schema:
              properties:
                client:
                  description: The id of the client to save.
                  format: uuid
                  type: string
                clientname:
                  description: The name of the client.
                  type: string
                pushtoken:
                  description: The push token of the client.
                  type: string
              required:
              - client
              - clientname
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Saves a client
      tags:
      - client
      x-contentType: application/json
      x-accepts: application/json
  /client/list:
    get:
      operationId: clientList
      parameters:
      - description: The first record to return.
        explode: true
        in: query
        name: from
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The max number of records to return.
        explode: true
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Gets the clients of the specified conference
      tags:
      - client
      x-accepts: application/json
  /client/sendmessage:
    get:
      operationId: clientSendmessage
      parameters:
      - description: The unique id of the client.
        explode: true
        in: query
        name: uniqueclientid
        required: true
        schema:
          format: uuid
          type: string
        style: form
      - description: The body of the message to send.
        explode: true
        in: query
        name: message
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Send a message to a client
      tags:
      - client
      x-accepts: application/json
  /bgjob/getstatus:
    get:
      operationId: bgjobGetstatus
      parameters:
      - description: The ID of the job to get the status. 10 most recent will be returned
          if not specified.
        explode: true
        in: query
        name: jobid
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: The job type to filter by.
        explode: true
        in: query
        name: jobtype
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Get background job status
      tags:
      - bgjob
      x-accepts: application/json
  /setting/get:
    get:
      operationId: settingGet
      parameters:
      - description: The account domain, in case of reading settings annonymously.
        explode: true
        in: query
        name: domain
        required: false
        schema:
          type: string
        style: form
      - description: The option keys to get values for. Enter multiple separated by
          comma.
        explode: true
        in: query
        name: keys
        required: true
        schema:
          type: string
        style: form
      - description: The scope of the settings to get.
        explode: true
        in: query
        name: scope
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Get settings for the account or the specified scope
      tags:
      - setting
      x-accepts: application/json
  /setting/save:
    post:
      description: Allows the user to affect settings that are not specified elsewhere
        in permissions. This includes Attendance, Appointments, Compass, Media, and
        Social Activity.
      operationId: settingSave
      requestBody:
        content:
          application/json:
            schema:
              properties:
                optionsjson:
                  description: The options to save in the account, in JSON format.
                  type: string
                scope:
                  description: The scope of the settings to save.
                  type: string
              required:
              - optionsjson
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Save settings for the account or the specified scope
      tags:
      - setting
      x-contentType: application/json
      x-accepts: application/json
  /setting/addlogo:
    get:
      description: Allows the user to add the logo for the account, which appears
        on all pages on the AccuClub browser version.
      operationId: settingAddlogo
      parameters:
      - description: Set 'file' as value to indicate that a file is being submitted
          in the body (instead of a JSON object).
        explode: true
        in: query
        name: upload
        required: true
        schema:
          type: string
        style: form
      - description: The original filename, needed to process the file.
        explode: true
        in: query
        name: filename
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Add a logo to the account
      tags:
      - setting
      x-accepts: application/json
  /setting/viewgeneral:
    get:
      description: Allows the user to view the settings' general section.
      operationId: settingViewgeneral
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: View general settings for the account
      tags:
      - setting
      x-accepts: application/json
  /actionlog/list:
    get:
      description: Allows the user to view the audit logs for the account.
      operationId: actionlogList
      parameters:
      - description: The id of the user whose action logs have to be returned.
        explode: true
        in: query
        name: user
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: The start date of the period to filter the logs.
        explode: true
        in: query
        name: startdate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date of the period to filter the logs.
        explode: true
        in: query
        name: enddate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The resource to filter the action logs.
        explode: true
        in: query
        name: resource
        required: false
        schema:
          type: string
        style: form
      - description: The action to filter the action logs.
        explode: true
        in: query
        name: actionfilter
        required: false
        schema:
          type: string
        style: form
      - description: The id of the entity that was the argument of the executed action.
        explode: true
        in: query
        name: argument
        required: false
        schema:
          type: string
        style: form
      - description: The first record to return.
        explode: true
        in: query
        name: from
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The max number of records to return.
        explode: true
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: View a list of users action logs
      tags:
      - actionlog
      x-accepts: application/json
  /version:
    get:
      operationId: version
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Get current version information
      tags:
      - General
      x-accepts: application/json
  /changelog:
    get:
      operationId: changelog
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Get the application change log
      tags:
      - General
      x-accepts: application/json
  /easylogin/addbgimage:
    get:
      description: Allows the user to set the background image that all users will
        see when logging into an AccuClub account not using SSO.
      operationId: easyloginAddbgimage
      parameters:
      - description: Set 'file' as value to indicate that a file is being submitted
          in the body (instead of a JSON object).
        explode: true
        in: query
        name: upload
        required: true
        schema:
          type: string
        style: form
      - description: The original filename, needed to process the file.
        explode: true
        in: query
        name: filename
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Adds background image for the login
      tags:
      - easylogin
      x-accepts: application/json
  /export:
    get:
      description: Allows the user to export data from AccuClub into a CSV, HTML,
        or Excel format.
      operationId: export
      parameters:
      - description: What to export.
        explode: true
        in: query
        name: exporttype
        required: true
        schema:
          type: string
        style: form
      - description: The format of the resulting file. Valid types are CSV, HTML,
          XLS.
        explode: true
        in: query
        name: exportformat
        required: true
        schema:
          type: string
        style: form
      - description: 'Pipe separated filters for the export, eg: aaa=val|bbb=val|...'
        explode: true
        in: query
        name: filters
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Export AccuClub data
      tags:
      - General
      x-accepts: application/json
  /export/listtypes:
    get:
      operationId: exportListtypes
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Lists available export types
      tags:
      - export
      x-accepts: application/json
  /location/{id}:
    delete:
      description: Allows the user to delete an existing location.
      operationId: locationDelete
      parameters:
      - description: The id of the location to delete.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema: {}
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Delete a location
      tags:
      - location
      x-contentType: application/json
      x-accepts: application/json
    get:
      description: Allows the user to search and view an individual location and its
        details.
      operationId: locationGet
      parameters:
      - description: The id of the location to get.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Search and view details of a location
      tags:
      - location
      x-accepts: application/json
    post:
      description: Allows the user to create or edit a location.
      operationId: locationSave
      parameters:
      - description: The id of the location save (leave empty to create a new one).
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  description: The name of the location.
                  type: string
                categoryid:
                  description: The id of location's LocationCategory.
                  format: uuid
                  type: string
                categoryname:
                  description: The name of the location's LocationCategory.
                  type: string
                streetaddress:
                  description: The street address of the location.
                  type: string
                latitude:
                  description: The latitude of the location.
                  format: double
                  type: number
                longitude:
                  description: The longitude of the location.
                  format: double
                  type: number
                websiteurl:
                  description: The web site url of the location.
                  type: string
                email:
                  description: The e-mail address of the location.
                  type: string
                moreinformation:
                  description: More information relevant to the location.
                  type: string
                isrestricted:
                  description: Whether this location has the access restricted.
                  type: boolean
                accessroles:
                  description: The roles that can view the info associated to this
                    location, in JSON format.
                  type: string
                order:
                  description: The order of the location.
                  format: int32
                  type: integer
              required:
              - name
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Create or edit a location
      tags:
      - location
      x-contentType: application/json
      x-accepts: application/json
  /location/list:
    get:
      description: Allows the user to view the list of all locations to which they
        are scoped.
      operationId: locationList
      parameters:
      - description: The first record to return.
        explode: true
        in: query
        name: from
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The max number of records to return.
        explode: true
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The comma-separated list containing the ids of the locations
          to list.
        explode: true
        in: query
        name: locations
        required: false
        schema:
          type: string
        style: form
      - description: True to list locations sorted by the 'Located In' property. Defaults
          to false.
        explode: true
        in: query
        name: sortbygroup
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: View a list of locations
      tags:
      - location
      x-accepts: application/json
  /template/list:
    get:
      description: Allows the user to view the full list of created templates.
      operationId: templateList
      parameters:
      - description: The first record to return.
        explode: true
        in: query
        name: from
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The max number of records to return.
        explode: true
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The kind of the templates to return. It must be included in (badge,
          certificate).
        explode: true
        in: query
        name: kind
        required: true
        schema:
          type: string
        style: form
      - description: If true then it only returns the templates that were designed.
          Otherwise, it returns all.
        explode: true
        in: query
        name: designedonly
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: View a list of defined templates
      tags:
      - template
      x-accepts: application/json
  /template/{id}:
    delete:
      description: Allows the user to delete an existing template.
      operationId: templateDelete
      parameters:
      - description: The id of the template to delete.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema: {}
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Delete a template
      tags:
      - template
      x-contentType: application/json
      x-accepts: application/json
    get:
      description: Allows the user to view a template and its details.
      operationId: templateGet
      parameters:
      - description: The id of the template to get.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: View details of a template
      tags:
      - template
      x-accepts: application/json
    post:
      description: Allows the user to create or edit a template.
      operationId: templateSave
      parameters:
      - description: The id of the template to save (leave empty to create a new one).
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              properties:
                kind:
                  description: The kind of the templates to return. It must be included
                    in (badge, certificate).
                  type: string
                name:
                  description: The template's name.
                  type: string
                description:
                  description: The template's description.
                  type: string
              required:
              - kind
              - name
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Create or edit a template
      tags:
      - template
      x-contentType: application/json
      x-accepts: application/json
  /template/savelayout:
    post:
      description: Allows the user to edit a template's layout.
      operationId: templateSavelayout
      requestBody:
        content:
          application/json:
            schema:
              properties:
                id:
                  description: The id of the template whose layout needs to be saved.
                  format: uuid
                  type: string
                layout:
                  description: The template's layout (in JSON).
                  type: string
              required:
              - id
              - layout
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Save the layout of a template
      tags:
      - template
      x-contentType: application/json
      x-accepts: application/json
  /template/addimage:
    get:
      description: Allows the user to add an image to a badge or certificate template.
      operationId: templateAddimage
      parameters:
      - description: The id of the template where the image has to be added
        explode: true
        in: query
        name: template
        required: true
        schema:
          format: uuid
          type: string
        style: form
      - description: Set 'file' as value to indicate that a file is being submitted
          in the body (instead of a JSON object).
        explode: true
        in: query
        name: upload
        required: true
        schema:
          type: string
        style: form
      - description: The local name of the uploaded file. For later reference.
        explode: true
        in: query
        name: filename
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Add an image to a template
      tags:
      - template
      x-accepts: application/json
  /template/generate:
    get:
      description: Allows the user to generate an existing template as badges or certificates.
      operationId: templateGenerate
      parameters:
      - description: The id of the template to generate.
        explode: true
        in: query
        name: template
        required: true
        schema:
          format: uuid
          type: string
        style: form
      - description: The source key of the selected template data source.
        explode: true
        in: query
        name: source
        required: true
        schema:
          format: uuid
          type: string
        style: form
      - description: True if all the templates should be placed in the same file,
          false if each one shoud be in its own file.
        explode: true
        in: query
        name: singlefile
        required: true
        schema:
          type: boolean
        style: form
      - description: Only the template for these users is created (and emailed if
          'email' is true), enter multiple separated by commas.
        explode: true
        in: query
        name: userid
        required: false
        schema:
          type: string
        style: form
      - description: It specifies the purpose of the creation of the templates. If
          true then is for sending via e-mail, otherwise is just for downloading
        explode: true
        in: query
        name: forsending
        required: false
        schema:
          type: boolean
        style: form
      - description: 'When printing all badges, filter by person type, can be either:
          attendee, presenter or exhibitor'
        explode: true
        in: query
        name: role
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: 'Pipe separated filters for the generation, eg: aaa=val|bbb=val|...'
        explode: true
        in: query
        name: filters
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Generate specified templates
      tags:
      - template
      x-accepts: application/json
  /template/getgenerated:
    get:
      description: Allows the user to view templates which have been generated as
        badges or certificates.
      operationId: templateGetgenerated
      parameters:
      - description: The id of the job that is creating the templates.
        explode: true
        in: query
        name: jobid
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: View generated templates
      tags:
      - template
      x-accepts: application/json
  /template/email:
    get:
      description: Allows the user to send generated templates via email through AccuClub.
      operationId: templateEmail
      parameters:
      - description: The id of the job that is creating the templates.
        explode: true
        in: query
        name: jobid
        required: true
        schema:
          type: string
        style: form
      - description: The kind of the template you're sending. It must be included
          in (badge, certificate).
        explode: true
        in: query
        name: templatekind
        required: false
        schema:
          type: string
        style: form
      - description: The name of the sender to be displayed in the receipients inbox
        explode: true
        in: query
        name: emailfrom
        required: false
        schema:
          type: string
        style: form
      - description: The reply-to field for the emails.
        explode: true
        in: query
        name: emailreplyto
        required: false
        schema:
          type: string
        style: form
      - description: Args depending on the send-to flag.
        explode: true
        in: query
        name: emailsubject
        required: true
        schema:
          type: string
        style: form
      - description: Args depending on the send-to flag.
        explode: true
        in: query
        name: emailbody
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Send generated templates by email
      tags:
      - template
      x-accepts: application/json
  /template/listsources:
    get:
      description: Allows the user to see tokens to be used in the template
      operationId: templateListsources
      parameters:
      - description: The kind of the templates to return. It must be included in (badge,
          certificate).
        explode: true
        in: query
        name: kind
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: View a list of templates' data sources
      tags:
      - template
      x-accepts: application/json
  /textcredit/remaining:
    get:
      operationId: textcreditRemaining
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Gets the remaining text credits for the account
      tags:
      - textcredit
      x-accepts: application/json
  /translation/list:
    get:
      operationId: translationList
      parameters:
      - description: Text to search/filter translations.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: If true then it returns only the terms translated. Otherwise,
          it returns all.
        explode: true
        in: query
        name: nondefaultonly
        required: false
        schema:
          type: boolean
        style: form
      - description: If true then it uses the app default translation as the universal
          term.
        explode: true
        in: query
        name: appdefaultasuniversal
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Lists all the available translations in the system
      tags:
      - translation
      x-accepts: application/json
  /translation/{id}:
    post:
      description: Allows the user to edit a translation for the entire account.
      operationId: translationSave
      parameters:
      - description: The id of the translation as returned by translation.list.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              properties:
                translation:
                  description: The translated text.
                  type: string
              required:
              - translation
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Edit a translation
      tags:
      - translation
      x-contentType: application/json
      x-accepts: application/json
  /translation/get:
    get:
      operationId: translationGet
      parameters:
      - description: Pipe separated list of universal text to be translated.
        explode: true
        in: query
        name: universal
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Gets the translations of the specified values
      tags:
      - translation
      x-accepts: application/json
  /translation/getcachefile:
    get:
      operationId: translationGetcachefile
      parameters:
      - description: The id of the account whose translations file has to be retrieved.
        explode: true
        in: query
        name: account
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Get the file containing the translations
      tags:
      - translation
      x-accepts: application/json
  /usersettings/save:
    post:
      operationId: usersettingsSave
      requestBody:
        content:
          application/json:
            schema:
              properties:
                key:
                  description: Setting key to save.
                  type: string
                value:
                  description: Setting value to save.
                  type: string
                user:
                  description: The user id whose settings have to be saved.
                  format: uuid
                  type: string
              required:
              - key
              - value
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Saves a user setting
      tags:
      - usersettings
      x-contentType: application/json
      x-accepts: application/json
  /usersettings/savemultiple:
    post:
      operationId: usersettingsSavemultiple
      requestBody:
        content:
          application/json:
            schema:
              properties:
                optionsjson:
                  description: The options to save in the account, in JSON format.
                  type: string
                user:
                  description: The user id whose settings have to be saved.
                  format: uuid
                  type: string
              required:
              - optionsjson
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Save multiple user settings at once
      tags:
      - usersettings
      x-contentType: application/json
      x-accepts: application/json
  /usersettings/get:
    get:
      operationId: usersettingsGet
      parameters:
      - description: Setting key to get. Can be multiple separated by commas.
        explode: true
        in: query
        name: keys
        required: true
        schema:
          type: string
        style: form
      - description: The user id whose settings have to be returned.
        explode: true
        in: query
        name: user
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Lists available user settings
      tags:
      - usersettings
      x-accepts: application/json
  /usersettings/getmultiple:
    get:
      operationId: usersettingsGetmultiple
      parameters:
      - description: Setting key to get. Can be multiple separated by commas.
        explode: true
        in: query
        name: keys
        required: true
        schema:
          type: string
        style: form
      - description: The user id whose settings have to be returned.
        explode: true
        in: query
        name: user
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Get multiple user settings
      tags:
      - usersettings
      x-accepts: application/json
  /quickpanel/init:
    get:
      operationId: quickpanelInit
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Returns the initial information required to show the quick panels
      tags:
      - quickpanel
      x-accepts: application/json
  /quickpanel/fetchwidget:
    get:
      operationId: quickpanelFetchwidget
      parameters:
      - description: The ID of the data to fetch it's data.
        explode: true
        in: query
        name: widgetid
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Fetches the information for a specific widget.
      tags:
      - quickpanel
      x-accepts: application/json
  /quickpanel/listwidgettypes:
    get:
      operationId: quickpanelListwidgettypes
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Lists all the widget types available in the system
      tags:
      - quickpanel
      x-accepts: application/json
  /quickpanel/getwidget:
    get:
      description: Allows the user to view a widget added in as Quick Panel.
      operationId: quickpanelGetwidget
      parameters:
      - description: The id of the widget to get.
        explode: true
        in: query
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: View details of a widget included in the Quick Panel
      tags:
      - quickpanel
      x-accepts: application/json
  /quickpanel/listwidgets:
    get:
      description: Allows the user to view the widgets that have been added to the
        Quick Panel.
      operationId: quickpanelListwidgets
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Lists all the widgets that are added in the Quick Panel
      tags:
      - quickpanel
      x-accepts: application/json
  /quickpanel/savewidget:
    post:
      description: Allows the user to save a widget to the Quick Panel.
      operationId: quickpanelSavewidget
      requestBody:
        content:
          application/json:
            schema:
              properties:
                id:
                  description: The id of the widget.
                  format: uuid
                  type: string
                sectionname:
                  description: The section name where to add the widget.
                  type: string
                sortorder:
                  description: The sort order of the widget.
                  format: int32
                  type: integer
                title:
                  description: Title of the widget.
                  type: string
                type:
                  description: Type of the widget.
                  type: string
                data:
                  description: Context data of the widget.
                  type: string
                roleids:
                  description: CSV list of roles that display this widget.
                  type: string
              required:
              - data
              - roleids
              - sectionname
              - sortorder
              - title
              - type
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Saves a widget for the Quick Panel
      tags:
      - quickpanel
      x-contentType: application/json
      x-accepts: application/json
  /quickpanel/deletewidget:
    delete:
      description: Allows the user to delete a widget that has been added to the Quick
        Panel.
      operationId: quickpanelDeletewidget
      requestBody:
        content:
          application/json:
            schema:
              properties:
                id:
                  description: The id of the widget.
                  format: uuid
                  type: string
              required:
              - id
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Deletes a widget from the Quick Panel
      tags:
      - quickpanel
      x-contentType: application/json
      x-accepts: application/json
  /quickpanel/reorderwidgets:
    get:
      operationId: quickpanelReorderwidgets
      parameters:
      - description: The section name where to sort the widgets.
        explode: true
        in: query
        name: sectionname
        required: true
        schema:
          type: string
        style: form
      - description: CSV list of the widgets to reorder.
        explode: true
        in: query
        name: orderids
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Reorders the widgets and moves them to a specific column
      tags:
      - quickpanel
      x-accepts: application/json
  /term/{id}:
    delete:
      description: Allows the user to delete a term from the existing list.
      operationId: termDelete
      parameters:
      - description: The id of the term to delete.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema: {}
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Delete a term
      tags:
      - term
      x-contentType: application/json
      x-accepts: application/json
    get:
      description: Allows the user to view a term and its details.
      operationId: termGet
      parameters:
      - description: The id of the term to get.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Search and view details of a term
      tags:
      - term
      x-accepts: application/json
    post:
      description: Allows the user to create and edit terms.
      operationId: termSave
      parameters:
      - description: The id of the term to save (leave empty to create a new one).
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  description: The name of the term.
                  type: string
                start:
                  description: The date when the term starts.
                  format: date-time
                  type: string
                end:
                  description: The date when the term ends.
                  format: date-time
                  type: string
              required:
              - end
              - name
              - start
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Create and edit terms
      tags:
      - term
      x-contentType: application/json
      x-accepts: application/json
  /term/list:
    get:
      description: Allows the user to view the full list of existing term.
      operationId: termList
      parameters:
      - description: The first record to return.
        explode: true
        in: query
        name: from
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The max number of records to return.
        explode: true
        in: query
        name: count
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Specifies whether the terms in the past should be returned or
          not.
        explode: true
        in: query
        name: notpast
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Search and view details of all terms
      tags:
      - term
      x-accepts: application/json
  /holiday/suggest:
    get:
      description: Allows the user to view the holiday suggestions for each term.
      operationId: holidaySuggest
      parameters:
      - description: The term to get holidays from.
        explode: true
        in: query
        name: term
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: View the holiday suggestions in the given term
      tags:
      - holiday
      x-accepts: application/json
  /holiday/list:
    get:
      description: Allows the user to view all holidays entered.
      operationId: holidayList
      parameters:
      - description: The term to get holidays from.
        explode: true
        in: query
        name: term
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: View a list of entered holidays
      tags:
      - holiday
      x-accepts: application/json
  /holiday/save:
    post:
      description: Allows the user to create or edit holidays.
      operationId: holidaySave
      requestBody:
        content:
          application/json:
            schema:
              properties:
                daysoff:
                  description: A json list of names and dates.
                  type: string
              required:
              - daysoff
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Create or edit a list of holidays
      tags:
      - holiday
      x-contentType: application/json
      x-accepts: application/json
  /notificationtopic/{id}:
    delete:
      description: Allows the user to delete an existing notification topic.
      operationId: notificationtopicDelete
      parameters:
      - description: The id of the notification topic to delete.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema: {}
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Delete a notification topic
      tags:
      - notificationtopic
      x-contentType: application/json
      x-accepts: application/json
    get:
      description: Allows the user to view an individual notification topic and its
        details.
      operationId: notificationtopicGet
      parameters:
      - description: The id of the notification topic to get.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Search and view details of a notification topic
      tags:
      - notificationtopic
      x-accepts: application/json
    post:
      description: Allows the user to create and edit a notification topic.
      operationId: notificationtopicSave
      parameters:
      - description: The id of the topic to save (leave empty to create a new one).
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  description: The name of the topic.
                  type: string
                description:
                  description: The description of the topic.
                  type: string
                enableonscreendelivery:
                  description: Specifies whether the notifications assigned to this
                    topic can be sent on-screen or not.
                  type: boolean
                sendonscreendefault:
                  description: Specifies whether the notifications assigned to this
                    topic have to have the on-screen delivery enabled by default.
                  type: boolean
                enableemaildelivery:
                  description: Specifies whether the notifications assigned to this
                    topic can be sent via e-mail or not.
                  type: boolean
                sendemaildefault:
                  description: Specifies whether the notifications assigned to this
                    topic have to have the e-mail delivery enabled by default.
                  type: boolean
                enablesmsdelivery:
                  description: Specifies whether the notifications assigned to this
                    topic can be sent via sms or not.
                  type: boolean
                sendsmsdefault:
                  description: Specifies whether the notifications assigned to this
                    topic have to have the sms delivery enabled by default.
                  type: boolean
              required:
              - description
              - name
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Create or edit a notification topic
      tags:
      - notificationtopic
      x-contentType: application/json
      x-accepts: application/json
  /notificationtopic/list:
    get:
      description: Allows the user to view the list of all notification topics.
      operationId: notificationtopicList
      parameters:
      - description: The first record to return.
        explode: true
        in: query
        name: from
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The max number of records to return.
        explode: true
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: List all the notification topics
      tags:
      - notificationtopic
      x-accepts: application/json
  /notificationtopic/listsubscribe:
    get:
      operationId: notificationtopicListsubscribe
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: List all the notification topics available to subscribe
      tags:
      - notificationtopic
      x-accepts: application/json
  /notification/sendonscreen:
    get:
      operationId: notificationSendonscreen
      parameters:
      - description: The ID of the notification to send.
        explode: true
        in: query
        name: notification
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Send on-screen notifications
      tags:
      - notification
      x-accepts: application/json
  /notification/getunreadcount:
    get:
      operationId: notificationGetunreadcount
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Get the number of unread notifications
      tags:
      - notification
      x-accepts: application/json
  /notification/{id}:
    delete:
      description: Allows the user to delete an existing notification.
      operationId: notificationDelete
      parameters:
      - description: The id of the notification to delete.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema: {}
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Delete a notification
      tags:
      - notification
      x-contentType: application/json
      x-accepts: application/json
    get:
      operationId: notificationGet
      parameters:
      - description: The id of the notification to get.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: View a notification
      tags:
      - notification
      x-accepts: application/json
  /notification/list:
    get:
      description: Allows the user to view the list of all sent notifications.
      operationId: notificationList
      parameters:
      - description: The first record to return.
        explode: true
        in: query
        name: from
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The max number of records to return.
        explode: true
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The recipient whose notifications have to be listed.
        explode: true
        in: query
        name: recipient
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: The status of the notifications to list. Read, Unread or All.
        explode: true
        in: query
        name: status
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The start date of the period to filter the notifications.
        explode: true
        in: query
        name: startdate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date of the period to filter the notifications.
        explode: true
        in: query
        name: enddate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Specifies whether to list the notifications that were sent on-screen
          or not.
        explode: true
        in: query
        name: sentonscreen
        required: false
        schema:
          type: boolean
        style: form
      - description: Specifies whether to list the notifications that were sent via
          e-mail or not.
        explode: true
        in: query
        name: sentemail
        required: false
        schema:
          type: boolean
        style: form
      - description: Specifies whether to list the notifications that were sent via
          sms or not.
        explode: true
        in: query
        name: sentsms
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: View a list of all sent notifications
      tags:
      - notification
      x-accepts: application/json
  /notification/listmine:
    get:
      operationId: notificationListmine
      parameters:
      - description: The first record to return.
        explode: true
        in: query
        name: from
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The max number of records to return.
        explode: true
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: Specifies the status of the notifications to list. Read, Unread
          or All.
        explode: true
        in: query
        name: status
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The start date of the period to filter the notifications.
        explode: true
        in: query
        name: startdate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date of the period to filter the notifications.
        explode: true
        in: query
        name: enddate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: View all the notifications sent to the current user
      tags:
      - notification
      x-accepts: application/json
  /notification/markasread:
    get:
      operationId: notificationMarkasread
      parameters:
      - description: The id of the notification to mark as read. If not specified
          all notifications of the logged user will be marked as read.
        explode: true
        in: query
        name: id
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: Specifies the status to filter the notifications. Read, Unread
          or All.
        explode: true
        in: query
        name: status
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The start date of the period to filter the notifications.
        explode: true
        in: query
        name: startdate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date of the period to filter the notifications.
        explode: true
        in: query
        name: enddate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Mark a notification as read
      tags:
      - notification
      x-accepts: application/json
  /notification/markasunread:
    get:
      operationId: notificationMarkasunread
      parameters:
      - description: The id of the notification to mark as unread. If not specified
          all notifications of the logged user will be marked as unread.
        explode: true
        in: query
        name: id
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: Specifies the status to filter the notifications. Read, Unread
          or All.
        explode: true
        in: query
        name: status
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The start date of the period to filter the notifications.
        explode: true
        in: query
        name: startdate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date of the period to filter the notifications.
        explode: true
        in: query
        name: enddate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Mark a notification as unread
      tags:
      - notification
      x-accepts: application/json
  /notification/send:
    get:
      description: Allows the user to send notifications to other users through the
        Send Message link.
      operationId: notificationSend
      parameters:
      - description: Comma-separated Ids of users to send the notification.
        explode: true
        in: query
        name: tousers
        required: false
        schema:
          type: string
        style: form
      - description: Comma-separated Ids of user groups to send the notification.
        explode: true
        in: query
        name: togroups
        required: false
        schema:
          type: string
        style: form
      - description: Whether send the notification via email.
        explode: true
        in: query
        name: emailenabled
        required: true
        schema:
          type: boolean
        style: form
      - description: Whether to display the notification on screen.
        explode: true
        in: query
        name: onscreenenabled
        required: true
        schema:
          type: boolean
        style: form
      - description: Whether to send the notification via text message.
        explode: true
        in: query
        name: smsenabled
        required: true
        schema:
          type: boolean
        style: form
      - description: Notification title.
        explode: true
        in: query
        name: title
        required: true
        schema:
          type: string
        style: form
      - description: Body of the message for on-screen display.
        explode: true
        in: query
        name: onscreenbody
        required: false
        schema:
          type: string
        style: form
      - description: 'What to do when the notification is clicked. Valid values: hide,
          view, url.'
        explode: true
        in: query
        name: onscreenclick
        required: false
        schema:
          type: string
        style: form
      - description: Url to redirect the user, if onscreenclick=url.
        explode: true
        in: query
        name: onscreenurl
        required: false
        schema:
          type: string
        style: form
      - description: 'How to display the notification. Valid values: info, success,
          warning, error'
        explode: true
        in: query
        name: onscreenclass
        required: false
        schema:
          type: string
        style: form
      - description: Time in seconds to display the notification.
        explode: true
        in: query
        name: onscreenduration
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Whether to show the notification in the sign-in station.
        explode: true
        in: query
        name: showonstation
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Name of the email sender.
        explode: true
        in: query
        name: emailfromname
        required: false
        schema:
          type: string
        style: form
      - description: Reply-to email.
        explode: true
        in: query
        name: emailfrom
        required: false
        schema:
          type: string
        style: form
      - description: Subject of the email.
        explode: true
        in: query
        name: emailsubject
        required: false
        schema:
          type: string
        style: form
      - description: Body of the email.
        explode: true
        in: query
        name: emailbody
        required: false
        schema:
          type: string
        style: form
      - description: Message for SMS. Max 160 characters.
        explode: true
        in: query
        name: textmessagebody
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Send notifications on screen, via email or text to users
      tags:
      - notification
      x-accepts: application/json
  /push/deregister:
    get:
      operationId: pushDeregister
      parameters:
      - description: The device token where to send the notification.
        explode: true
        in: query
        name: devicetoken
        required: true
        schema:
[...]
