{
  "openapi": "3.0.1",
  "info": {
    "title": "AccuCampus OpenAPI 3",
    "description": "",
    "version": "1.0.0",
    "x-logo": {
      "url": "https://c1.engineerica.com/images/logos-png/h59/accucampus.png",
      "altText": "AccuCampus"
    }
  },
  "servers": [
    {
      "url": "https://accucampus.net:443/api/v1"
    }
  ],
  "paths": {
    "/doc": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "Get the documentation",
        "description": "Retrieves the list of actions available in the system.",
        "operationId": "doc",
        "parameters": [
          {
            "name": "excludeanonymous",
            "in": "query",
            "description": "If true it excludes the anonymous actions from the returned list.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/feature/list": {
      "get": {
        "tags": [
          "feature"
        ],
        "summary": "Lists the available features.",
        "operationId": "featureList",
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/login": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "Login",
        "operationId": "login",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "The account domain to login.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "query",
            "description": "The username (email) of the user to login as.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "password",
            "in": "query",
            "description": "The password of the user to login as.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "method",
            "in": "query",
            "description": "The authentication method. Valid values are 'token' and 'cookie'.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rememberme",
            "in": "query",
            "description": "If true then the session will not expire.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/logout": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "Logout",
        "operationId": "logout",
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/search": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "Search",
        "operationId": "search",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "The query to search for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Current page to show, zero-based.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/search/getentities": {
      "get": {
        "tags": [
          "search"
        ],
        "summary": "Get the information of the entities that can be searched",
        "operationId": "searchGetentities",
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/listtimezones": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "Lists the available timezones",
        "operationId": "listtimezones",
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/my/ianatimezone": {
      "get": {
        "tags": [
          "my"
        ],
        "summary": "Gets the current time zone's iana name",
        "operationId": "myIanatimezone",
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/captcha/getimage": {
      "get": {
        "tags": [
          "captcha"
        ],
        "summary": "Gets a captcha image that the user must complete to do certain requests.",
        "operationId": "captchaGetimage",
        "parameters": [
          {
            "name": "captchatoken",
            "in": "query",
            "description": "The captcha token or ID returned by the captcha.getchallenge action",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/captcha/getchallenge": {
      "get": {
        "tags": [
          "captcha"
        ],
        "summary": "Gets a captcha challenge that the user must complete to do certain requests.",
        "operationId": "captchaGetchallenge",
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/menu/getitems": {
      "get": {
        "tags": [
          "menu"
        ],
        "summary": "Gets the items on the menu",
        "operationId": "menuGetitems",
        "parameters": [
          {
            "name": "menuid",
            "in": "query",
            "description": "The Id of the menu to get.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/texttoimage": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "Generates a dynamic image from text",
        "operationId": "texttoimage",
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "description": "The text to convert to an image, use double pipes (||) as a new line.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fontcolor",
            "in": "query",
            "description": "The color of the text, in hex format, without the #.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fontsize",
            "in": "query",
            "description": "The size of the text, in points.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "direction",
            "in": "query",
            "description": "Either vertical or horizontal, default horizontal.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "width",
            "in": "query",
            "description": "The image width in pixels (or height if the direction is vertical).",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/qrlogin/get": {
      "get": {
        "tags": [
          "qrlogin"
        ],
        "summary": "Gets an image of a QR token",
        "operationId": "qrloginGet",
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/qrlogin/login": {
      "get": {
        "tags": [
          "qrlogin"
        ],
        "summary": "Login",
        "operationId": "qrloginLogin",
        "parameters": [
          {
            "name": "onetimetoken",
            "in": "query",
            "description": "The token read from the QR code.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/appshare/getphone": {
      "get": {
        "tags": [
          "appshare"
        ],
        "summary": "Gets the phone number of the current user",
        "operationId": "appshareGetphone",
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/appshare/sendtext": {
      "get": {
        "tags": [
          "appshare"
        ],
        "summary": "Sends an SMS with the link to the app",
        "operationId": "appshareSendtext",
        "parameters": [
          {
            "name": "phonenumber",
            "in": "query",
            "description": "Phone number to where to send the link. Leave empty to the number on file.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/sso/generatekey": {
      "get": {
        "tags": [
          "sso"
        ],
        "summary": "Generate/reset single sign on access key.",
        "description": "Allows the user to generate or reset the access key for single sign-on.",
        "operationId": "ssoGeneratekey",
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/sso/savesettings": {
      "post": {
        "tags": [
          "sso"
        ],
        "summary": "Edit single sign-on settings.",
        "description": "Allows the user to edit settings for single sign-on.",
        "operationId": "ssoSavesettings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "enabled",
                  "expireswheninactive"
                ],
                "properties": {
                  "enabled": {
                    "type": "boolean",
                    "description": "Specifies whether the single sign on is enabled or not."
                  },
                  "expireswheninactive": {
                    "type": "boolean",
                    "description": "Specifies whether the sessions should expire when inactive."
                  },
                  "redirecturl": {
                    "type": "string",
                    "description": "The url the user gets redirected when the session is closed or expires."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/sso/getsettings": {
      "get": {
        "tags": [
          "sso"
        ],
        "summary": "View single sign on settings.",
        "description": "Allows the user to view settings for single sign-on.",
        "operationId": "ssoGetsettings",
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/sso/issuetoken": {
      "get": {
        "tags": [
          "sso"
        ],
        "summary": "Issue single sign-on token",
        "operationId": "ssoIssuetoken",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "The single sign-on key of the account.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "query",
            "description": "The email of the user to sign-on.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expires",
            "in": "query",
            "description": "Specifies whether the session should expire when inactive.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/license/getcurrent": {
      "get": {
        "tags": [
          "license"
        ],
        "summary": "Gets the current license information",
        "operationId": "licenseGetcurrent",
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/license/renew": {
      "get": {
        "tags": [
          "license"
        ],
        "summary": "Contact Engineerica in order to renew the AccuCampus subscription",
        "description": "Allows the user to select the option to contact Engineerica when the AccuCampus account is nearing its renewal date.",
        "operationId": "licenseRenew",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "The e-mail of the user sending the request.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phonenumber",
            "in": "query",
            "description": "The phone number of the user sending the request.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jobtitle",
            "in": "query",
            "description": "The job title of the user sending the request.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "institution",
            "in": "query",
            "description": "The institution of the user sending the request.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "comments",
            "in": "query",
            "description": "Comments entered by the user sending the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/license/acceptagreement": {
      "get": {
        "tags": [
          "license"
        ],
        "summary": "Accept the license agreement",
        "operationId": "licenseAcceptagreement",
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/license/getagreementstatus": {
      "get": {
        "tags": [
          "license"
        ],
        "summary": "Check if license agreement has been accepted",
        "operationId": "licenseGetagreementstatus",
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/my/rights": {
      "get": {
        "tags": [
          "my"
        ],
        "summary": "Gets the list of actions the user can execute.",
        "operationId": "myRights",
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/my/profile": {
      "get": {
        "tags": [
          "my"
        ],
        "summary": "Gets the logged in user information.",
        "operationId": "myProfile",
        "parameters": [
          {
            "name": "photosize",
            "in": "query",
            "description": "The size in pixels of the photo URLs returned. Defaults to 40. If the size specified is not available, a similar one will be returned.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/my/saveprofile": {
      "post": {
        "tags": [
          "my"
        ],
        "summary": "Updates logged user's profile information",
        "operationId": "mySaveprofile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "firstname",
                  "lastname",
                  "email"
                ],
                "properties": {
                  "firstname": {
                    "type": "string",
                    "description": "The first name of the user."
                  },
                  "middlename": {
                    "type": "string",
                    "description": "The middle name of the user."
                  },
                  "lastname": {
                    "type": "string",
                    "description": "The last name of the user."
                  },
                  "email": {
                    "type": "string",
                    "description": "The email of the user."
                  },
                  "mobilephonenumber": {
                    "type": "string",
                    "description": "The mobile phone number of the user."
                  },
                  "homephonenumber": {
                    "type": "string",
                    "description": "The home phone number of the user."
                  },
                  "workphonenumber": {
                    "type": "string",
                    "description": "The work phone number of the user."
                  },
                  "streetaddress": {
                    "type": "string",
                    "description": "The street address of the user."
                  },
                  "city": {
                    "type": "string",
                    "description": "The city of the user."
                  },
                  "state": {
                    "type": "string",
                    "description": "The state of the user."
                  },
                  "zipcode": {
                    "type": "string",
                    "description": "The zip code of the user."
                  },
                  "title": {
                    "type": "string",
                    "description": "The title of the user."
                  },
                  "company": {
                    "type": "string",
                    "description": "The company of the user."
                  },
                  "photoid": {
                    "type": "string",
                    "description": "The ID of a photo uploaded using user.loadphoto.",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/my/account": {
      "get": {
        "tags": [
          "my"
        ],
        "summary": "Gets the logged in user account.",
        "operationId": "myAccount",
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/user/list": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "View a list of users",
        "description": "Allows the user to view the full list of users and is based on role permissions.",
        "operationId": "userList",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "The first record to return.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "The max number of records to return.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "roleid",
            "in": "query",
            "description": "The id of the role to filter users by, or empty to return all users.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "onlywithoutcard",
            "in": "query",
            "description": "If is 1 then only the users without a card are returned, otherwise all users are returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "photosize",
            "in": "query",
            "description": "The size in pixels of the photo URLs returned. Defaults to 40. If the size specified is not available, a similar one will be returned.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/user/{id}": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Search and view details of a user",
        "description": "Allows the user to search and view a user and their details.",
        "operationId": "userGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the user to get.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "photosize",
            "in": "query",
            "description": "The size in pixels of the photo URLs returned. Defaults to 40. If the size specified is not available, a similar one will be returned.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      },
      "post": {
        "tags": [
          "user"
        ],
        "summary": "Create or edit a user",
        "description": "Allows the user to create or edit a user.",
        "operationId": "userSave",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the user to save (leave empty to create a new one).",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "firstname",
                  "lastname",
                  "email"
                ],
                "properties": {
                  "firstname": {
                    "type": "string",
                    "description": "The first name of the user."
                  },
                  "middlename": {
                    "type": "string",
                    "description": "The middle name of the user."
                  },
                  "lastname": {
                    "type": "string",
                    "description": "The last name of the user."
                  },
                  "email": {
                    "type": "string",
                    "description": "The email of the user."
                  },
                  "mobilephonenumber": {
                    "type": "string",
                    "description": "The mobile phone number of the user."
                  },
                  "homephonenumber": {
                    "type": "string",
                    "description": "The home phone number of the user."
                  },
                  "workphonenumber": {
                    "type": "string",
                    "description": "The work phone number of the user."
                  },
                  "streetaddress": {
                    "type": "string",
                    "description": "The street address of the user."
                  },
                  "city": {
                    "type": "string",
                    "description": "The city of the user."
                  },
                  "state": {
                    "type": "string",
                    "description": "The state of the user."
                  },
                  "zipcode": {
                    "type": "string",
                    "description": "The zip code of the user."
                  },
                  "title": {
                    "type": "string",
                    "description": "The title of the user."
                  },
                  "company": {
                    "type": "string",
                    "description": "The company of the user."
                  },
                  "password": {
                    "type": "string",
                    "description": "The new password of the user."
                  },
                  "roles": {
                    "type": "string",
                    "description": "Comma separated list of roles of the user."
                  },
                  "assigncard": {
                    "type": "string",
                    "description": "True if a new card has to be assigned to the user, otherwise false."
                  },
                  "cardnumber": {
                    "type": "string",
                    "description": "The card number that has to be assigned to the user."
                  },
                  "more": {
                    "type": "string",
                    "description": "Custom data of the user"
                  },
                  "photoid": {
                    "type": "string",
                    "description": "The ID of a photo uploaded using user.loadphoto.",
                    "format": "uuid"
                  },
                  "active": {
                    "type": "boolean",
                    "description": "The status of the user."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      },
      "delete": {
        "tags": [
          "user"
        ],
        "summary": "Delete a user",
        "description": "Allows the user to delete a user.",
        "operationId": "userDelete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the user to delete.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/user/getbycard": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Search user by card number",
        "description": "Allows the user to search for a user by their card number.",
        "operationId": "userGetbycard",
        "parameters": [
          {
            "name": "card",
            "in": "query",
            "description": "The card number of the user to get.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "photosize",
            "in": "query",
            "description": "The size in pixels of the photo URLs returned. Defaults to 40. If the size specified is not available, a similar one will be returned.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/user/changepwd": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Change user's own password",
        "description": "Allows the user to change their own password.",
        "operationId": "userChangepwd",
        "parameters": [
          {
            "name": "oldpass",
            "in": "query",
            "description": "The old password of the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "newpass",
            "in": "query",
            "description": "The new password of the authenticated user.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/user/changepwdbyreq": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Changes the user password using a change password request id",
        "operationId": "userChangepwdbyreq",
        "parameters": [
          {
            "name": "changereq",
            "in": "query",
            "description": "The change password request ID sent by email to the user.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "newpass",
            "in": "query",
            "description": "The new password of the user.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/user/requestpwdchange": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Requests a password change",
        "operationId": "userRequestpwdchange",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "The domain of the account where the user exists.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "The email of the user.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        }
      }
    },
    "/user/savepwdchange": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "Send email to the specified user(s) to set/change their passwords",
        "description": "Allows the user to trigger an email to another user asking them to set or change their password.",
        "operationId": "userSavepwdchange",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "users": {
                    "type": "string",
                    "description": "A JSON array containing the ids of the users whose passwords have to be set."
                  },
                  "role": {
                    "type": "string",
                    "description": "A specific role whose users passwords have to be set.",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/user/loadphoto": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Upload a photo for a specific user",
        "description": "Allows the user to upload a photo for a user.",
        "operationId": "userLoadphoto",
        "parameters": [
          {
            "name": "upload",
            "in": "query",
            "description": "Set 'file' as value to indicate that a file is being submitted in the body (instead of a JSON object).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filename",
            "in": "query",
            "description": "The local name of the uploaded file. For later reference.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userid",
            "in": "query",
            "description": "The user ID to directly associate the upload photo. If not specified, a temp ID is returned that can be later specified in 'user.save'.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "automatch",
            "in": "query",
            "description": "Set this to true to find the specific user based on the file name. ",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/user/findsimilar": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Finds similar users to prevent duplicates",
        "description": "Allows the user to be warned if a user they are creating has the same card number as another user.",
        "operationId": "userFindsimilar",
        "parameters": [
          {
            "name": "currentid",
            "in": "query",
            "description": "The id of the current user.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "phonenumber",
            "in": "query",
            "description": "A phone number to search for similar users.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cardnumber",
            "in": "query",
            "description": "A card number to search for similar users.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/user/movedata": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Move data between users",
        "description": "Allows administrators to move data between users.",
        "operationId": "userMovedata",
        "parameters": [
          {
            "name": "source",
            "in": "query",
            "description": "The id of the user that is the source of the data.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "destination",
            "in": "query",
            "description": "The id of the user that is the destination of the data.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/role/list": {
      "get": {
        "tags": [
          "role"
        ],
        "summary": "Show a list of roles",
        "operationId": "roleList",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Filter by name of the role.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/client/get": {
      "get": {
        "tags": [
          "client"
        ],
        "summary": "Get client",
        "operationId": "clientGet",
        "parameters": [
          {
            "name": "client",
            "in": "query",
            "description": "The unique id of the client.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientname",
            "in": "query",
            "description": "The custom name of the client.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/client/save": {
      "post": {
        "tags": [
          "client"
        ],
        "summary": "Saves a client",
        "operationId": "clientSave",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "client",
                  "clientname"
                ],
                "properties": {
                  "client": {
                    "type": "string",
                    "description": "The id of the client to save.",
                    "format": "uuid"
                  },
                  "clientname": {
                    "type": "string",
                    "description": "The name of the client."
                  },
                  "pushtoken": {
                    "type": "string",
                    "description": "The push token of the client."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/client/list": {
      "get": {
        "tags": [
          "client"
        ],
        "summary": "Gets the clients of the specified conference",
        "operationId": "clientList",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "The first record to return.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "The max number of records to return.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/client/sendmessage": {
      "get": {
        "tags": [
          "client"
        ],
        "summary": "Send a message to a client",
        "operationId": "clientSendmessage",
        "parameters": [
          {
            "name": "uniqueclientid",
            "in": "query",
            "description": "The unique id of the client.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "message",
            "in": "query",
            "description": "The body of the message to send.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/bgjob/getstatus": {
      "get": {
        "tags": [
          "bgjob"
        ],
        "summary": "Get background job status",
        "operationId": "bgjobGetstatus",
        "parameters": [
          {
            "name": "jobid",
            "in": "query",
            "description": "The ID of the job to get the status. 10 most recent will be returned if not specified.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "jobtype",
            "in": "query",
            "description": "The job type to filter by.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/setting/get": {
      "get": {
        "tags": [
          "setting"
        ],
        "summary": "Get settings for the account or the specified scope",
        "operationId": "settingGet",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "The account domain, in case of reading settings annonymously.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keys",
            "in": "query",
            "description": "The option keys to get values for. Enter multiple separated by comma.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "description": "The scope of the settings to get.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/setting/save": {
      "post": {
        "tags": [
          "setting"
        ],
        "summary": "Save settings for the account or the specified scope",
        "description": "Allows the user to affect settings that are not specified elsewhere in permissions. This includes Attendance, Appointments, Compass, Media, and Social Activity.",
        "operationId": "settingSave",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "optionsjson"
                ],
                "properties": {
                  "optionsjson": {
                    "type": "string",
                    "description": "The options to save in the account, in JSON format."
                  },
                  "scope": {
                    "type": "string",
                    "description": "The scope of the settings to save."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/setting/addlogo": {
      "get": {
        "tags": [
          "setting"
        ],
        "summary": "Add a logo to the account",
        "description": "Allows the user to add the logo for the account, which appears on all pages on the AccuCampus browser version.",
        "operationId": "settingAddlogo",
        "parameters": [
          {
            "name": "upload",
            "in": "query",
            "description": "Set 'file' as value to indicate that a file is being submitted in the body (instead of a JSON object).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filename",
            "in": "query",
            "description": "The original filename, needed to process the file.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/setting/viewgeneral": {
      "get": {
        "tags": [
          "setting"
        ],
        "summary": "View general settings for the account",
        "description": "Allows the user to view the settings' general section.",
        "operationId": "settingViewgeneral",
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/actionlog/list": {
      "get": {
        "tags": [
          "actionlog"
        ],
        "summary": "View a list of users action logs",
        "description": "Allows the user to view the audit logs for the account.",
        "operationId": "actionlogList",
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "description": "The id of the user whose action logs have to be returned.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "startdate",
            "in": "query",
            "description": "The start date of the period to filter the logs.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "enddate",
            "in": "query",
            "description": "The end date of the period to filter the logs.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "resource",
            "in": "query",
            "description": "The resource to filter the action logs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "actionfilter",
            "in": "query",
            "description": "The action to filter the action logs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "argument",
            "in": "query",
            "description": "The id of the entity that was the argument of the executed action.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "The first record to return.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "The max number of records to return.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/version": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "Get current version information",
        "operationId": "version",
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/changelog": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "Get the application change log",
        "operationId": "changelog",
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/easylogin/addbgimage": {
      "get": {
        "tags": [
          "easylogin"
        ],
        "summary": "Adds background image for the login",
        "description": "Allows the user to set the background image that all users will see when logging into an AccuCampus account not using SSO.",
        "operationId": "easyloginAddbgimage",
        "parameters": [
          {
            "name": "upload",
            "in": "query",
            "description": "Set 'file' as value to indicate that a file is being submitted in the body (instead of a JSON object).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filename",
            "in": "query",
            "description": "The original filename, needed to process the file.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/export": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "Export AccuCampus data",
        "description": "Allows the user to export data from AccuCampus into a CSV, HTML, or Excel format.",
        "operationId": "export",
        "parameters": [
          {
            "name": "exporttype",
            "in": "query",
            "description": "What to export.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exportformat",
            "in": "query",
            "description": "The format of the resulting file. Valid types are CSV, HTML, XLS.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "Pipe separated filters for the export, eg: aaa=val|bbb=val|...",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/export/listtypes": {
      "get": {
        "tags": [
          "export"
        ],
        "summary": "Lists available export types",
        "operationId": "exportListtypes",
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/location/{id}": {
      "get": {
        "tags": [
          "location"
        ],
        "summary": "Search and view details of a location",
        "description": "Allows the user to search and view an individual location and its details.",
        "operationId": "locationGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the location to get.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      },
      "delete": {
        "tags": [
          "location"
        ],
        "summary": "Delete a location",
        "description": "Allows the user to delete an existing location.",
        "operationId": "locationDelete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the location to delete.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      },
      "post": {
        "tags": [
          "location"
        ],
        "summary": "Create or edit a location",
        "description": "Allows the user to create or edit a location.",
        "operationId": "locationSave",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the location save (leave empty to create a new one).",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the location."
                  },
                  "categoryid": {
                    "type": "string",
                    "description": "The id of location's LocationCategory.",
                    "format": "uuid"
                  },
                  "categoryname": {
                    "type": "string",
                    "description": "The name of the location's LocationCategory."
                  },
                  "streetaddress": {
                    "type": "string",
                    "description": "The street address of the location."
                  },
                  "latitude": {
                    "type": "number",
                    "description": "The latitude of the location.",
                    "format": "double"
                  },
                  "longitude": {
                    "type": "number",
                    "description": "The longitude of the location.",
                    "format": "double"
                  },
                  "websiteurl": {
                    "type": "string",
                    "description": "The web site url of the location."
                  },
                  "email": {
                    "type": "string",
                    "description": "The e-mail address of the location."
                  },
                  "moreinformation": {
                    "type": "string",
                    "description": "More information relevant to the location."
                  },
                  "isrestricted": {
                    "type": "boolean",
                    "description": "Whether this location has the access restricted."
                  },
                  "accessroles": {
                    "type": "string",
                    "description": "The roles that can view the info associated to this location, in JSON format."
                  },
                  "order": {
                    "type": "integer",
                    "description": "The order of the location.",
                    "format": "int32"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/location/list": {
      "get": {
        "tags": [
          "location"
        ],
        "summary": "View a list of locations",
        "description": "Allows the user to view the list of all locations to which they are scoped.",
        "operationId": "locationList",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "The first record to return.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "The max number of records to return.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "locations",
            "in": "query",
            "description": "The comma-separated list containing the ids of the locations to list.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortbygroup",
            "in": "query",
            "description": "True to list locations sorted by the 'Located In' property. Defaults to false.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/riskmodel/{id}": {
      "delete": {
        "tags": [
          "riskmodel"
        ],
        "summary": "Delete a risk assessment model",
        "description": "Allows the user to delete a previously created risk assessment model.",
        "operationId": "riskmodelDelete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the risk assessment model to delete.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      },
      "get": {
        "tags": [
          "riskmodel"
        ],
        "summary": "View details of a risk assessment model",
        "description": "Allows the user to view an individual risk assessment model and its details.",
        "operationId": "riskmodelGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the risk assessment model to get.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      },
      "post": {
        "tags": [
          "riskmodel"
        ],
        "summary": "Create or edit a risk assessment model",
        "description": "Allows the user to create or edit a risk assessment model.",
        "operationId": "riskmodelSave",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the department save (leave empty to create a new one).",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "name",
                  "termprecedences"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the department."
                  },
                  "excludedfeatures": {
                    "type": "string",
                    "description": "The features to exclude from the model."
                  },
                  "excludedusers": {
                    "type": "string",
                    "description": "The criteria to exclude users from the model."
                  },
                  "newfeatures": {
                    "type": "string",
                    "description": "The new features for this model."
                  },
                  "termprecedences": {
                    "type": "string",
                    "description": "The terms precedences for this model."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/riskmodel/list": {
      "get": {
        "tags": [
          "riskmodel"
        ],
        "summary": "View a list of risk assessment models",
        "description": "Allows the user to view the full list of risk assessment models.",
        "operationId": "riskmodelList",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "The first record to return.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "The max number of records to return.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/riskmodel/getscore": {
      "get": {
        "tags": [
          "riskmodel"
        ],
        "summary": "View the risk score for a specific user",
        "description": "Allows the user to view the risk score of another user.",
        "operationId": "riskmodelGetscore",
        "parameters": [
          {
            "name": "userid",
            "in": "query",
            "description": "The id of the user to get the risk score.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/riskmodel/refresh": {
      "get": {
        "tags": [
          "riskmodel"
        ],
        "summary": "Refresh the information used in a risk assessment model",
        "description": "Allows the user to refresh a risk assessment model.",
        "operationId": "riskmodelRefresh",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The id of the risk assessment model whose information has to be refreshed.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/riskmodel/process": {
      "get": {
        "tags": [
          "riskmodel"
        ],
        "summary": "Process a risk assessment model",
        "description": "Allows the user to process a risk assessment model once it has been created.",
        "operationId": "riskmodelProcess",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The id of the risk assessment model to process.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/riskmodel/predict": {
      "get": {
        "tags": [
          "riskmodel"
        ],
        "summary": "Predict risk based on an assessment model",
        "description": "Allows a user to process a risk prediction from a risk assessment model that has processed.",
        "operationId": "riskmodelPredict",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The id of the assessment model to use in order to predict risk.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/riskmodel/checkanalysis": {
      "get": {
        "tags": [
          "riskmodel"
        ],
        "summary": "Check the status of the analysis of a specified risk assessment model",
        "description": "Allows the user to check the status of a risk assessment model as it is being processed.",
        "operationId": "riskmodelCheckanalysis",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The id of the risk assessment model whose analysis status has to be returned.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/riskmodel/termprecedences": {
      "get": {
        "tags": [
          "riskmodel"
        ],
        "summary": "View all default term precedences",
        "description": "Allows the user to view the default term precedences used in a model.",
        "operationId": "riskmodelTermprecedences",
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/adhocquery/{id}": {
      "delete": {
        "tags": [
          "adhocquery"
        ],
        "summary": "Delete an ad hoc query",
        "description": "Allows the user to delete a previously created ad hoc query.",
        "operationId": "adhocqueryDelete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the ad hoc query to delete.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      },
      "get": {
        "tags": [
          "adhocquery"
        ],
        "summary": "View details of an ad hoc query",
        "description": "Allows the user to view an individual ad hoc query with its settings.",
        "operationId": "adhocqueryGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the query to get.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      },
      "post": {
        "tags": [
          "adhocquery"
        ],
        "summary": "Create or edit an ad hoc query",
        "description": "Allows the user to edit an ad hoc query.",
        "operationId": "adhocquerySave",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the query to save (leave empty to create a new one).",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "name",
                  "text"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the query."
                  },
                  "text": {
                    "type": "string",
                    "description": "The text of the query (the query itself)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/adhocquery/list": {
      "get": {
        "tags": [
          "adhocquery"
        ],
        "summary": "View a list of saved ad hoc queries",
        "description": "Allows the user to view the full list of saved queries.",
        "operationId": "adhocqueryList",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "The first record to return.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "The max number of records to return.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/adhocquery/getschema": {
      "get": {
        "tags": [
          "adhocquery"
        ],
        "summary": "View the database schema for making ad hoc queries",
        "description": "Allows the user to view the list of schema for ad hoc queries.",
        "operationId": "adhocqueryGetschema",
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/adhocquery/execute": {
      "get": {
        "tags": [
          "adhocquery"
        ],
        "summary": "Execute an ad hoc query",
        "description": "Allows the user to execute an ad hoc query.",
        "operationId": "adhocqueryExecute",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The id of the query to execute.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "The query to execute.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/adhocquery/checkexecution": {
      "get": {
        "tags": [
          "adhocquery"
        ],
        "summary": "Check the status of an ad hoc query execution",
        "description": "Allows the user to check whether a query has executed, viewable on the query's execution page.",
        "operationId": "adhocqueryCheckexecution",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The id of the ad hoc query execution to be checked.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/adhocquery/stopexecution": {
      "get": {
        "tags": [
          "adhocquery"
        ],
        "summary": "Stops the execution of an ad hoc query",
        "description": "Allows the user to halt the execution of a query that is currently being executed.",
        "operationId": "adhocqueryStopexecution",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The id of the ad hoc query execution to be stopped.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/adhocquery/listexecutions": {
      "get": {
        "tags": [
          "adhocquery"
        ],
        "summary": "View a list of ad hoc queries executions",
        "description": "Allows the user to view the full list of past query executions.",
        "operationId": "adhocqueryListexecutions",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "The first record to return.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "The first record to return.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "The max number of records to return.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/adhocreports/reqaccess": {
      "get": {
        "tags": [
          "adhocreports"
        ],
        "summary": "Request access to the ad-hoc reports",
        "description": "Allows the user to request access to the ad-hoc reports by clicking, 'Request Access' under Institutional Research -> Ad-hoc Reports",
        "operationId": "adhocreportsReqaccess",
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/community/invite": {
      "get": {
        "tags": [
          "community"
        ],
        "summary": "Sends an invitation to everyone to AccuCampus Communities",
        "description": "Allows the user to invite all other users to the AccuCampus Communities.",
        "operationId": "communityInvite",
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/community/join": {
      "get": {
        "tags": [
          "community"
        ],
        "summary": "Sends an invitation for myself to AccuCampus Communities",
        "description": "Allows the user to access the AccuCampus Communities.",
        "operationId": "communityJoin",
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/template/list": {
      "get": {
        "tags": [
          "template"
        ],
        "summary": "View a list of defined templates",
        "description": "Allows the user to view the full list of created templates.",
        "operationId": "templateList",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "The first record to return.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "The max number of records to return.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "kind",
            "in": "query",
            "description": "The kind of the templates to return. It must be included in (badge, certificate).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "designedonly",
            "in": "query",
            "description": "If true then it only returns the templates that were designed. Otherwise, it returns all.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/template/{id}": {
      "get": {
        "tags": [
          "template"
        ],
        "summary": "View details of a template",
        "description": "Allows the user to view a template and its details.",
        "operationId": "templateGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the template to get.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      },
      "post": {
        "tags": [
          "template"
        ],
        "summary": "Create or edit a template",
        "description": "Allows the user to create or edit a template.",
        "operationId": "templateSave",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the template to save (leave empty to create a new one).",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "kind",
                  "name"
                ],
                "properties": {
                  "kind": {
                    "type": "string",
                    "description": "The kind of the templates to return. It must be included in (badge, certificate)."
                  },
                  "name": {
                    "type": "string",
                    "description": "The template's name."
                  },
                  "description": {
                    "type": "string",
                    "description": "The template's description."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      },
      "delete": {
        "tags": [
          "template"
        ],
        "summary": "Delete a template",
        "description": "Allows the user to delete an existing template.",
        "operationId": "templateDelete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the template to delete.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/template/savelayout": {
      "post": {
        "tags": [
          "template"
        ],
        "summary": "Save the layout of a template",
        "description": "Allows the user to edit a template's layout.",
        "operationId": "templateSavelayout",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "id",
                  "layout"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The id of the template whose layout needs to be saved.",
                    "format": "uuid"
                  },
                  "layout": {
                    "type": "string",
                    "description": "The template's layout (in JSON)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/template/addimage": {
      "get": {
        "tags": [
          "template"
        ],
        "summary": "Add an image to a template",
        "description": "Allows the user to add an image to a badge or certificate template.",
        "operationId": "templateAddimage",
        "parameters": [
          {
            "name": "template",
            "in": "query",
            "description": "The id of the template where the image has to be added",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "upload",
            "in": "query",
            "description": "Set 'file' as value to indicate that a file is being submitted in the body (instead of a JSON object).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filename",
            "in": "query",
            "description": "The local name of the uploaded file. For later reference.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/template/generate": {
      "get": {
        "tags": [
          "template"
        ],
        "summary": "Generate specified templates",
        "description": "Allows the user to generate an existing template as badges or certificates.",
        "operationId": "templateGenerate",
        "parameters": [
          {
            "name": "template",
            "in": "query",
            "description": "The id of the template to generate.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "The source key of the selected template data source.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "singlefile",
            "in": "query",
            "description": "True if all the templates should be placed in the same file, false if each one shoud be in its own file.",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "userid",
            "in": "query",
            "description": "Only the template for these users is created (and emailed if 'email' is true), enter multiple separated by commas.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "forsending",
            "in": "query",
            "description": "It specifies the purpose of the creation of the templates. If true then is for sending via e-mail, otherwise is just for downloading",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "role",
            "in": "query",
            "description": "When printing all badges, filter by person type, can be either: attendee, presenter or exhibitor",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "Pipe separated filters for the generation, eg: aaa=val|bbb=val|...",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/template/getgenerated": {
      "get": {
        "tags": [
          "template"
        ],
        "summary": "View generated templates",
        "description": "Allows the user to view templates which have been generated as badges or certificates.",
        "operationId": "templateGetgenerated",
        "parameters": [
          {
            "name": "jobid",
            "in": "query",
            "description": "The id of the job that is creating the templates.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/template/email": {
      "get": {
        "tags": [
          "template"
        ],
        "summary": "Send generated templates by email",
        "description": "Allows the user to send generated templates via email through AccuCampus.",
        "operationId": "templateEmail",
        "parameters": [
          {
            "name": "jobid",
            "in": "query",
            "description": "The id of the job that is creating the templates.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "templatekind",
            "in": "query",
            "description": "The kind of the template you're sending. It must be included in (badge, certificate).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "emailfrom",
            "in": "query",
            "description": "The name of the sender to be displayed in the receipients inbox",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "emailreplyto",
            "in": "query",
            "description": "The reply-to field for the emails.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "emailsubject",
            "in": "query",
            "description": "Args depending on the send-to flag.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "emailbody",
            "in": "query",
            "description": "Args depending on the send-to flag.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/template/listsources": {
      "get": {
        "tags": [
          "template"
        ],
        "summary": "View a list of templates' data sources",
        "description": "Allows the user to see tokens to be used in the template",
        "operationId": "templateListsources",
        "parameters": [
          {
            "name": "kind",
            "in": "query",
            "description": "The kind of the templates to return. It must be included in (badge, certificate).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/textcredit/remaining": {
      "get": {
        "tags": [
          "textcredit"
        ],
        "summary": "Gets the remaining text credits for the account",
        "operationId": "textcreditRemaining",
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/translation/list": {
      "get": {
        "tags": [
          "translation"
        ],
        "summary": "Lists all the available translations in the system",
        "operationId": "translationList",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Text to search/filter translations.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nondefaultonly",
            "in": "query",
            "description": "If true then it returns only the terms translated. Otherwise, it returns all.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "appdefaultasuniversal",
            "in": "query",
            "description": "If true then it uses the app default translation as the universal term.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/translation/{id}": {
      "post": {
        "tags": [
          "translation"
        ],
        "summary": "Edit a translation",
        "description": "Allows the user to edit a translation for the entire account.",
        "operationId": "translationSave",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the translation as returned by translation.list.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "translation"
                ],
                "properties": {
                  "translation": {
                    "type": "string",
                    "description": "The translated text."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/translation/get": {
      "get": {
        "tags": [
          "translation"
        ],
        "summary": "Gets the translations of the specified values",
        "operationId": "translationGet",
        "parameters": [
          {
            "name": "universal",
            "in": "query",
            "description": "Pipe separated list of universal text to be translated.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/ActionResult"
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/translation/getcachefile": {
      "get": {
        "tags": [
          "translation"
        ],
        "summary": "Get the file containing the translations",
        "operationId": "translationGetcachefile",
        "parameters": [
          {
            "name": "account",
            "in": "query",
            "description": "The id of the account whose translations file has to be retrieved.",
[...]
