=begin
#AccuClub OpenAPI 3

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 4.3.1

=end

require 'cgi'

module OpenapiClient
  class CaptchaApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Gets a captcha challenge that the user must complete to do certain requests.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def captcha_getchallenge(opts = {})
      captcha_getchallenge_with_http_info(opts)
      nil
    end

    # Gets a captcha challenge that the user must complete to do certain requests.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def captcha_getchallenge_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CaptchaApi.captcha_getchallenge ...'
      end
      # resource path
      local_var_path = '/captcha/getchallenge'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CaptchaApi#captcha_getchallenge\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a captcha image that the user must complete to do certain requests.
    # @param captchatoken [String] The captcha token or ID returned by the captcha.getchallenge action
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def captcha_getimage(captchatoken, opts = {})
      captcha_getimage_with_http_info(captchatoken, opts)
      nil
    end

    # Gets a captcha image that the user must complete to do certain requests.
    # @param captchatoken [String] The captcha token or ID returned by the captcha.getchallenge action
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def captcha_getimage_with_http_info(captchatoken, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CaptchaApi.captcha_getimage ...'
      end
      # verify the required parameter 'captchatoken' is set
      if @api_client.config.client_side_validation && captchatoken.nil?
        fail ArgumentError, "Missing the required parameter 'captchatoken' when calling CaptchaApi.captcha_getimage"
      end
      # resource path
      local_var_path = '/captcha/getimage'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'captchatoken'] = captchatoken

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CaptchaApi#captcha_getimage\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
