=begin
#AccuClub OpenAPI 3

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 4.3.1

=end

require 'cgi'

module OpenapiClient
  class PushApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Deregisters the current device to receive push notifications
    # @param devicetoken [String] The device token where to send the notification.
    # @param platform [String] Either ios or android
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def push_deregister(devicetoken, platform, opts = {})
      push_deregister_with_http_info(devicetoken, platform, opts)
      nil
    end

    # Deregisters the current device to receive push notifications
    # @param devicetoken [String] The device token where to send the notification.
    # @param platform [String] Either ios or android
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def push_deregister_with_http_info(devicetoken, platform, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PushApi.push_deregister ...'
      end
      # verify the required parameter 'devicetoken' is set
      if @api_client.config.client_side_validation && devicetoken.nil?
        fail ArgumentError, "Missing the required parameter 'devicetoken' when calling PushApi.push_deregister"
      end
      # verify the required parameter 'platform' is set
      if @api_client.config.client_side_validation && platform.nil?
        fail ArgumentError, "Missing the required parameter 'platform' when calling PushApi.push_deregister"
      end
      # resource path
      local_var_path = '/push/deregister'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'devicetoken'] = devicetoken
      query_params[:'platform'] = platform

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PushApi#push_deregister\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Registers the current device to receive push notifications
    # @param devicetoken [String] The device token where to send the notification.
    # @param platform [String] Either ios or android
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def push_register(devicetoken, platform, opts = {})
      push_register_with_http_info(devicetoken, platform, opts)
      nil
    end

    # Registers the current device to receive push notifications
    # @param devicetoken [String] The device token where to send the notification.
    # @param platform [String] Either ios or android
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def push_register_with_http_info(devicetoken, platform, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PushApi.push_register ...'
      end
      # verify the required parameter 'devicetoken' is set
      if @api_client.config.client_side_validation && devicetoken.nil?
        fail ArgumentError, "Missing the required parameter 'devicetoken' when calling PushApi.push_register"
      end
      # verify the required parameter 'platform' is set
      if @api_client.config.client_side_validation && platform.nil?
        fail ArgumentError, "Missing the required parameter 'platform' when calling PushApi.push_register"
      end
      # resource path
      local_var_path = '/push/register'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'devicetoken'] = devicetoken
      query_params[:'platform'] = platform

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PushApi#push_register\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
