=begin
#AccuClub OpenAPI 3

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 4.3.1

=end

require 'cgi'

module OpenapiClient
  class QrloginApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Gets an image of a QR token
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def qrlogin_get(opts = {})
      qrlogin_get_with_http_info(opts)
      nil
    end

    # Gets an image of a QR token
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def qrlogin_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QrloginApi.qrlogin_get ...'
      end
      # resource path
      local_var_path = '/qrlogin/get'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QrloginApi#qrlogin_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Login
    # @param onetimetoken [String] The token read from the QR code.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def qrlogin_login(onetimetoken, opts = {})
      qrlogin_login_with_http_info(onetimetoken, opts)
      nil
    end

    # Login
    # @param onetimetoken [String] The token read from the QR code.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def qrlogin_login_with_http_info(onetimetoken, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QrloginApi.qrlogin_login ...'
      end
      # verify the required parameter 'onetimetoken' is set
      if @api_client.config.client_side_validation && onetimetoken.nil?
        fail ArgumentError, "Missing the required parameter 'onetimetoken' when calling QrloginApi.qrlogin_login"
      end
      # resource path
      local_var_path = '/qrlogin/login'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'onetimetoken'] = onetimetoken

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QrloginApi#qrlogin_login\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
