# coding: utf-8

"""
    AccuCampus OpenAPI 3

    No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)  # noqa: E501

    The version of the OpenAPI document: 1.0.0
    Generated by: https://openapi-generator.tech
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from openapi_client.api_client import ApiClient
from openapi_client.exceptions import (  # noqa: F401
    ApiTypeError,
    ApiValueError
)


class ServiceassignmentApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def serviceassignment_addservice(self, serviceid, locationid, **kwargs):  # noqa: E501
        """Enable a service in a specific location  # noqa: E501

        Allows the user to enable a service in a location to which they are scoped.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.serviceassignment_addservice(serviceid, locationid, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str serviceid: The id of the service to add. (required)
        :param str locationid: The id of the location. (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.serviceassignment_addservice_with_http_info(serviceid, locationid, **kwargs)  # noqa: E501

    def serviceassignment_addservice_with_http_info(self, serviceid, locationid, **kwargs):  # noqa: E501
        """Enable a service in a specific location  # noqa: E501

        Allows the user to enable a service in a location to which they are scoped.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.serviceassignment_addservice_with_http_info(serviceid, locationid, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str serviceid: The id of the service to add. (required)
        :param str locationid: The id of the location. (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'serviceid',
            'locationid'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method serviceassignment_addservice" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'serviceid' is set
        if self.api_client.client_side_validation and ('serviceid' not in local_var_params or  # noqa: E501
                                                        local_var_params['serviceid'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `serviceid` when calling `serviceassignment_addservice`")  # noqa: E501
        # verify the required parameter 'locationid' is set
        if self.api_client.client_side_validation and ('locationid' not in local_var_params or  # noqa: E501
                                                        local_var_params['locationid'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `locationid` when calling `serviceassignment_addservice`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'serviceid' in local_var_params and local_var_params['serviceid'] is not None:  # noqa: E501
            query_params.append(('serviceid', local_var_params['serviceid']))  # noqa: E501
        if 'locationid' in local_var_params and local_var_params['locationid'] is not None:  # noqa: E501
            query_params.append(('locationid', local_var_params['locationid']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/serviceassignment/addservice', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def serviceassignment_getlocation(self, locationid, **kwargs):  # noqa: E501
        """View a list of services enabled for a specific location  # noqa: E501

        Allows the user to view a list of services available in a location to which they are scoped.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.serviceassignment_getlocation(locationid, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str locationid: The id of the location to get. (required)
        :param bool includegloballyavailable: Specifies whether the services available globally must be returned or not.
        :param bool namefilter: Filters the name of the services to return.
        :param int count: The max number of services to return.
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.serviceassignment_getlocation_with_http_info(locationid, **kwargs)  # noqa: E501

    def serviceassignment_getlocation_with_http_info(self, locationid, **kwargs):  # noqa: E501
        """View a list of services enabled for a specific location  # noqa: E501

        Allows the user to view a list of services available in a location to which they are scoped.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.serviceassignment_getlocation_with_http_info(locationid, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str locationid: The id of the location to get. (required)
        :param bool includegloballyavailable: Specifies whether the services available globally must be returned or not.
        :param bool namefilter: Filters the name of the services to return.
        :param int count: The max number of services to return.
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'locationid',
            'includegloballyavailable',
            'namefilter',
            'count'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method serviceassignment_getlocation" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'locationid' is set
        if self.api_client.client_side_validation and ('locationid' not in local_var_params or  # noqa: E501
                                                        local_var_params['locationid'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `locationid` when calling `serviceassignment_getlocation`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'locationid' in local_var_params and local_var_params['locationid'] is not None:  # noqa: E501
            query_params.append(('locationid', local_var_params['locationid']))  # noqa: E501
        if 'includegloballyavailable' in local_var_params and local_var_params['includegloballyavailable'] is not None:  # noqa: E501
            query_params.append(('includegloballyavailable', local_var_params['includegloballyavailable']))  # noqa: E501
        if 'namefilter' in local_var_params and local_var_params['namefilter'] is not None:  # noqa: E501
            query_params.append(('namefilter', local_var_params['namefilter']))  # noqa: E501
        if 'count' in local_var_params and local_var_params['count'] is not None:  # noqa: E501
            query_params.append(('count', local_var_params['count']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/serviceassignment/getlocation', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def serviceassignment_getservice(self, serviceid, **kwargs):  # noqa: E501
        """View a list of locations where a service is available  # noqa: E501

        Allows the user to view a list of locations in which a service is available.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.serviceassignment_getservice(serviceid, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str serviceid: The id of the service to get its locations. (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.serviceassignment_getservice_with_http_info(serviceid, **kwargs)  # noqa: E501

    def serviceassignment_getservice_with_http_info(self, serviceid, **kwargs):  # noqa: E501
        """View a list of locations where a service is available  # noqa: E501

        Allows the user to view a list of locations in which a service is available.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.serviceassignment_getservice_with_http_info(serviceid, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str serviceid: The id of the service to get its locations. (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'serviceid'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method serviceassignment_getservice" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'serviceid' is set
        if self.api_client.client_side_validation and ('serviceid' not in local_var_params or  # noqa: E501
                                                        local_var_params['serviceid'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `serviceid` when calling `serviceassignment_getservice`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'serviceid' in local_var_params and local_var_params['serviceid'] is not None:  # noqa: E501
            query_params.append(('serviceid', local_var_params['serviceid']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/serviceassignment/getservice', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def serviceassignment_removeservice(self, serviceid, locationid, **kwargs):  # noqa: E501
        """Remove a service from a location  # noqa: E501

        Allows the user to disable a service from a location to which they are scoped.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.serviceassignment_removeservice(serviceid, locationid, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str serviceid: The id of the service to remove. (required)
        :param str locationid: The id of the location to remove the service from. (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.serviceassignment_removeservice_with_http_info(serviceid, locationid, **kwargs)  # noqa: E501

    def serviceassignment_removeservice_with_http_info(self, serviceid, locationid, **kwargs):  # noqa: E501
        """Remove a service from a location  # noqa: E501

        Allows the user to disable a service from a location to which they are scoped.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.serviceassignment_removeservice_with_http_info(serviceid, locationid, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str serviceid: The id of the service to remove. (required)
        :param str locationid: The id of the location to remove the service from. (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'serviceid',
            'locationid'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method serviceassignment_removeservice" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'serviceid' is set
        if self.api_client.client_side_validation and ('serviceid' not in local_var_params or  # noqa: E501
                                                        local_var_params['serviceid'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `serviceid` when calling `serviceassignment_removeservice`")  # noqa: E501
        # verify the required parameter 'locationid' is set
        if self.api_client.client_side_validation and ('locationid' not in local_var_params or  # noqa: E501
                                                        local_var_params['locationid'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `locationid` when calling `serviceassignment_removeservice`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'serviceid' in local_var_params and local_var_params['serviceid'] is not None:  # noqa: E501
            query_params.append(('serviceid', local_var_params['serviceid']))  # noqa: E501
        if 'locationid' in local_var_params and local_var_params['locationid'] is not None:  # noqa: E501
            query_params.append(('locationid', local_var_params['locationid']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/serviceassignment/removeservice', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)
