/*
 * AccuTraining OpenAPI 3
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package org.openapitools.client.api;

import org.openapitools.client.ApiCallback;
import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.ApiResponse;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.ProgressRequestBody;
import org.openapitools.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;



import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class PushApi {
    private ApiClient localVarApiClient;

    public PushApi() {
        this(Configuration.getDefaultApiClient());
    }

    public PushApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for pushDeregister
     * @param devicetoken The device token where to send the notification. (required)
     * @param platform Either ios or android (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call pushDeregisterCall(String devicetoken, String platform, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/push/deregister";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (devicetoken != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("devicetoken", devicetoken));
        }

        if (platform != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("platform", platform));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call pushDeregisterValidateBeforeCall(String devicetoken, String platform, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'devicetoken' is set
        if (devicetoken == null) {
            throw new ApiException("Missing the required parameter 'devicetoken' when calling pushDeregister(Async)");
        }
        
        // verify the required parameter 'platform' is set
        if (platform == null) {
            throw new ApiException("Missing the required parameter 'platform' when calling pushDeregister(Async)");
        }
        

        okhttp3.Call localVarCall = pushDeregisterCall(devicetoken, platform, _callback);
        return localVarCall;

    }

    /**
     * Deregisters the current device to receive push notifications
     * 
     * @param devicetoken The device token where to send the notification. (required)
     * @param platform Either ios or android (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public void pushDeregister(String devicetoken, String platform) throws ApiException {
        pushDeregisterWithHttpInfo(devicetoken, platform);
    }

    /**
     * Deregisters the current device to receive push notifications
     * 
     * @param devicetoken The device token where to send the notification. (required)
     * @param platform Either ios or android (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Void> pushDeregisterWithHttpInfo(String devicetoken, String platform) throws ApiException {
        okhttp3.Call localVarCall = pushDeregisterValidateBeforeCall(devicetoken, platform, null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     * Deregisters the current device to receive push notifications (asynchronously)
     * 
     * @param devicetoken The device token where to send the notification. (required)
     * @param platform Either ios or android (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call pushDeregisterAsync(String devicetoken, String platform, final ApiCallback<Void> _callback) throws ApiException {

        okhttp3.Call localVarCall = pushDeregisterValidateBeforeCall(devicetoken, platform, _callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }
    /**
     * Build call for pushRegister
     * @param devicetoken The device token where to send the notification. (required)
     * @param platform Either ios or android (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call pushRegisterCall(String devicetoken, String platform, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/push/register";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (devicetoken != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("devicetoken", devicetoken));
        }

        if (platform != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("platform", platform));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call pushRegisterValidateBeforeCall(String devicetoken, String platform, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'devicetoken' is set
        if (devicetoken == null) {
            throw new ApiException("Missing the required parameter 'devicetoken' when calling pushRegister(Async)");
        }
        
        // verify the required parameter 'platform' is set
        if (platform == null) {
            throw new ApiException("Missing the required parameter 'platform' when calling pushRegister(Async)");
        }
        

        okhttp3.Call localVarCall = pushRegisterCall(devicetoken, platform, _callback);
        return localVarCall;

    }

    /**
     * Registers the current device to receive push notifications
     * 
     * @param devicetoken The device token where to send the notification. (required)
     * @param platform Either ios or android (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public void pushRegister(String devicetoken, String platform) throws ApiException {
        pushRegisterWithHttpInfo(devicetoken, platform);
    }

    /**
     * Registers the current device to receive push notifications
     * 
     * @param devicetoken The device token where to send the notification. (required)
     * @param platform Either ios or android (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Void> pushRegisterWithHttpInfo(String devicetoken, String platform) throws ApiException {
        okhttp3.Call localVarCall = pushRegisterValidateBeforeCall(devicetoken, platform, null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     * Registers the current device to receive push notifications (asynchronously)
     * 
     * @param devicetoken The device token where to send the notification. (required)
     * @param platform Either ios or android (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call pushRegisterAsync(String devicetoken, String platform, final ApiCallback<Void> _callback) throws ApiException {

        okhttp3.Call localVarCall = pushRegisterValidateBeforeCall(devicetoken, platform, _callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }
}
