openapi: 3.0.1
info:
  title: AccuCampus OpenAPI 3
  version: 1.0.0
  x-logo:
    url: https://c1.engineerica.com/images/logos-png/h59/accucampus.png
    altText: AccuCampus
servers:
- url: https://accucampus.net:443/api/v1
tags:
- description: General application actions
  name: General
- description: Actions related to the feature module
  name: feature
- description: Actions related to the search module
  name: search
- description: Actions related to the my module
  name: my
- description: Actions related to the captcha module
  name: captcha
- description: Actions related to the menu module
  name: menu
- description: Actions related to the qrlogin module
  name: qrlogin
- description: Actions related to the appshare module
  name: appshare
- description: Actions related to the sso module
  name: sso
- description: Actions related to the license module
  name: license
- description: Actions related to the user module
  name: user
- description: Actions related to the role module
  name: role
- description: Actions related to the client module
  name: client
- description: Actions related to the bgjob module
  name: bgjob
- description: Actions related to the setting module
  name: setting
- description: Actions related to the actionlog module
  name: actionlog
- description: Actions related to the easylogin module
  name: easylogin
- description: Actions related to the export module
  name: export
- description: Actions related to the location module
  name: location
- description: Actions related to the riskmodel module
  name: riskmodel
- description: Actions related to the adhocquery module
  name: adhocquery
- description: Actions related to the adhocreports module
  name: adhocreports
- description: Actions related to the community module
  name: community
- description: Actions related to the template module
  name: template
- description: Actions related to the textcredit module
  name: textcredit
- description: Actions related to the translation module
  name: translation
- description: Actions related to the usersettings module
  name: usersettings
- description: Actions related to the department module
  name: department
- description: Actions related to the quickpanel module
  name: quickpanel
- description: Actions related to the term module
  name: term
- description: Actions related to the holiday module
  name: holiday
- description: Actions related to the notificationtopic module
  name: notificationtopic
- description: Actions related to the notification module
  name: notification
- description: Actions related to the push module
  name: push
- description: Actions related to the rule module
  name: rule
- description: Actions related to the interaction module
  name: interaction
- description: Actions related to the like module
  name: like
- description: Actions related to the social module
  name: social
- description: Actions related to the socialgroup module
  name: socialgroup
- description: Actions related to the import module
  name: import
- description: Actions related to the event module
  name: event
- description: Actions related to the usergroup module
  name: usergroup
- description: Actions related to the mediatype module
  name: mediatype
- description: Actions related to the media module
  name: media
- description: Actions related to the qrlabels module
  name: qrlabels
- description: Actions related to the service module
  name: service
- description: Actions related to the serviceassignment module
  name: serviceassignment
- description: Actions related to the tag module
  name: tag
- description: Actions related to the attendancelog module
  name: attendancelog
- description: Actions related to the swipe module
  name: swipe
- description: Actions related to the attendancelogcomment module
  name: attendancelogcomment
- description: Actions related to the rating module
  name: rating
- description: Actions related to the report module
  name: report
- description: Actions related to the memorizedreport module
  name: memorizedreport
- description: Actions related to the reportschedule module
  name: reportschedule
- description: Actions related to the seminar module
  name: seminar
- description: Actions related to the station module
  name: station
- description: Actions related to the actionassignment module
  name: actionassignment
- description: Actions related to the actionitem module
  name: actionitem
- description: Actions related to the actionpack module
  name: actionpack
- description: Actions related to the actiontype module
  name: actiontype
- description: Actions related to the userprofile module
  name: userprofile
- description: Actions related to the advrole module
  name: advrole
- description: Actions related to the advroles module
  name: advroles
- description: Actions related to the security module
  name: security
- description: Actions related to the computerlab module
  name: computerlab
- description: Actions related to the deadendrecording module
  name: deadendrecording
- description: Actions related to the eventreg module
  name: eventreg
- description: Actions related to the session module
  name: session
- description: Actions related to the sessionattendancelog module
  name: sessionattendancelog
- description: Actions related to the sessionswipe module
  name: sessionswipe
- description: Actions related to the sessionreg module
  name: sessionreg
- description: Actions related to the staffavail module
  name: staffavail
- description: Actions related to the schedule module
  name: schedule
- description: Actions related to the advancedstation module
  name: advancedstation
- description: Actions related to the appointment module
  name: appointment
- description: Actions related to the scheduleintegration module
  name: scheduleintegration
- description: Actions related to the attendancerestriction module
  name: attendancerestriction
- description: Actions related to the beacon module
  name: beacon
- description: Actions related to the compasscategory module
  name: compasscategory
- description: Actions related to the compassservice module
  name: compassservice
- description: Actions related to the waitingline module
  name: waitingline
- description: Actions related to the virtualline module
  name: virtualline
paths:
  /doc:
    get:
      description: Retrieves the list of actions available in the system.
      operationId: doc
      parameters:
      - description: If true it excludes the anonymous actions from the returned list.
        explode: true
        in: query
        name: excludeanonymous
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Get the documentation
      tags:
      - General
  /feature/list:
    get:
      operationId: featureList
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Lists the available features.
      tags:
      - feature
  /login:
    get:
      operationId: login
      parameters:
      - description: The account domain to login.
        explode: true
        in: query
        name: domain
        required: true
        schema:
          type: string
        style: form
      - description: The username (email) of the user to login as.
        explode: true
        in: query
        name: username
        required: true
        schema:
          type: string
        style: form
      - description: The password of the user to login as.
        explode: true
        in: query
        name: password
        required: true
        schema:
          type: string
        style: form
      - description: The authentication method. Valid values are 'token' and 'cookie'.
        explode: true
        in: query
        name: method
        required: true
        schema:
          type: string
        style: form
      - description: If true then the session will not expire.
        explode: true
        in: query
        name: rememberme
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Login
      tags:
      - General
  /logout:
    get:
      operationId: logout
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Logout
      tags:
      - General
  /search:
    get:
      operationId: search
      parameters:
      - description: The query to search for.
        explode: true
        in: query
        name: query
        required: true
        schema:
          type: string
        style: form
      - description: Current page to show, zero-based.
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Search
      tags:
      - General
  /search/getentities:
    get:
      operationId: searchGetentities
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Get the information of the entities that can be searched
      tags:
      - search
  /listtimezones:
    get:
      operationId: listtimezones
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Lists the available timezones
      tags:
      - General
  /my/ianatimezone:
    get:
      operationId: myIanatimezone
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Gets the current time zone's iana name
      tags:
      - my
  /captcha/getimage:
    get:
      operationId: captchaGetimage
      parameters:
      - description: The captcha token or ID returned by the captcha.getchallenge
          action
        explode: true
        in: query
        name: captchatoken
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Gets a captcha image that the user must complete to do certain requests.
      tags:
      - captcha
  /captcha/getchallenge:
    get:
      operationId: captchaGetchallenge
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Gets a captcha challenge that the user must complete to do certain
        requests.
      tags:
      - captcha
  /menu/getitems:
    get:
      operationId: menuGetitems
      parameters:
      - description: The Id of the menu to get.
        explode: true
        in: query
        name: menuid
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Gets the items on the menu
      tags:
      - menu
  /texttoimage:
    get:
      operationId: texttoimage
      parameters:
      - description: The text to convert to an image, use double pipes (||) as a new
          line.
        explode: true
        in: query
        name: text
        required: true
        schema:
          type: string
        style: form
      - description: 'The color of the text, in hex format, without the #.'
        explode: true
        in: query
        name: fontcolor
        required: false
        schema:
          type: string
        style: form
      - description: The size of the text, in points.
        explode: true
        in: query
        name: fontsize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Either vertical or horizontal, default horizontal.
        explode: true
        in: query
        name: direction
        required: false
        schema:
          type: string
        style: form
      - description: The image width in pixels (or height if the direction is vertical).
        explode: true
        in: query
        name: width
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Generates a dynamic image from text
      tags:
      - General
  /qrlogin/get:
    get:
      operationId: qrloginGet
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Gets an image of a QR token
      tags:
      - qrlogin
  /qrlogin/login:
    get:
      operationId: qrloginLogin
      parameters:
      - description: The token read from the QR code.
        explode: true
        in: query
        name: onetimetoken
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Login
      tags:
      - qrlogin
  /appshare/getphone:
    get:
      operationId: appshareGetphone
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Gets the phone number of the current user
      tags:
      - appshare
  /appshare/sendtext:
    get:
      operationId: appshareSendtext
      parameters:
      - description: Phone number to where to send the link. Leave empty to the number
          on file.
        explode: true
        in: query
        name: phonenumber
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Sends an SMS with the link to the app
      tags:
      - appshare
  /sso/generatekey:
    get:
      description: Allows the user to generate or reset the access key for single
        sign-on.
      operationId: ssoGeneratekey
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Generate/reset single sign on access key.
      tags:
      - sso
  /sso/savesettings:
    post:
      description: Allows the user to edit settings for single sign-on.
      operationId: ssoSavesettings
      requestBody:
        content:
          application/json:
            schema:
              properties:
                enabled:
                  description: Specifies whether the single sign on is enabled or
                    not.
                  type: boolean
                expireswheninactive:
                  description: Specifies whether the sessions should expire when inactive.
                  type: boolean
                redirecturl:
                  description: The url the user gets redirected when the session is
                    closed or expires.
                  type: string
              required:
              - enabled
              - expireswheninactive
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Edit single sign-on settings.
      tags:
      - sso
  /sso/getsettings:
    get:
      description: Allows the user to view settings for single sign-on.
      operationId: ssoGetsettings
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: View single sign on settings.
      tags:
      - sso
  /sso/issuetoken:
    get:
      operationId: ssoIssuetoken
      parameters:
      - description: The single sign-on key of the account.
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - description: The email of the user to sign-on.
        explode: true
        in: query
        name: username
        required: true
        schema:
          type: string
        style: form
      - description: Specifies whether the session should expire when inactive.
        explode: true
        in: query
        name: expires
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Issue single sign-on token
      tags:
      - sso
  /license/getcurrent:
    get:
      operationId: licenseGetcurrent
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Gets the current license information
      tags:
      - license
  /license/renew:
    get:
      description: Allows the user to select the option to contact Engineerica when
        the AccuCampus account is nearing its renewal date.
      operationId: licenseRenew
      parameters:
      - description: The e-mail of the user sending the request.
        explode: true
        in: query
        name: email
        required: true
        schema:
          type: string
        style: form
      - description: The phone number of the user sending the request.
        explode: true
        in: query
        name: phonenumber
        required: true
        schema:
          type: string
        style: form
      - description: The job title of the user sending the request.
        explode: true
        in: query
        name: jobtitle
        required: false
        schema:
          type: string
        style: form
      - description: The institution of the user sending the request.
        explode: true
        in: query
        name: institution
        required: false
        schema:
          type: string
        style: form
      - description: Comments entered by the user sending the request.
        explode: true
        in: query
        name: comments
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Contact Engineerica in order to renew the AccuCampus subscription
      tags:
      - license
  /license/acceptagreement:
    get:
      operationId: licenseAcceptagreement
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Accept the license agreement
      tags:
      - license
  /license/getagreementstatus:
    get:
      operationId: licenseGetagreementstatus
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Check if license agreement has been accepted
      tags:
      - license
  /my/rights:
    get:
      operationId: myRights
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Gets the list of actions the user can execute.
      tags:
      - my
  /my/profile:
    get:
      operationId: myProfile
      parameters:
      - description: The size in pixels of the photo URLs returned. Defaults to 40.
          If the size specified is not available, a similar one will be returned.
        explode: true
        in: query
        name: photosize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Gets the logged in user information.
      tags:
      - my
  /my/saveprofile:
    post:
      operationId: mySaveprofile
      requestBody:
        content:
          application/json:
            schema:
              properties:
                firstname:
                  description: The first name of the user.
                  type: string
                middlename:
                  description: The middle name of the user.
                  type: string
                lastname:
                  description: The last name of the user.
                  type: string
                email:
                  description: The email of the user.
                  type: string
                mobilephonenumber:
                  description: The mobile phone number of the user.
                  type: string
                homephonenumber:
                  description: The home phone number of the user.
                  type: string
                workphonenumber:
                  description: The work phone number of the user.
                  type: string
                streetaddress:
                  description: The street address of the user.
                  type: string
                city:
                  description: The city of the user.
                  type: string
                state:
                  description: The state of the user.
                  type: string
                zipcode:
                  description: The zip code of the user.
                  type: string
                title:
                  description: The title of the user.
                  type: string
                company:
                  description: The company of the user.
                  type: string
                photoid:
                  description: The ID of a photo uploaded using user.loadphoto.
                  format: uuid
                  type: string
              required:
              - email
              - firstname
              - lastname
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Updates logged user's profile information
      tags:
      - my
  /my/account:
    get:
      operationId: myAccount
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Gets the logged in user account.
      tags:
      - my
  /user/list:
    get:
      description: Allows the user to view the full list of users and is based on
        role permissions.
      operationId: userList
      parameters:
      - description: The first record to return.
        explode: true
        in: query
        name: from
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The max number of records to return.
        explode: true
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The id of the role to filter users by, or empty to return all
          users.
        explode: true
        in: query
        name: roleid
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: If is 1 then only the users without a card are returned, otherwise
          all users are returned.
        explode: true
        in: query
        name: onlywithoutcard
        required: false
        schema:
          type: string
        style: form
      - description: The size in pixels of the photo URLs returned. Defaults to 40.
          If the size specified is not available, a similar one will be returned.
        explode: true
        in: query
        name: photosize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: View a list of users
      tags:
      - user
  /user/{id}:
    delete:
      description: Allows the user to delete a user.
      operationId: userDelete
      parameters:
      - description: The id of the user to delete.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema: {}
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Delete a user
      tags:
      - user
    get:
      description: Allows the user to search and view a user and their details.
      operationId: userGet
      parameters:
      - description: The id of the user to get.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The size in pixels of the photo URLs returned. Defaults to 40.
          If the size specified is not available, a similar one will be returned.
        explode: true
        in: query
        name: photosize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Search and view details of a user
      tags:
      - user
    post:
      description: Allows the user to create or edit a user.
      operationId: userSave
      parameters:
      - description: The id of the user to save (leave empty to create a new one).
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              properties:
                firstname:
                  description: The first name of the user.
                  type: string
                middlename:
                  description: The middle name of the user.
                  type: string
                lastname:
                  description: The last name of the user.
                  type: string
                email:
                  description: The email of the user.
                  type: string
                mobilephonenumber:
                  description: The mobile phone number of the user.
                  type: string
                homephonenumber:
                  description: The home phone number of the user.
                  type: string
                workphonenumber:
                  description: The work phone number of the user.
                  type: string
                streetaddress:
                  description: The street address of the user.
                  type: string
                city:
                  description: The city of the user.
                  type: string
                state:
                  description: The state of the user.
                  type: string
                zipcode:
                  description: The zip code of the user.
                  type: string
                title:
                  description: The title of the user.
                  type: string
                company:
                  description: The company of the user.
                  type: string
                password:
                  description: The new password of the user.
                  type: string
                roles:
                  description: Comma separated list of roles of the user.
                  type: string
                assigncard:
                  description: True if a new card has to be assigned to the user,
                    otherwise false.
                  type: string
                cardnumber:
                  description: The card number that has to be assigned to the user.
                  type: string
                more:
                  description: Custom data of the user
                  type: string
                photoid:
                  description: The ID of a photo uploaded using user.loadphoto.
                  format: uuid
                  type: string
                active:
                  description: The status of the user.
                  type: boolean
              required:
              - email
              - firstname
              - lastname
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Create or edit a user
      tags:
      - user
  /user/getbycard:
    get:
      description: Allows the user to search for a user by their card number.
      operationId: userGetbycard
      parameters:
      - description: The card number of the user to get.
        explode: true
        in: query
        name: card
        required: true
        schema:
          type: string
        style: form
      - description: The size in pixels of the photo URLs returned. Defaults to 40.
          If the size specified is not available, a similar one will be returned.
        explode: true
        in: query
        name: photosize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Search user by card number
      tags:
      - user
  /user/changepwd:
    get:
      description: Allows the user to change their own password.
      operationId: userChangepwd
      parameters:
      - description: The old password of the authenticated user.
        explode: true
        in: query
        name: oldpass
        required: true
        schema:
          format: uuid
          type: string
        style: form
      - description: The new password of the authenticated user.
        explode: true
        in: query
        name: newpass
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Change user's own password
      tags:
      - user
  /user/changepwdbyreq:
    get:
      operationId: userChangepwdbyreq
      parameters:
      - description: The change password request ID sent by email to the user.
        explode: true
        in: query
        name: changereq
        required: true
        schema:
          type: string
        style: form
      - description: The new password of the user.
        explode: true
        in: query
        name: newpass
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Changes the user password using a change password request id
      tags:
      - user
  /user/requestpwdchange:
    get:
      operationId: userRequestpwdchange
      parameters:
      - description: The domain of the account where the user exists.
        explode: true
        in: query
        name: domain
        required: true
        schema:
          type: string
        style: form
      - description: The email of the user.
        explode: true
        in: query
        name: email
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      summary: Requests a password change
      tags:
      - user
  /user/savepwdchange:
    post:
      description: Allows the user to trigger an email to another user asking them
        to set or change their password.
      operationId: userSavepwdchange
      requestBody:
        content:
          application/json:
            schema:
              properties:
                users:
                  description: A JSON array containing the ids of the users whose
                    passwords have to be set.
                  type: string
                role:
                  description: A specific role whose users passwords have to be set.
                  format: uuid
                  type: string
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Send email to the specified user(s) to set/change their passwords
      tags:
      - user
  /user/loadphoto:
    get:
      description: Allows the user to upload a photo for a user.
      operationId: userLoadphoto
      parameters:
      - description: Set 'file' as value to indicate that a file is being submitted
          in the body (instead of a JSON object).
        explode: true
        in: query
        name: upload
        required: true
        schema:
          type: string
        style: form
      - description: The local name of the uploaded file. For later reference.
        explode: true
        in: query
        name: filename
        required: false
        schema:
          type: string
        style: form
      - description: The user ID to directly associate the upload photo. If not specified,
          a temp ID is returned that can be later specified in 'user.save'.
        explode: true
        in: query
        name: userid
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: 'Set this to true to find the specific user based on the file
          name. '
        explode: true
        in: query
        name: automatch
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Upload a photo for a specific user
      tags:
      - user
  /user/findsimilar:
    get:
      description: Allows the user to be warned if a user they are creating has the
        same card number as another user.
      operationId: userFindsimilar
      parameters:
      - description: The id of the current user.
        explode: true
        in: query
        name: currentid
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: A phone number to search for similar users.
        explode: true
        in: query
        name: phonenumber
        required: false
        schema:
          type: string
        style: form
      - description: A card number to search for similar users.
        explode: true
        in: query
        name: cardnumber
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Finds similar users to prevent duplicates
      tags:
      - user
  /user/movedata:
    get:
      description: Allows administrators to move data between users.
      operationId: userMovedata
      parameters:
      - description: The id of the user that is the source of the data.
        explode: true
        in: query
        name: source
        required: true
        schema:
          format: uuid
          type: string
        style: form
      - description: The id of the user that is the destination of the data.
        explode: true
        in: query
        name: destination
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Move data between users
      tags:
      - user
  /role/list:
    get:
      operationId: roleList
      parameters:
      - description: Filter by name of the role.
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Show a list of roles
      tags:
      - role
  /client/get:
    get:
      operationId: clientGet
      parameters:
      - description: The unique id of the client.
        explode: true
        in: query
        name: client
        required: true
        schema:
          type: string
        style: form
      - description: The custom name of the client.
        explode: true
        in: query
        name: clientname
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Get client
      tags:
      - client
  /client/save:
    post:
      operationId: clientSave
      requestBody:
        content:
          application/json:
            schema:
              properties:
                client:
                  description: The id of the client to save.
                  format: uuid
                  type: string
                clientname:
                  description: The name of the client.
                  type: string
                pushtoken:
                  description: The push token of the client.
                  type: string
              required:
              - client
              - clientname
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Saves a client
      tags:
      - client
  /client/list:
    get:
      operationId: clientList
      parameters:
      - description: The first record to return.
        explode: true
        in: query
        name: from
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The max number of records to return.
        explode: true
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Gets the clients of the specified conference
      tags:
      - client
  /client/sendmessage:
    get:
      operationId: clientSendmessage
      parameters:
      - description: The unique id of the client.
        explode: true
        in: query
        name: uniqueclientid
        required: true
        schema:
          format: uuid
          type: string
        style: form
      - description: The body of the message to send.
        explode: true
        in: query
        name: message
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Send a message to a client
      tags:
      - client
  /bgjob/getstatus:
    get:
      operationId: bgjobGetstatus
      parameters:
      - description: The ID of the job to get the status. 10 most recent will be returned
          if not specified.
        explode: true
        in: query
        name: jobid
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: The job type to filter by.
        explode: true
        in: query
        name: jobtype
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Get background job status
      tags:
      - bgjob
  /setting/get:
    get:
      operationId: settingGet
      parameters:
      - description: The account domain, in case of reading settings annonymously.
        explode: true
        in: query
        name: domain
        required: false
        schema:
          type: string
        style: form
      - description: The option keys to get values for. Enter multiple separated by
          comma.
        explode: true
        in: query
        name: keys
        required: true
        schema:
          type: string
        style: form
      - description: The scope of the settings to get.
        explode: true
        in: query
        name: scope
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Get settings for the account or the specified scope
      tags:
      - setting
  /setting/save:
    post:
      description: Allows the user to affect settings that are not specified elsewhere
        in permissions. This includes Attendance, Appointments, Compass, Media, and
        Social Activity.
      operationId: settingSave
      requestBody:
        content:
          application/json:
            schema:
              properties:
                optionsjson:
                  description: The options to save in the account, in JSON format.
                  type: string
                scope:
                  description: The scope of the settings to save.
                  type: string
              required:
              - optionsjson
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Save settings for the account or the specified scope
      tags:
      - setting
  /setting/addlogo:
    get:
      description: Allows the user to add the logo for the account, which appears
        on all pages on the AccuCampus browser version.
      operationId: settingAddlogo
      parameters:
      - description: Set 'file' as value to indicate that a file is being submitted
          in the body (instead of a JSON object).
        explode: true
        in: query
        name: upload
        required: true
        schema:
          type: string
        style: form
      - description: The original filename, needed to process the file.
        explode: true
        in: query
        name: filename
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Add a logo to the account
      tags:
      - setting
  /setting/viewgeneral:
    get:
      description: Allows the user to view the settings' general section.
      operationId: settingViewgeneral
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: View general settings for the account
      tags:
      - setting
  /actionlog/list:
    get:
      description: Allows the user to view the audit logs for the account.
      operationId: actionlogList
      parameters:
      - description: The id of the user whose action logs have to be returned.
        explode: true
        in: query
        name: user
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: The start date of the period to filter the logs.
        explode: true
        in: query
        name: startdate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date of the period to filter the logs.
        explode: true
        in: query
        name: enddate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The resource to filter the action logs.
        explode: true
        in: query
        name: resource
        required: false
        schema:
          type: string
        style: form
      - description: The action to filter the action logs.
        explode: true
        in: query
        name: actionfilter
        required: false
        schema:
          type: string
        style: form
      - description: The id of the entity that was the argument of the executed action.
        explode: true
        in: query
        name: argument
        required: false
        schema:
          type: string
        style: form
      - description: The first record to return.
        explode: true
        in: query
        name: from
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The max number of records to return.
        explode: true
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: View a list of users action logs
      tags:
      - actionlog
  /version:
    get:
      operationId: version
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Get current version information
      tags:
      - General
  /changelog:
    get:
      operationId: changelog
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Get the application change log
      tags:
      - General
  /easylogin/addbgimage:
    get:
      description: Allows the user to set the background image that all users will
        see when logging into an AccuCampus account not using SSO.
      operationId: easyloginAddbgimage
      parameters:
      - description: Set 'file' as value to indicate that a file is being submitted
          in the body (instead of a JSON object).
        explode: true
        in: query
        name: upload
        required: true
        schema:
          type: string
        style: form
      - description: The original filename, needed to process the file.
        explode: true
        in: query
        name: filename
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Adds background image for the login
      tags:
      - easylogin
  /export:
    get:
      description: Allows the user to export data from AccuCampus into a CSV, HTML,
        or Excel format.
      operationId: export
      parameters:
      - description: What to export.
        explode: true
        in: query
        name: exporttype
        required: true
        schema:
          type: string
        style: form
      - description: The format of the resulting file. Valid types are CSV, HTML,
          XLS.
        explode: true
        in: query
        name: exportformat
        required: true
        schema:
          type: string
        style: form
      - description: 'Pipe separated filters for the export, eg: aaa=val|bbb=val|...'
        explode: true
        in: query
        name: filters
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Export AccuCampus data
      tags:
      - General
  /export/listtypes:
    get:
      operationId: exportListtypes
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Lists available export types
      tags:
      - export
  /location/{id}:
    delete:
      description: Allows the user to delete an existing location.
      operationId: locationDelete
      parameters:
      - description: The id of the location to delete.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema: {}
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Delete a location
      tags:
      - location
    get:
      description: Allows the user to search and view an individual location and its
        details.
      operationId: locationGet
      parameters:
      - description: The id of the location to get.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Search and view details of a location
      tags:
      - location
    post:
      description: Allows the user to create or edit a location.
      operationId: locationSave
      parameters:
      - description: The id of the location save (leave empty to create a new one).
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  description: The name of the location.
                  type: string
                categoryid:
                  description: The id of location's LocationCategory.
                  format: uuid
                  type: string
                categoryname:
                  description: The name of the location's LocationCategory.
                  type: string
                streetaddress:
                  description: The street address of the location.
                  type: string
                latitude:
                  description: The latitude of the location.
                  format: double
                  type: number
                longitude:
                  description: The longitude of the location.
                  format: double
                  type: number
                websiteurl:
                  description: The web site url of the location.
                  type: string
                email:
                  description: The e-mail address of the location.
                  type: string
                moreinformation:
                  description: More information relevant to the location.
                  type: string
                isrestricted:
                  description: Whether this location has the access restricted.
                  type: boolean
                accessroles:
                  description: The roles that can view the info associated to this
                    location, in JSON format.
                  type: string
                order:
                  description: The order of the location.
                  format: int32
                  type: integer
              required:
              - name
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Create or edit a location
      tags:
      - location
  /location/list:
    get:
      description: Allows the user to view the list of all locations to which they
        are scoped.
      operationId: locationList
      parameters:
      - description: The first record to return.
        explode: true
        in: query
        name: from
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The max number of records to return.
        explode: true
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The comma-separated list containing the ids of the locations
          to list.
        explode: true
        in: query
        name: locations
        required: false
        schema:
          type: string
        style: form
      - description: True to list locations sorted by the 'Located In' property. Defaults
          to false.
        explode: true
        in: query
        name: sortbygroup
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: View a list of locations
      tags:
      - location
  /riskmodel/{id}:
    delete:
      description: Allows the user to delete a previously created risk assessment
        model.
      operationId: riskmodelDelete
      parameters:
      - description: The id of the risk assessment model to delete.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema: {}
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Delete a risk assessment model
      tags:
      - riskmodel
    get:
      description: Allows the user to view an individual risk assessment model and
        its details.
      operationId: riskmodelGet
      parameters:
      - description: The id of the risk assessment model to get.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: View details of a risk assessment model
      tags:
      - riskmodel
    post:
      description: Allows the user to create or edit a risk assessment model.
      operationId: riskmodelSave
      parameters:
      - description: The id of the department save (leave empty to create a new one).
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  description: The name of the department.
                  type: string
                excludedfeatures:
                  description: The features to exclude from the model.
                  type: string
                excludedusers:
                  description: The criteria to exclude users from the model.
                  type: string
                newfeatures:
                  description: The new features for this model.
                  type: string
                termprecedences:
                  description: The terms precedences for this model.
                  type: string
              required:
              - name
              - termprecedences
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Create or edit a risk assessment model
      tags:
      - riskmodel
  /riskmodel/list:
    get:
      description: Allows the user to view the full list of risk assessment models.
      operationId: riskmodelList
      parameters:
      - description: The first record to return.
        explode: true
        in: query
        name: from
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The max number of records to return.
        explode: true
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: View a list of risk assessment models
      tags:
      - riskmodel
  /riskmodel/getscore:
    get:
      description: Allows the user to view the risk score of another user.
      operationId: riskmodelGetscore
      parameters:
      - description: The id of the user to get the risk score.
        explode: true
        in: query
        name: userid
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: View the risk score for a specific user
      tags:
      - riskmodel
  /riskmodel/refresh:
    get:
      description: Allows the user to refresh a risk assessment model.
      operationId: riskmodelRefresh
      parameters:
      - description: The id of the risk assessment model whose information has to
          be refreshed.
        explode: true
        in: query
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Refresh the information used in a risk assessment model
      tags:
      - riskmodel
  /riskmodel/process:
    get:
      description: Allows the user to process a risk assessment model once it has
        been created.
      operationId: riskmodelProcess
      parameters:
      - description: The id of the risk assessment model to process.
        explode: true
        in: query
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Process a risk assessment model
      tags:
      - riskmodel
  /riskmodel/predict:
    get:
      description: Allows a user to process a risk prediction from a risk assessment
        model that has processed.
      operationId: riskmodelPredict
      parameters:
      - description: The id of the assessment model to use in order to predict risk.
        explode: true
        in: query
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Predict risk based on an assessment model
      tags:
      - riskmodel
  /riskmodel/checkanalysis:
    get:
      description: Allows the user to check the status of a risk assessment model
        as it is being processed.
      operationId: riskmodelCheckanalysis
      parameters:
      - description: The id of the risk assessment model whose analysis status has
          to be returned.
        explode: true
        in: query
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Check the status of the analysis of a specified risk assessment model
      tags:
      - riskmodel
  /riskmodel/termprecedences:
    get:
      description: Allows the user to view the default term precedences used in a
        model.
      operationId: riskmodelTermprecedences
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: View all default term precedences
      tags:
      - riskmodel
  /adhocquery/{id}:
    delete:
      description: Allows the user to delete a previously created ad hoc query.
      operationId: adhocqueryDelete
      parameters:
      - description: The id of the ad hoc query to delete.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema: {}
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Delete an ad hoc query
      tags:
      - adhocquery
    get:
      description: Allows the user to view an individual ad hoc query with its settings.
      operationId: adhocqueryGet
      parameters:
      - description: The id of the query to get.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: View details of an ad hoc query
      tags:
      - adhocquery
    post:
      description: Allows the user to edit an ad hoc query.
      operationId: adhocquerySave
      parameters:
      - description: The id of the query to save (leave empty to create a new one).
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  description: The name of the query.
                  type: string
                text:
                  description: The text of the query (the query itself).
                  type: string
              required:
              - name
              - text
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Create or edit an ad hoc query
      tags:
      - adhocquery
  /adhocquery/list:
    get:
      description: Allows the user to view the full list of saved queries.
      operationId: adhocqueryList
      parameters:
      - description: The first record to return.
        explode: true
        in: query
        name: from
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The max number of records to return.
        explode: true
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: View a list of saved ad hoc queries
      tags:
      - adhocquery
  /adhocquery/getschema:
    get:
      description: Allows the user to view the list of schema for ad hoc queries.
      operationId: adhocqueryGetschema
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: View the database schema for making ad hoc queries
      tags:
      - adhocquery
  /adhocquery/execute:
    get:
      description: Allows the user to execute an ad hoc query.
      operationId: adhocqueryExecute
      parameters:
      - description: The id of the query to execute.
        explode: true
        in: query
        name: id
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: The query to execute.
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Execute an ad hoc query
      tags:
      - adhocquery
  /adhocquery/checkexecution:
    get:
      description: Allows the user to check whether a query has executed, viewable
        on the query's execution page.
      operationId: adhocqueryCheckexecution
      parameters:
      - description: The id of the ad hoc query execution to be checked.
        explode: true
        in: query
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Check the status of an ad hoc query execution
      tags:
      - adhocquery
  /adhocquery/stopexecution:
    get:
      description: Allows the user to halt the execution of a query that is currently
        being executed.
      operationId: adhocqueryStopexecution
      parameters:
      - description: The id of the ad hoc query execution to be stopped.
        explode: true
        in: query
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Stops the execution of an ad hoc query
      tags:
      - adhocquery
  /adhocquery/listexecutions:
    get:
      description: Allows the user to view the full list of past query executions.
      operationId: adhocqueryListexecutions
      parameters:
      - description: The first record to return.
        explode: true
        in: query
        name: query
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: The first record to return.
        explode: true
        in: query
        name: from
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The max number of records to return.
        explode: true
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: View a list of ad hoc queries executions
      tags:
      - adhocquery
  /adhocreports/reqaccess:
    get:
      description: Allows the user to request access to the ad-hoc reports by clicking,
        'Request Access' under Institutional Research -> Ad-hoc Reports
      operationId: adhocreportsReqaccess
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Request access to the ad-hoc reports
      tags:
      - adhocreports
  /community/invite:
    get:
      description: Allows the user to invite all other users to the AccuCampus Communities.
      operationId: communityInvite
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Sends an invitation to everyone to AccuCampus Communities
      tags:
      - community
  /community/join:
    get:
      description: Allows the user to access the AccuCampus Communities.
      operationId: communityJoin
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Sends an invitation for myself to AccuCampus Communities
      tags:
      - community
  /template/list:
    get:
      description: Allows the user to view the full list of created templates.
      operationId: templateList
      parameters:
      - description: The first record to return.
        explode: true
        in: query
        name: from
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The max number of records to return.
        explode: true
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The kind of the templates to return. It must be included in (badge,
          certificate).
        explode: true
        in: query
        name: kind
        required: true
        schema:
          type: string
        style: form
      - description: If true then it only returns the templates that were designed.
          Otherwise, it returns all.
        explode: true
        in: query
        name: designedonly
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: View a list of defined templates
      tags:
      - template
  /template/{id}:
    delete:
      description: Allows the user to delete an existing template.
      operationId: templateDelete
      parameters:
      - description: The id of the template to delete.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema: {}
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Delete a template
      tags:
      - template
    get:
      description: Allows the user to view a template and its details.
      operationId: templateGet
      parameters:
      - description: The id of the template to get.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: View details of a template
      tags:
      - template
    post:
      description: Allows the user to create or edit a template.
      operationId: templateSave
      parameters:
      - description: The id of the template to save (leave empty to create a new one).
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              properties:
                kind:
                  description: The kind of the templates to return. It must be included
                    in (badge, certificate).
                  type: string
                name:
                  description: The template's name.
                  type: string
                description:
                  description: The template's description.
                  type: string
              required:
              - kind
              - name
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Create or edit a template
      tags:
      - template
  /template/savelayout:
    post:
      description: Allows the user to edit a template's layout.
      operationId: templateSavelayout
      requestBody:
        content:
          application/json:
            schema:
              properties:
                id:
                  description: The id of the template whose layout needs to be saved.
                  format: uuid
                  type: string
                layout:
                  description: The template's layout (in JSON).
                  type: string
              required:
              - id
              - layout
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Save the layout of a template
      tags:
      - template
  /template/addimage:
    get:
      description: Allows the user to add an image to a badge or certificate template.
      operationId: templateAddimage
      parameters:
      - description: The id of the template where the image has to be added
        explode: true
        in: query
        name: template
        required: true
        schema:
          format: uuid
          type: string
        style: form
      - description: Set 'file' as value to indicate that a file is being submitted
          in the body (instead of a JSON object).
        explode: true
        in: query
        name: upload
        required: true
        schema:
          type: string
        style: form
      - description: The local name of the uploaded file. For later reference.
        explode: true
        in: query
        name: filename
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Add an image to a template
      tags:
      - template
  /template/generate:
    get:
      description: Allows the user to generate an existing template as badges or certificates.
      operationId: templateGenerate
      parameters:
      - description: The id of the template to generate.
        explode: true
        in: query
        name: template
        required: true
        schema:
          format: uuid
          type: string
        style: form
      - description: The source key of the selected template data source.
        explode: true
        in: query
        name: source
        required: true
        schema:
          format: uuid
          type: string
        style: form
      - description: True if all the templates should be placed in the same file,
          false if each one shoud be in its own file.
        explode: true
        in: query
        name: singlefile
        required: true
        schema:
          type: boolean
        style: form
      - description: Only the template for these users is created (and emailed if
          'email' is true), enter multiple separated by commas.
        explode: true
        in: query
        name: userid
        required: false
        schema:
          type: string
        style: form
      - description: It specifies the purpose of the creation of the templates. If
          true then is for sending via e-mail, otherwise is just for downloading
        explode: true
        in: query
        name: forsending
        required: false
        schema:
          type: boolean
        style: form
      - description: 'When printing all badges, filter by person type, can be either:
          attendee, presenter or exhibitor'
        explode: true
        in: query
        name: role
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: 'Pipe separated filters for the generation, eg: aaa=val|bbb=val|...'
        explode: true
        in: query
        name: filters
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Generate specified templates
      tags:
      - template
  /template/getgenerated:
    get:
      description: Allows the user to view templates which have been generated as
        badges or certificates.
      operationId: templateGetgenerated
      parameters:
      - description: The id of the job that is creating the templates.
        explode: true
        in: query
        name: jobid
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: View generated templates
      tags:
      - template
  /template/email:
    get:
      description: Allows the user to send generated templates via email through AccuCampus.
      operationId: templateEmail
      parameters:
      - description: The id of the job that is creating the templates.
        explode: true
        in: query
        name: jobid
        required: true
        schema:
          type: string
        style: form
      - description: The kind of the template you're sending. It must be included
          in (badge, certificate).
        explode: true
        in: query
        name: templatekind
        required: false
        schema:
          type: string
        style: form
      - description: The name of the sender to be displayed in the receipients inbox
        explode: true
        in: query
        name: emailfrom
        required: false
        schema:
          type: string
        style: form
      - description: The reply-to field for the emails.
        explode: true
        in: query
        name: emailreplyto
        required: false
        schema:
          type: string
        style: form
      - description: Args depending on the send-to flag.
        explode: true
        in: query
        name: emailsubject
        required: true
        schema:
          type: string
        style: form
      - description: Args depending on the send-to flag.
        explode: true
        in: query
        name: emailbody
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Send generated templates by email
      tags:
      - template
  /template/listsources:
    get:
      description: Allows the user to see tokens to be used in the template
      operationId: templateListsources
      parameters:
      - description: The kind of the templates to return. It must be included in (badge,
          certificate).
        explode: true
        in: query
        name: kind
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: View a list of templates' data sources
      tags:
      - template
  /textcredit/remaining:
    get:
      operationId: textcreditRemaining
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Gets the remaining text credits for the account
      tags:
      - textcredit
  /translation/list:
    get:
      operationId: translationList
      parameters:
      - description: Text to search/filter translations.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: If true then it returns only the terms translated. Otherwise,
          it returns all.
        explode: true
        in: query
        name: nondefaultonly
        required: false
        schema:
          type: boolean
        style: form
      - description: If true then it uses the app default translation as the universal
          term.
        explode: true
        in: query
        name: appdefaultasuniversal
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Lists all the available translations in the system
      tags:
      - translation
  /translation/{id}:
    post:
      description: Allows the user to edit a translation for the entire account.
      operationId: translationSave
      parameters:
      - description: The id of the translation as returned by translation.list.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              properties:
                translation:
                  description: The translated text.
                  type: string
              required:
              - translation
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Edit a translation
      tags:
      - translation
  /translation/get:
    get:
      operationId: translationGet
      parameters:
      - description: Pipe separated list of universal text to be translated.
        explode: true
        in: query
        name: universal
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Gets the translations of the specified values
      tags:
      - translation
  /translation/getcachefile:
    get:
      operationId: translationGetcachefile
      parameters:
      - description: The id of the account whose translations file has to be retrieved.
        explode: true
        in: query
        name: account
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Get the file containing the translations
      tags:
      - translation
  /usersettings/save:
    post:
      operationId: usersettingsSave
      requestBody:
        content:
          application/json:
            schema:
              properties:
                key:
                  description: Setting key to save.
                  type: string
                value:
                  description: Setting value to save.
                  type: string
                user:
                  description: The user id whose settings have to be saved.
                  format: uuid
                  type: string
              required:
              - key
              - value
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Saves a user setting
      tags:
      - usersettings
  /usersettings/savemultiple:
    post:
      operationId: usersettingsSavemultiple
      requestBody:
        content:
          application/json:
            schema:
              properties:
                optionsjson:
                  description: The options to save in the account, in JSON format.
                  type: string
                user:
                  description: The user id whose settings have to be saved.
                  format: uuid
                  type: string
              required:
              - optionsjson
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Save multiple user settings at once
      tags:
      - usersettings
  /usersettings/get:
    get:
      operationId: usersettingsGet
      parameters:
      - description: Setting key to get. Can be multiple separated by commas.
        explode: true
        in: query
        name: keys
        required: true
        schema:
          type: string
        style: form
      - description: The user id whose settings have to be returned.
        explode: true
        in: query
        name: user
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Lists available user settings
      tags:
      - usersettings
  /usersettings/getmultiple:
    get:
      operationId: usersettingsGetmultiple
      parameters:
      - description: Setting key to get. Can be multiple separated by commas.
        explode: true
        in: query
        name: keys
        required: true
        schema:
          type: string
        style: form
      - description: The user id whose settings have to be returned.
        explode: true
        in: query
        name: user
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Get multiple user settings
      tags:
      - usersettings
  /department/{id}:
    delete:
      description: Allows the user to delete an existing college department.
      operationId: departmentDelete
      parameters:
      - description: The id of the department to delete.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema: {}
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Delete a college department
      tags:
      - department
    get:
      description: Allows the user to view an individual college department and its
        details.
      operationId: departmentGet
      parameters:
      - description: The id of the department to get.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Search and view details of a college department
      tags:
      - department
    post:
      description: Allows the user to create or edit a college department.
      operationId: departmentSave
      parameters:
      - description: The id of the department save (leave empty to create a new one).
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  description: The name of the department.
                  type: string
                details:
                  description: The details of the department.
                  type: string
              required:
              - name
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Create or edit a college department
      tags:
      - department
  /department/list:
    get:
      description: Allows the user to view the full list of college departments.
      operationId: departmentList
      parameters:
      - description: The first record to return.
        explode: true
        in: query
        name: from
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The max number of records to return.
        explode: true
        in: query
        name: count
        required: true
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: View a list of college departments
      tags:
      - department
  /quickpanel/init:
    get:
      operationId: quickpanelInit
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Returns the initial information required to show the quick panels
      tags:
      - quickpanel
  /quickpanel/fetchwidget:
    get:
      operationId: quickpanelFetchwidget
      parameters:
      - description: The ID of the data to fetch it's data.
        explode: true
        in: query
        name: widgetid
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Fetches the information for a specific widget.
      tags:
      - quickpanel
  /quickpanel/listwidgettypes:
    get:
      operationId: quickpanelListwidgettypes
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Lists all the widget types available in the system
      tags:
      - quickpanel
  /quickpanel/getwidget:
    get:
      description: Allows the user to view a widget added in as Quick Panel.
      operationId: quickpanelGetwidget
      parameters:
      - description: The id of the widget to get.
        explode: true
        in: query
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: View details of a widget included in the Quick Panel
      tags:
      - quickpanel
  /quickpanel/listwidgets:
    get:
      description: Allows the user to view the widgets that have been added to the
        Quick Panel.
      operationId: quickpanelListwidgets
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Lists all the widgets that are added in the Quick Panel
      tags:
      - quickpanel
  /quickpanel/savewidget:
    post:
      description: Allows the user to save a widget to the Quick Panel.
      operationId: quickpanelSavewidget
      requestBody:
        content:
          application/json:
            schema:
              properties:
                id:
                  description: The id of the widget.
                  format: uuid
                  type: string
                sectionname:
                  description: The section name where to add the widget.
                  type: string
                sortorder:
                  description: The sort order of the widget.
                  format: int32
                  type: integer
                title:
                  description: Title of the widget.
                  type: string
                type:
                  description: Type of the widget.
                  type: string
                data:
                  description: Context data of the widget.
                  type: string
                roleids:
                  description: CSV list of roles that display this widget.
                  type: string
              required:
              - data
              - roleids
              - sectionname
              - sortorder
              - title
              - type
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Saves a widget for the Quick Panel
      tags:
      - quickpanel
  /quickpanel/deletewidget:
    delete:
      description: Allows the user to delete a widget that has been added to the Quick
        Panel.
      operationId: quickpanelDeletewidget
      requestBody:
        content:
          application/json:
            schema:
              properties:
                id:
                  description: The id of the widget.
                  format: uuid
                  type: string
              required:
              - id
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Deletes a widget from the Quick Panel
      tags:
      - quickpanel
  /quickpanel/reorderwidgets:
    get:
      operationId: quickpanelReorderwidgets
      parameters:
      - description: The section name where to sort the widgets.
        explode: true
        in: query
        name: sectionname
        required: true
        schema:
          type: string
        style: form
      - description: CSV list of the widgets to reorder.
        explode: true
        in: query
        name: orderids
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Reorders the widgets and moves them to a specific column
      tags:
      - quickpanel
  /term/{id}:
    delete:
      description: Allows the user to delete a term from the existing list.
      operationId: termDelete
      parameters:
      - description: The id of the term to delete.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema: {}
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Delete a term
      tags:
      - term
    get:
      description: Allows the user to view a term and its details.
      operationId: termGet
      parameters:
      - description: The id of the term to get.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Search and view details of a term
      tags:
      - term
    post:
      description: Allows the user to create and edit terms.
      operationId: termSave
      parameters:
      - description: The id of the term to save (leave empty to create a new one).
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  description: The name of the term.
                  type: string
                start:
                  description: The date when the term starts.
                  format: date-time
                  type: string
                end:
                  description: The date when the term ends.
                  format: date-time
                  type: string
              required:
              - end
              - name
              - start
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Create and edit terms
      tags:
      - term
  /term/list:
    get:
      description: Allows the user to view the full list of existing term.
      operationId: termList
      parameters:
      - description: The first record to return.
        explode: true
        in: query
        name: from
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The max number of records to return.
        explode: true
        in: query
        name: count
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Specifies whether the terms in the past should be returned or
          not.
        explode: true
        in: query
        name: notpast
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Search and view details of all terms
      tags:
      - term
  /holiday/suggest:
    get:
      description: Allows the user to view the holiday suggestions for each term.
      operationId: holidaySuggest
      parameters:
      - description: The term to get holidays from.
        explode: true
        in: query
        name: term
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: View the holiday suggestions in the given term
      tags:
      - holiday
  /holiday/list:
    get:
      description: Allows the user to view all holidays entered.
      operationId: holidayList
      parameters:
      - description: The term to get holidays from.
        explode: true
        in: query
        name: term
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: View a list of entered holidays
      tags:
      - holiday
  /holiday/save:
    post:
      description: Allows the user to create or edit holidays.
      operationId: holidaySave
      requestBody:
        content:
          application/json:
            schema:
              properties:
                daysoff:
                  description: A json list of names and dates.
                  type: string
              required:
              - daysoff
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Create or edit a list of holidays
      tags:
      - holiday
  /notificationtopic/{id}:
    delete:
      description: Allows the user to delete an existing notification topic.
      operationId: notificationtopicDelete
      parameters:
      - description: The id of the notification topic to delete.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema: {}
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Delete a notification topic
      tags:
      - notificationtopic
    get:
      description: Allows the user to view an individual notification topic and its
        details.
      operationId: notificationtopicGet
      parameters:
      - description: The id of the notification topic to get.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          $ref: '#/components/schemas/ActionResult'
      security:
      - bearerAuth: []
      summary: Search and view details of a notification topic
      tags:
      - notificationtopic
    post:
      description: Allows the user to create and edit a notification topic.
      operationId: notificationtopicSave
      parameters:
      - description: The id of the topic to save (leave empty to create a new one).
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  description: The name of the topic.
[...]
