=begin
#AccuCampus OpenAPI 3

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 4.3.1

=end

require 'cgi'

module OpenapiClient
  class CompassserviceApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # View all the services added to the compass
    # @param [Hash] opts the optional parameters
    # @option opts [String] :category The id of the category to filter the services.
    # @return [nil]
    def compassservice_list(opts = {})
      compassservice_list_with_http_info(opts)
      nil
    end

    # View all the services added to the compass
    # @param [Hash] opts the optional parameters
    # @option opts [String] :category The id of the category to filter the services.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def compassservice_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CompassserviceApi.compassservice_list ...'
      end
      # resource path
      local_var_path = '/compassservice/list'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'category'] = opts[:'category'] if !opts[:'category'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompassserviceApi#compassservice_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # View all the locations where a service added to the compass is available
    # @param serviceid [String] The id of the service to get its locations.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def compassservice_listlocations(serviceid, opts = {})
      compassservice_listlocations_with_http_info(serviceid, opts)
      nil
    end

    # View all the locations where a service added to the compass is available
    # @param serviceid [String] The id of the service to get its locations.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def compassservice_listlocations_with_http_info(serviceid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CompassserviceApi.compassservice_listlocations ...'
      end
      # verify the required parameter 'serviceid' is set
      if @api_client.config.client_side_validation && serviceid.nil?
        fail ArgumentError, "Missing the required parameter 'serviceid' when calling CompassserviceApi.compassservice_listlocations"
      end
      # resource path
      local_var_path = '/compassservice/listlocations'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'serviceid'] = serviceid

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompassserviceApi#compassservice_listlocations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
