=begin
#AccuCampus OpenAPI 3

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 4.3.1

=end

require 'cgi'

module OpenapiClient
  class MenuApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Gets the items on the menu
    # @param menuid [String] The Id of the menu to get.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def menu_getitems(menuid, opts = {})
      menu_getitems_with_http_info(menuid, opts)
      nil
    end

    # Gets the items on the menu
    # @param menuid [String] The Id of the menu to get.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def menu_getitems_with_http_info(menuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MenuApi.menu_getitems ...'
      end
      # verify the required parameter 'menuid' is set
      if @api_client.config.client_side_validation && menuid.nil?
        fail ArgumentError, "Missing the required parameter 'menuid' when calling MenuApi.menu_getitems"
      end
      # resource path
      local_var_path = '/menu/getitems'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'menuid'] = menuid

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MenuApi#menu_getitems\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
