=begin
#AccuCampus OpenAPI 3

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 4.3.1

=end

require 'cgi'

module OpenapiClient
  class VirtuallineApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add myself to a waiting line
    # Allows the user to add themselves to a waiting line from the AccuCampus mobile app.
    # @param waitinglineid [String] ID of the waiting line to join.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def virtualline_addmyself(waitinglineid, opts = {})
      virtualline_addmyself_with_http_info(waitinglineid, opts)
      nil
    end

    # Add myself to a waiting line
    # Allows the user to add themselves to a waiting line from the AccuCampus mobile app.
    # @param waitinglineid [String] ID of the waiting line to join.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def virtualline_addmyself_with_http_info(waitinglineid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtuallineApi.virtualline_addmyself ...'
      end
      # verify the required parameter 'waitinglineid' is set
      if @api_client.config.client_side_validation && waitinglineid.nil?
        fail ArgumentError, "Missing the required parameter 'waitinglineid' when calling VirtuallineApi.virtualline_addmyself"
      end
      # resource path
      local_var_path = '/virtualline/addmyself'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'waitinglineid'] = waitinglineid

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtuallineApi#virtualline_addmyself\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lists waiting lines that have remote access enabled
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def virtualline_list(opts = {})
      virtualline_list_with_http_info(opts)
      nil
    end

    # Lists waiting lines that have remote access enabled
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def virtualline_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtuallineApi.virtualline_list ...'
      end
      # resource path
      local_var_path = '/virtualline/list'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtuallineApi#virtualline_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove myself from a waiting line
    # Allows the user to remove themselves from a waiting line in the AccuCampus mobile app.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def virtualline_removemyself(opts = {})
      virtualline_removemyself_with_http_info(opts)
      nil
    end

    # Remove myself from a waiting line
    # Allows the user to remove themselves from a waiting line in the AccuCampus mobile app.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def virtualline_removemyself_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtuallineApi.virtualline_removemyself ...'
      end
      # resource path
      local_var_path = '/virtualline/removemyself'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtuallineApi#virtualline_removemyself\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
